.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

@-moz-keyframes keeper-tumble-die {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes keeper-tumble-die {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt.rtl .prompt-container > .keeper-record-field-password .keeper-record-field .keeper-password > div .keeper-iconbutton-eyeball {
  top: 0;
  left: 0;
  right: initial;
  -moz-transform: translateX(36px) !important;
   -ms-transform: translateX(36px) !important;
       transform: translateX(36px) !important;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt.rtl .prompt-container .keeper-iconbutton-dice {
  left: 16px !important;
  right: auto !important;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container > .keeper-record-field-password .keeper-record-field .keeper-password {
  min-height: 28.8px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container > .keeper-record-field-password .keeper-record-field .keeper-password > div .keeper-input {
  line-break: anywhere;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container > .keeper-record-field-password .keeper-record-field .keeper-password > div .keeper-iconbutton-eyeball {
  top: 0;
  right: 0;
  left: initial;
  -moz-transform: translateX(-36px);
   -ms-transform: translateX(-36px);
       transform: translateX(-36px);
  position: absolute !important;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .keeper-iconbutton-dice {
  width: 24px;
  height: 24px;
  right: 16px;
  top: 164px;
  cursor: pointer;
  position: absolute;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .keeper-iconbutton-dice.rotating {
  -moz-animation: keeper-tumble-die 0.25s linear;
       animation: keeper-tumble-die 0.25s linear;
  -moz-animation-iteration-count: 3;
       animation-iteration-count: 3;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  margin-bottom: 8px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options > p:nth-child(1) {
  font-size: 13px;
  margin: 0;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-slider {
  height: 16px;
  margin: 4px 0 6px;
  position: relative;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-slider .password-options-slider-control {
  background-color: white;
  border: 0 solid #e3e3e3;
  box-shadow: 0 1px 2px 0;
  border-radius: 8px;
  cursor: pointer;
  height: 16px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 16px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-slider .password-options-slider-control.mousedown {
  box-shadow: 0 0 5px #333;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-slider .password-options-slider-background {
  height: 4px;
  width: 100%;
  background-color: rgb(217, 217, 217);
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-checkbox-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: justify;
       justify-content: space-between;
  width: 100%;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-checkbox-container > div {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-align: center;
       align-items: center;
  cursor: pointer;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-checkbox-container > div > svg {
  width: 18px;
  height: 18px;
  margin: 0 6px 0 0;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-checkbox-container > div > svg path {
  fill: rgb(27, 116, 218);
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container .password-options .password-options-checkbox-container > div > span {
  font-size: 13px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .prompt-container > .password-privacy-screen {
  -moz-transform: translateY(-8px);
   -ms-transform: translateY(-8px);
       transform: translateY(-8px);
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay {
  display: -moz-box;
  display: flex;
  padding: 17px 16px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: center;
       justify-content: center;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal {
  width: 100%;
  position: static;
  -moz-transform: none;
   -ms-transform: none;
       transform: none;
  max-height: 424px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal.dark-mode .disclaimer-span {
  color: #b3b3b3;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal.dark-mode .domain-errors-modal-description-container.scrollbar {
  border-color: #565656 !important;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal .container-without-icon {
  gap: 14px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal .container-without-icon .disclaimer-text .domain-errors-modal-description-container {
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;
  overflow-y: scroll;
  max-height: 216px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal .container-without-icon .disclaimer-text .domain-errors-modal-description-container.scrollbar {
  border-color: #d8d8d8;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal .container-without-icon .disclaimer-text .domain-errors-modal-description-container.scrollbar.scrollbar-at-top {
  border-top: none;
}
div#keeper-extension-root > #keeper-extension.newPasswordPrompt .disclaimer-overlay .disclaimer-modal .container-without-icon .disclaimer-text .domain-errors-modal-description-container.scrollbar.scrollbar-at-bottom {
  border-bottom: none;
}