.md-toggle label {
  position: relative;
  display: block;
  height: 12px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #888;
}
.md-toggle label::after {
  position: absolute;
  top: -4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  content: "";
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  left: -2px;
}
.md-toggle input,
.md-toggle keeper-input {
  display: none;
}
.md-toggle input ~ label::after,
.md-toggle keeper-input ~ label::after {
  border: 1px solid #888;
}
.md-toggle input:checked:disabled ~ label,
.md-toggle keeper-input:checked:disabled ~ label {
  background: #c2e3ca;
  cursor: not-allowed;
}
.md-toggle input:checked ~ label, .md-toggle input[checked=true] ~ label,
.md-toggle keeper-input:checked ~ label,
.md-toggle keeper-input[checked=true] ~ label {
  background: #008a22;
}
.md-toggle input:checked ~ label::after, .md-toggle input[checked=true] ~ label::after,
.md-toggle keeper-input:checked ~ label::after,
.md-toggle keeper-input[checked=true] ~ label::after {
  border: 1px solid #008a22;
  left: 12px;
}
.md-toggle input ~ label.high-contrast-border-label-highlight::after,
.md-toggle keeper-input ~ label.high-contrast-border-label-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle input.high-contrast-border-label-highlight:checked ~ label::after, .md-toggle input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle keeper-input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle keeper-input ~ label.high-contrast-border-rounded-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle input:checked.high-contrast-border-rounded-highlight ~ label::after, .md-toggle input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle keeper-input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle keeper-input[checked=true].high-contrast-border-rounded-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle input ~ label.high-contrast-border-label::after,
.md-toggle keeper-input ~ label.high-contrast-border-label::after {
  border: 10px solid black;
}
.md-toggle input:checked.high-contrast-border-label-highlight ~ label::after, .md-toggle input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle keeper-input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid black;
  left: 12px;
}
.md-toggle input .disabled,
.md-toggle keeper-input .disabled {
  background: #888;
  pointer-events: none;
}
.md-toggle input .disabled::after,
.md-toggle keeper-input .disabled::after {
  background: #f5f5f5;
}
.md-toggle input .checked-disabled,
.md-toggle keeper-input .checked-disabled {
  background: #008a22;
  pointer-events: none;
}
.md-toggle input .checked-disabled::after,
.md-toggle keeper-input .checked-disabled::after {
  background: #f5f5f5;
}

.md-toggle.high-contrast-border-rounded label,
.md-toggle.high-contrast-border-label label {
  position: relative;
  display: block;
  height: 12px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #888;
}
.md-toggle.high-contrast-border-rounded label::after,
.md-toggle.high-contrast-border-label label::after {
  position: absolute;
  top: -4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  content: "";
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  left: -2px;
}
.md-toggle.high-contrast-border-rounded input,
.md-toggle.high-contrast-border-rounded keeper-input,
.md-toggle.high-contrast-border-label input,
.md-toggle.high-contrast-border-label keeper-input {
  display: none;
}
.md-toggle.high-contrast-border-rounded input ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input ~ label::after,
.md-toggle.high-contrast-border-label input ~ label::after,
.md-toggle.high-contrast-border-label keeper-input ~ label::after {
  border: 10px solid ButtonText;
  height: 0;
  width: 0;
}
.md-toggle.high-contrast-border-rounded input:checked:disabled ~ label,
.md-toggle.high-contrast-border-rounded keeper-input:checked:disabled ~ label,
.md-toggle.high-contrast-border-label input:checked:disabled ~ label,
.md-toggle.high-contrast-border-label keeper-input:checked:disabled ~ label {
  background: #c2e3ca;
  cursor: not-allowed;
}
.md-toggle.high-contrast-border-rounded input:checked ~ label, .md-toggle.high-contrast-border-rounded input[checked=true] ~ label,
.md-toggle.high-contrast-border-rounded keeper-input:checked ~ label,
.md-toggle.high-contrast-border-rounded keeper-input[checked=true] ~ label,
.md-toggle.high-contrast-border-label input:checked ~ label,
.md-toggle.high-contrast-border-label input[checked=true] ~ label,
.md-toggle.high-contrast-border-label keeper-input:checked ~ label,
.md-toggle.high-contrast-border-label keeper-input[checked=true] ~ label {
  background: #008a22;
}
.md-toggle.high-contrast-border-rounded input:checked ~ label::after, .md-toggle.high-contrast-border-rounded input[checked=true] ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input:checked ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input[checked=true] ~ label::after,
.md-toggle.high-contrast-border-label input:checked ~ label::after,
.md-toggle.high-contrast-border-label input[checked=true] ~ label::after,
.md-toggle.high-contrast-border-label keeper-input:checked ~ label::after,
.md-toggle.high-contrast-border-label keeper-input[checked=true] ~ label::after {
  border: 10px solid ButtonText;
  height: 0;
  width: 0;
  left: 12px;
}
.md-toggle.high-contrast-border-rounded input ~ label.high-contrast-border-label-highlight::after,
.md-toggle.high-contrast-border-rounded keeper-input ~ label.high-contrast-border-label-highlight::after,
.md-toggle.high-contrast-border-label input ~ label.high-contrast-border-label-highlight::after,
.md-toggle.high-contrast-border-label keeper-input ~ label.high-contrast-border-label-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle.high-contrast-border-rounded input.high-contrast-border-label-highlight:checked ~ label::after, .md-toggle.high-contrast-border-rounded input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-label input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle.high-contrast-border-label input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-label keeper-input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle.high-contrast-border-label keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle.high-contrast-border-rounded input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle.high-contrast-border-rounded keeper-input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle.high-contrast-border-label input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle.high-contrast-border-label keeper-input ~ label.high-contrast-border-rounded-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle.high-contrast-border-rounded input:checked.high-contrast-border-rounded-highlight ~ label::after, .md-toggle.high-contrast-border-rounded input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle.high-contrast-border-label input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle.high-contrast-border-label input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle.high-contrast-border-label keeper-input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle.high-contrast-border-label keeper-input[checked=true].high-contrast-border-rounded-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle.high-contrast-border-rounded input ~ label.high-contrast-border-label::after,
.md-toggle.high-contrast-border-rounded keeper-input ~ label.high-contrast-border-label::after,
.md-toggle.high-contrast-border-label input ~ label.high-contrast-border-label::after,
.md-toggle.high-contrast-border-label keeper-input ~ label.high-contrast-border-label::after {
  border: 10px solid black;
}
.md-toggle.high-contrast-border-rounded input:checked.high-contrast-border-label-highlight ~ label::after, .md-toggle.high-contrast-border-rounded input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-rounded keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-label input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-label input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-label keeper-input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle.high-contrast-border-label keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid black;
  left: 12px;
}
.md-toggle.high-contrast-border-rounded input .disabled,
.md-toggle.high-contrast-border-rounded keeper-input .disabled,
.md-toggle.high-contrast-border-label input .disabled,
.md-toggle.high-contrast-border-label keeper-input .disabled {
  background: #888;
  pointer-events: none;
}
.md-toggle.high-contrast-border-rounded input .disabled::after,
.md-toggle.high-contrast-border-rounded keeper-input .disabled::after,
.md-toggle.high-contrast-border-label input .disabled::after,
.md-toggle.high-contrast-border-label keeper-input .disabled::after {
  background: #f5f5f5;
}
.md-toggle.high-contrast-border-rounded input .checked-disabled,
.md-toggle.high-contrast-border-rounded keeper-input .checked-disabled,
.md-toggle.high-contrast-border-label input .checked-disabled,
.md-toggle.high-contrast-border-label keeper-input .checked-disabled {
  background: #008a22;
  pointer-events: none;
}
.md-toggle.high-contrast-border-rounded input .checked-disabled::after,
.md-toggle.high-contrast-border-rounded keeper-input .checked-disabled::after,
.md-toggle.high-contrast-border-label input .checked-disabled::after,
.md-toggle.high-contrast-border-label keeper-input .checked-disabled::after {
  background: #f5f5f5;
}

.md-toggle-checked label {
  position: relative;
  display: block;
  height: 12px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #008a22;
}
.md-toggle-checked label::after {
  position: absolute;
  top: -4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  content: "";
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  left: 12px;
}
.md-toggle-checked input,
.md-toggle-checked keeper-input {
  display: none;
}
.md-toggle-checked input ~ label::after,
.md-toggle-checked keeper-input ~ label::after {
  border: 1px solid #888;
}
.md-toggle-checked input:checked:disabled ~ label,
.md-toggle-checked keeper-input:checked:disabled ~ label {
  background: #c2e3ca;
  cursor: not-allowed;
}
.md-toggle-checked input:checked ~ label, .md-toggle-checked input[checked=true] ~ label,
.md-toggle-checked keeper-input:checked ~ label,
.md-toggle-checked keeper-input[checked=true] ~ label {
  background: #008a22;
}
.md-toggle-checked input:checked ~ label::after, .md-toggle-checked input[checked=true] ~ label::after,
.md-toggle-checked keeper-input:checked ~ label::after,
.md-toggle-checked keeper-input[checked=true] ~ label::after {
  border: 1px solid #008a22;
  left: 12px;
}
.md-toggle-checked input ~ label.high-contrast-border-label-highlight::after,
.md-toggle-checked keeper-input ~ label.high-contrast-border-label-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle-checked input.high-contrast-border-label-highlight:checked ~ label::after, .md-toggle-checked input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked keeper-input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle-checked keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle-checked input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle-checked keeper-input ~ label.high-contrast-border-rounded-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle-checked input:checked.high-contrast-border-rounded-highlight ~ label::after, .md-toggle-checked input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked keeper-input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked keeper-input[checked=true].high-contrast-border-rounded-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle-checked input ~ label.high-contrast-border-label::after,
.md-toggle-checked keeper-input ~ label.high-contrast-border-label::after {
  border: 10px solid black;
}
.md-toggle-checked input:checked.high-contrast-border-label-highlight ~ label::after, .md-toggle-checked input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked keeper-input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid black;
  left: 12px;
}
.md-toggle-checked input .disabled,
.md-toggle-checked keeper-input .disabled {
  background: #888;
  pointer-events: none;
}
.md-toggle-checked input .disabled::after,
.md-toggle-checked keeper-input .disabled::after {
  background: #f5f5f5;
}
.md-toggle-checked input .checked-disabled,
.md-toggle-checked keeper-input .checked-disabled {
  background: #008a22;
  pointer-events: none;
}
.md-toggle-checked input .checked-disabled::after,
.md-toggle-checked keeper-input .checked-disabled::after {
  background: #f5f5f5;
}

.md-toggle-checked.high-contrast-border-rounded-highlight label,
.md-toggle-checked.high-contrast-border-label-highlight label {
  position: relative;
  display: block;
  height: 12px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #008a22;
}
.md-toggle-checked.high-contrast-border-rounded-highlight label::after,
.md-toggle-checked.high-contrast-border-label-highlight label::after {
  position: absolute;
  top: -4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  content: "";
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  left: 12px;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input,
.md-toggle-checked.high-contrast-border-label-highlight input,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input {
  display: none;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input ~ label::after {
  border: 10px solid ButtonText;
  height: 0;
  width: 0;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input:checked:disabled ~ label,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input:checked:disabled ~ label,
.md-toggle-checked.high-contrast-border-label-highlight input:checked:disabled ~ label,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input:checked:disabled ~ label {
  background: #c2e3ca;
  cursor: not-allowed;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input:checked ~ label, .md-toggle-checked.high-contrast-border-rounded-highlight input[checked=true] ~ label,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input:checked ~ label,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input[checked=true] ~ label,
.md-toggle-checked.high-contrast-border-label-highlight input:checked ~ label,
.md-toggle-checked.high-contrast-border-label-highlight input[checked=true] ~ label,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input:checked ~ label,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input[checked=true] ~ label {
  background: #008a22;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input:checked ~ label::after, .md-toggle-checked.high-contrast-border-rounded-highlight input[checked=true] ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input:checked ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input[checked=true] ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input:checked ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input[checked=true] ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input:checked ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input[checked=true] ~ label::after {
  border: 10px solid ButtonText;
  height: 0;
  width: 0;
  left: 12px;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input ~ label.high-contrast-border-label-highlight::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input ~ label.high-contrast-border-label-highlight::after,
.md-toggle-checked.high-contrast-border-label-highlight input ~ label.high-contrast-border-label-highlight::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input ~ label.high-contrast-border-label-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input.high-contrast-border-label-highlight:checked ~ label::after, .md-toggle-checked.high-contrast-border-rounded-highlight input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input.high-contrast-border-label-highlight:checked ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle-checked.high-contrast-border-label-highlight input ~ label.high-contrast-border-rounded-highlight::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input ~ label.high-contrast-border-rounded-highlight::after {
  border: 10px solid Highlight;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input:checked.high-contrast-border-rounded-highlight ~ label::after, .md-toggle-checked.high-contrast-border-rounded-highlight input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input[checked=true].high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input:checked.high-contrast-border-rounded-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input[checked=true].high-contrast-border-rounded-highlight ~ label::after {
  border: 10px solid Highlight;
  left: 12px;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input ~ label.high-contrast-border-label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input ~ label.high-contrast-border-label::after,
.md-toggle-checked.high-contrast-border-label-highlight input ~ label.high-contrast-border-label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input ~ label.high-contrast-border-label::after {
  border: 10px solid black;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input:checked.high-contrast-border-label-highlight ~ label::after, .md-toggle-checked.high-contrast-border-rounded-highlight input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight input[checked=true].high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input:checked.high-contrast-border-label-highlight ~ label::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input[checked=true].high-contrast-border-label-highlight ~ label::after {
  border: 10px solid black;
  left: 12px;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input .disabled,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input .disabled,
.md-toggle-checked.high-contrast-border-label-highlight input .disabled,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input .disabled {
  background: #888;
  pointer-events: none;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input .disabled::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input .disabled::after,
.md-toggle-checked.high-contrast-border-label-highlight input .disabled::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input .disabled::after {
  background: #f5f5f5;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input .checked-disabled,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input .checked-disabled,
.md-toggle-checked.high-contrast-border-label-highlight input .checked-disabled,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input .checked-disabled {
  background: #008a22;
  pointer-events: none;
}
.md-toggle-checked.high-contrast-border-rounded-highlight input .checked-disabled::after,
.md-toggle-checked.high-contrast-border-rounded-highlight keeper-input .checked-disabled::after,
.md-toggle-checked.high-contrast-border-label-highlight input .checked-disabled::after,
.md-toggle-checked.high-contrast-border-label-highlight keeper-input .checked-disabled::after {
  background: #f5f5f5;
}