.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.landscape .default-overlay-alert-child-view {
  width: 328px;
}

.default-overlay-alert-child-view {
  display: -moz-box;
  display: flex;
  width: 100%;
  padding: 20px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  background-color: #fff;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.3);
}
.high-contrast-mode .default-overlay-alert-child-view {
  border: 1px solid CanvasText;
}
.dark-mode .default-overlay-alert-child-view {
  background-color: #333;
}
.default-overlay-alert-child-view .keeper-iconbutton-error-outline {
  width: 32px;
  height: 32px;
}
.default-overlay-alert-child-view .keeper-iconbutton-error-outline path {
  fill: #1b74da;
}
.dark-mode .default-overlay-alert-child-view .keeper-iconbutton-error-outline path {
  fill: #48b6ff;
}
.high-contrast-mode .default-overlay-alert-child-view .keeper-iconbutton-error-outline path {
  fill: CanvasText;
}
.default-overlay-alert-child-view .body-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  gap: 24px;
  width: 100%;
}
.default-overlay-alert-child-view .body-container .messages-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  gap: 8px;
  width: 100%;
}
.default-overlay-alert-child-view .body-container .messages-container h1 {
  font-family: Outfit, sans-serif;
  margin: 0;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
}
.dark-mode .default-overlay-alert-child-view .body-container .messages-container h1 {
  color: #fff;
}
.default-overlay-alert-child-view .body-container .messages-container p.text {
  font-family: Outfit, sans-serif;
  color: #565656;
  color: #565656;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.dark-mode .default-overlay-alert-child-view .body-container .messages-container p.text {
  color: #fff !important;
}
.default-overlay-alert-child-view .body-container .button-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: start;
       align-items: flex-start;
  gap: 8px;
}
.default-overlay-alert-child-view .body-container .button-container .keeper-button {
  font-size: 15px;
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  -moz-box-flex: 1;
       flex: 1 0 0;
  cursor: pointer;
  height: 36px;
  padding: 0 16px;
  border-radius: 8px;
  background-color: #ffc700;
  color: #000;
}
.high-contrast-mode .default-overlay-alert-child-view .body-container .button-container .keeper-button {
  color: ButtonText;
}
.high-contrast-mode .default-overlay-alert-child-view .body-container .button-container .keeper-button {
  border: 1px solid ButtonBorder;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons {
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: end;
       justify-content: flex-end;
  gap: 8px;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons .button {
  width: auto;
  min-width: 80px;
  -moz-box-flex: 0;
       flex: 0 0 auto;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons .button.confirm {
  background-color: #ffc700;
  color: #000;
  -moz-box-ordinal-group: 3;
       order: 2;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons .button.confirm:hover {
  background-color: #e6b300;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons .button.cancel {
  background-color: #ebebeb;
  color: #000;
  -moz-box-ordinal-group: 2;
       order: 1;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons .button.cancel:hover {
  background-color: #888888;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons .button.cancel.dark-mode {
  background-color: #888888;
  color: #fff;
}
.default-overlay-alert-child-view .body-container .button-container.record-delete-buttons .button.cancel.dark-mode:hover {
  background-color: #565656;
}