.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.rtl .password-rule-alert .body-container .messages-container ul.password-rule-list li.password-rule-list-item p.text {
  text-align: right;
}

.dark-mode .password-rule-alert .body-container .messages-container ul.password-rule-list li.password-rule-list-item .keeper-iconbutton-check path {
  fill: #b3b3b3 !important;
}

.password-rule-alert .body-container .messages-container ul.password-rule-list li.password-rule-list-item p.text {
  text-align: left;
}