.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

#keeper-extension.loginHelper.dark-mode .password-input-helper .password-editor-field .row-dice-eyeball-icon .keeper-iconbutton-content-copy path,
#keeper-extension.passwordHelper.dark-mode .password-input-helper .password-editor-field .row-dice-eyeball-icon .keeper-iconbutton-content-copy path {
  fill: #fff;
}
#keeper-extension.loginHelper .login-input-helper .login-input-helper-instruction,
#keeper-extension.passwordHelper .login-input-helper .login-input-helper-instruction {
  font-size: 15px;
  padding: 16px 16px 8px;
  color: #565656;
}
#keeper-extension.loginHelper .login-input-helper .login-input-helper-emails,
#keeper-extension.passwordHelper .login-input-helper .login-input-helper-emails {
  padding-bottom: 6px;
}
#keeper-extension.loginHelper .login-input-helper .login-input-helper-emails .login-input-helper-email,
#keeper-extension.passwordHelper .login-input-helper .login-input-helper-emails .login-input-helper-email {
  height: 25px;
  padding: 10px 16px;
  font-size: 16px;
  color: black;
  font-family: Outfit-SemiBold, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: justify;
       justify-content: space-between;
}
#keeper-extension.loginHelper .login-input-helper .login-input-helper-emails .login-input-helper-email span,
#keeper-extension.passwordHelper .login-input-helper .login-input-helper-emails .login-input-helper-email span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 200px;
}
#keeper-extension.loginHelper .login-input-helper .login-input-helper-emails .login-input-helper-email svg,
#keeper-extension.passwordHelper .login-input-helper .login-input-helper-emails .login-input-helper-email svg {
  -moz-box-flex: 0;
       flex: 0 0 auto;
}
#keeper-extension.loginHelper .login-input-helper .login-input-helper-add-login,
#keeper-extension.passwordHelper .login-input-helper .login-input-helper-add-login {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  height: 48px;
  padding: 0 16px;
  box-shadow: inset 1px 0 0 #bfbfbf, inset -1px 0 0 #bfbfbf, inset 0 -1px 0 #bfbfbf;
  border-radius: 0 0 8px 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Outfit-SemiBold, sans-serif;
}
#keeper-extension.loginHelper .login-input-helper .login-input-helper-add-login svg,
#keeper-extension.passwordHelper .login-input-helper .login-input-helper-add-login svg {
  margin-right: 8px;
}
#keeper-extension.loginHelper .password-input-helper,
#keeper-extension.passwordHelper .password-input-helper {
  padding: 0 16px;
}
#keeper-extension.loginHelper .password-input-helper .password-input-helper-instruction,
#keeper-extension.passwordHelper .password-input-helper .password-input-helper-instruction {
  font-size: 16px;
  padding: 16px 0;
  color: black;
}
#keeper-extension.loginHelper .password-input-helper .password-editor,
#keeper-extension.passwordHelper .password-input-helper .password-editor {
  padding: 0 0 16px;
  margin: 0;
}
#keeper-extension.loginHelper .password-input-helper .password-editor .password-editor-title,
#keeper-extension.passwordHelper .password-input-helper .password-editor .password-editor-title {
  font-size: 16px;
  color: #4e4e4e;
}
#keeper-extension.loginHelper .password-input-helper .password-editor .password-editor-field > div:nth-child(1),
#keeper-extension.passwordHelper .password-input-helper .password-editor .password-editor-field > div:nth-child(1) {
  margin-right: 16px;
}
#keeper-extension.loginHelper .password-input-helper .password-editor .password-editor-field > div:nth-child(1) .eyeball,
#keeper-extension.passwordHelper .password-input-helper .password-editor .password-editor-field > div:nth-child(1) .eyeball {
  margin: 0 0 0 16px;
}
#keeper-extension.loginHelper .password-input-helper .password-editor .password-editor-icon.copy,
#keeper-extension.passwordHelper .password-input-helper .password-editor .password-editor-icon.copy {
  margin-left: 16px;
}
#keeper-extension.loginHelper .password-input-helper .password-editor .password-editor-options,
#keeper-extension.passwordHelper .password-input-helper .password-editor .password-editor-options {
  margin: 20px 0 5px;
}
#keeper-extension.loginHelper .password-input-helper .password-editor .password-editor-options .password-editor-length-label,
#keeper-extension.passwordHelper .password-input-helper .password-editor .password-editor-options .password-editor-length-label {
  font-size: 15px;
  margin-bottom: 6px;
}
#keeper-extension.loginHelper .password-input-helper .password-editor .password-editor-options .password-editor-checkboxes .password-editor-checkbox-label,
#keeper-extension.passwordHelper .password-input-helper .password-editor .password-editor-options .password-editor-checkboxes .password-editor-checkbox-label {
  font-size: 15px;
}
#keeper-extension.loginHelper .password-input-helper button,
#keeper-extension.passwordHelper .password-input-helper button {
  font-family: Outfit-SemiBold, sans-serif;
  background: #ffc700;
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  padding: 0;
  color: black;
  margin-bottom: 16px;
}
#keeper-extension.loginHelper .password-input-helper .password-input-helper-prompt-buttons,
#keeper-extension.passwordHelper .password-input-helper .password-input-helper-prompt-buttons {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
}
#keeper-extension.loginHelper .password-input-helper .password-input-helper-prompt-buttons > button:nth-child(1),
#keeper-extension.passwordHelper .password-input-helper .password-input-helper-prompt-buttons > button:nth-child(1) {
  font-family: Outfit, sans-serif;
  background: #f0f0f0;
  margin-right: 16px;
}
#keeper-extension.loginHelper + .overlayalert.default,
#keeper-extension.passwordHelper + .overlayalert.default {
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
  top: 10px;
  border-radius: 8px;
}