.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.record-delete-alert {
  text-align: center;
  padding: 20px;
}
.record-delete-alert .keeper-iconbutton-error-outline path {
  fill: #ce021b;
}
.dark-mode .record-delete-alert .keeper-iconbutton-error-outline path {
  fill: #ff7361;
}
.record-delete-alert .body-container .button-container .keeper-button.confirm {
  background-color: #ffc700;
  color: #000;
}
.dark-mode .record-delete-alert .body-container .button-container .keeper-button.confirm {
  background-color: #ffc700;
}
.dark-mode .record-delete-alert .body-container .button-container .keeper-button.confirm {
  color: #000;
}
.record-delete-alert .body-container .button-container .keeper-button.confirm:hover {
  background-color: #e6b300;
}
.dark-mode .record-delete-alert .body-container .button-container .keeper-button.confirm:hover {
  background-color: #e6b300;
}