#account-share {
  background-color: #e0e0e0;
  padding: 16px 12px;
  margin: 0 12px;
}
#account-share #account-share-buttons {
  margin-top: 16px;
  display: -moz-box;
  display: flex;
  -moz-box-pack: space-evenly;
       justify-content: space-evenly;
}
#account-share #account-share-buttons button:first-child {
  margin-right: 6px;
}
#account-share #account-share-buttons button:last-child {
  margin-left: 6px;
}