.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.disclaimer-overlay,
.announcement-overlay,
.warning-overlay,
.alert-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
}
.disclaimer-overlay.dark-mode,
.announcement-overlay.dark-mode,
.warning-overlay.dark-mode,
.alert-overlay.dark-mode {
  background: rgba(0, 0, 0, 0.5);
  color: #d8d8d8;
}

.disclaimer-modal,
.warning-modal,
.announcement-modal,
.alert-modal {
  padding: 20px;
  z-index: 3;
  position: absolute;
  width: 336px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
@media (forced-colors: active) {
  .disclaimer-modal,
  .warning-modal,
  .announcement-modal,
  .alert-modal {
    border: 1px solid ButtonBorder;
  }
}
.disclaimer-modal.content-scripts,
.warning-modal.content-scripts,
.announcement-modal.content-scripts,
.alert-modal.content-scripts {
  width: 294px;
}
.disclaimer-modal .disclaimer-icon,
.disclaimer-modal .alert-icon,
.disclaimer-modal .warning-icon,
.warning-modal .disclaimer-icon,
.warning-modal .alert-icon,
.warning-modal .warning-icon,
.announcement-modal .disclaimer-icon,
.announcement-modal .alert-icon,
.announcement-modal .warning-icon,
.alert-modal .disclaimer-icon,
.alert-modal .alert-icon,
.alert-modal .warning-icon {
  height: 32px;
}
.disclaimer-modal .disclaimer-text #warning-title,
.disclaimer-modal .warning-text #warning-title,
.disclaimer-modal .announcement-text #warning-title,
.disclaimer-modal .alert-text #warning-title,
.warning-modal .disclaimer-text #warning-title,
.warning-modal .warning-text #warning-title,
.warning-modal .announcement-text #warning-title,
.warning-modal .alert-text #warning-title,
.announcement-modal .disclaimer-text #warning-title,
.announcement-modal .warning-text #warning-title,
.announcement-modal .announcement-text #warning-title,
.announcement-modal .alert-text #warning-title,
.alert-modal .disclaimer-text #warning-title,
.alert-modal .warning-text #warning-title,
.alert-modal .announcement-text #warning-title,
.alert-modal .alert-text #warning-title {
  margin-bottom: -2px;
}
.disclaimer-modal .disclaimer-text #disclaimer-title,
.disclaimer-modal .disclaimer-text #warning-title,
.disclaimer-modal .disclaimer-text #announcement-title,
.disclaimer-modal .disclaimer-text #alert-title,
.disclaimer-modal .warning-text #disclaimer-title,
.disclaimer-modal .warning-text #warning-title,
.disclaimer-modal .warning-text #announcement-title,
.disclaimer-modal .warning-text #alert-title,
.disclaimer-modal .announcement-text #disclaimer-title,
.disclaimer-modal .announcement-text #warning-title,
.disclaimer-modal .announcement-text #announcement-title,
.disclaimer-modal .announcement-text #alert-title,
.disclaimer-modal .alert-text #disclaimer-title,
.disclaimer-modal .alert-text #warning-title,
.disclaimer-modal .alert-text #announcement-title,
.disclaimer-modal .alert-text #alert-title,
.warning-modal .disclaimer-text #disclaimer-title,
.warning-modal .disclaimer-text #warning-title,
.warning-modal .disclaimer-text #announcement-title,
.warning-modal .disclaimer-text #alert-title,
.warning-modal .warning-text #disclaimer-title,
.warning-modal .warning-text #warning-title,
.warning-modal .warning-text #announcement-title,
.warning-modal .warning-text #alert-title,
.warning-modal .announcement-text #disclaimer-title,
.warning-modal .announcement-text #warning-title,
.warning-modal .announcement-text #announcement-title,
.warning-modal .announcement-text #alert-title,
.warning-modal .alert-text #disclaimer-title,
.warning-modal .alert-text #warning-title,
.warning-modal .alert-text #announcement-title,
.warning-modal .alert-text #alert-title,
.announcement-modal .disclaimer-text #disclaimer-title,
.announcement-modal .disclaimer-text #warning-title,
.announcement-modal .disclaimer-text #announcement-title,
.announcement-modal .disclaimer-text #alert-title,
.announcement-modal .warning-text #disclaimer-title,
.announcement-modal .warning-text #warning-title,
.announcement-modal .warning-text #announcement-title,
.announcement-modal .warning-text #alert-title,
.announcement-modal .announcement-text #disclaimer-title,
.announcement-modal .announcement-text #warning-title,
.announcement-modal .announcement-text #announcement-title,
.announcement-modal .announcement-text #alert-title,
.announcement-modal .alert-text #disclaimer-title,
.announcement-modal .alert-text #warning-title,
.announcement-modal .alert-text #announcement-title,
.announcement-modal .alert-text #alert-title,
.alert-modal .disclaimer-text #disclaimer-title,
.alert-modal .disclaimer-text #warning-title,
.alert-modal .disclaimer-text #announcement-title,
.alert-modal .disclaimer-text #alert-title,
.alert-modal .warning-text #disclaimer-title,
.alert-modal .warning-text #warning-title,
.alert-modal .warning-text #announcement-title,
.alert-modal .warning-text #alert-title,
.alert-modal .announcement-text #disclaimer-title,
.alert-modal .announcement-text #warning-title,
.alert-modal .announcement-text #announcement-title,
.alert-modal .announcement-text #alert-title,
.alert-modal .alert-text #disclaimer-title,
.alert-modal .alert-text #warning-title,
.alert-modal .alert-text #announcement-title,
.alert-modal .alert-text #alert-title {
  text-align: center;
}
.disclaimer-modal .disclaimer-text #warning-desc,
.disclaimer-modal .warning-text #warning-desc,
.disclaimer-modal .announcement-text #warning-desc,
.disclaimer-modal .alert-text #warning-desc,
.warning-modal .disclaimer-text #warning-desc,
.warning-modal .warning-text #warning-desc,
.warning-modal .announcement-text #warning-desc,
.warning-modal .alert-text #warning-desc,
.announcement-modal .disclaimer-text #warning-desc,
.announcement-modal .warning-text #warning-desc,
.announcement-modal .announcement-text #warning-desc,
.announcement-modal .alert-text #warning-desc,
.alert-modal .disclaimer-text #warning-desc,
.alert-modal .warning-text #warning-desc,
.alert-modal .announcement-text #warning-desc,
.alert-modal .alert-text #warning-desc {
  color: #565656;
  margin-bottom: 8px;
}
.disclaimer-modal .disclaimer-text #disclaimer-desc,
.disclaimer-modal .disclaimer-text #warning-desc,
.disclaimer-modal .disclaimer-text #announcement-desc,
.disclaimer-modal .disclaimer-text #alert-desc,
.disclaimer-modal .warning-text #disclaimer-desc,
.disclaimer-modal .warning-text #warning-desc,
.disclaimer-modal .warning-text #announcement-desc,
.disclaimer-modal .warning-text #alert-desc,
.disclaimer-modal .announcement-text #disclaimer-desc,
.disclaimer-modal .announcement-text #warning-desc,
.disclaimer-modal .announcement-text #announcement-desc,
.disclaimer-modal .announcement-text #alert-desc,
.disclaimer-modal .alert-text #disclaimer-desc,
.disclaimer-modal .alert-text #warning-desc,
.disclaimer-modal .alert-text #announcement-desc,
.disclaimer-modal .alert-text #alert-desc,
.warning-modal .disclaimer-text #disclaimer-desc,
.warning-modal .disclaimer-text #warning-desc,
.warning-modal .disclaimer-text #announcement-desc,
.warning-modal .disclaimer-text #alert-desc,
.warning-modal .warning-text #disclaimer-desc,
.warning-modal .warning-text #warning-desc,
.warning-modal .warning-text #announcement-desc,
.warning-modal .warning-text #alert-desc,
.warning-modal .announcement-text #disclaimer-desc,
.warning-modal .announcement-text #warning-desc,
.warning-modal .announcement-text #announcement-desc,
.warning-modal .announcement-text #alert-desc,
.warning-modal .alert-text #disclaimer-desc,
.warning-modal .alert-text #warning-desc,
.warning-modal .alert-text #announcement-desc,
.warning-modal .alert-text #alert-desc,
.announcement-modal .disclaimer-text #disclaimer-desc,
.announcement-modal .disclaimer-text #warning-desc,
.announcement-modal .disclaimer-text #announcement-desc,
.announcement-modal .disclaimer-text #alert-desc,
.announcement-modal .warning-text #disclaimer-desc,
.announcement-modal .warning-text #warning-desc,
.announcement-modal .warning-text #announcement-desc,
.announcement-modal .warning-text #alert-desc,
.announcement-modal .announcement-text #disclaimer-desc,
.announcement-modal .announcement-text #warning-desc,
.announcement-modal .announcement-text #announcement-desc,
.announcement-modal .announcement-text #alert-desc,
.announcement-modal .alert-text #disclaimer-desc,
.announcement-modal .alert-text #warning-desc,
.announcement-modal .alert-text #announcement-desc,
.announcement-modal .alert-text #alert-desc,
.alert-modal .disclaimer-text #disclaimer-desc,
.alert-modal .disclaimer-text #warning-desc,
.alert-modal .disclaimer-text #announcement-desc,
.alert-modal .disclaimer-text #alert-desc,
.alert-modal .warning-text #disclaimer-desc,
.alert-modal .warning-text #warning-desc,
.alert-modal .warning-text #announcement-desc,
.alert-modal .warning-text #alert-desc,
.alert-modal .announcement-text #disclaimer-desc,
.alert-modal .announcement-text #warning-desc,
.alert-modal .announcement-text #announcement-desc,
.alert-modal .announcement-text #alert-desc,
.alert-modal .alert-text #disclaimer-desc,
.alert-modal .alert-text #warning-desc,
.alert-modal .alert-text #announcement-desc,
.alert-modal .alert-text #alert-desc {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #565656;
}
.disclaimer-modal .disclaimer-text.dark-mode #disclaimer-title,
.disclaimer-modal .disclaimer-text.dark-mode #warning-title,
.disclaimer-modal .disclaimer-text.dark-mode #announcement-title,
.disclaimer-modal .disclaimer-text.dark-mode #alert-title,
.disclaimer-modal .warning-text.dark-mode #disclaimer-title,
.disclaimer-modal .warning-text.dark-mode #warning-title,
.disclaimer-modal .warning-text.dark-mode #announcement-title,
.disclaimer-modal .warning-text.dark-mode #alert-title,
.disclaimer-modal .announcement-text.dark-mode #disclaimer-title,
.disclaimer-modal .announcement-text.dark-mode #warning-title,
.disclaimer-modal .announcement-text.dark-mode #announcement-title,
.disclaimer-modal .announcement-text.dark-mode #alert-title,
.disclaimer-modal .alert-text.dark-mode #disclaimer-title,
.disclaimer-modal .alert-text.dark-mode #warning-title,
.disclaimer-modal .alert-text.dark-mode #announcement-title,
.disclaimer-modal .alert-text.dark-mode #alert-title,
.warning-modal .disclaimer-text.dark-mode #disclaimer-title,
.warning-modal .disclaimer-text.dark-mode #warning-title,
.warning-modal .disclaimer-text.dark-mode #announcement-title,
.warning-modal .disclaimer-text.dark-mode #alert-title,
.warning-modal .warning-text.dark-mode #disclaimer-title,
.warning-modal .warning-text.dark-mode #warning-title,
.warning-modal .warning-text.dark-mode #announcement-title,
.warning-modal .warning-text.dark-mode #alert-title,
.warning-modal .announcement-text.dark-mode #disclaimer-title,
.warning-modal .announcement-text.dark-mode #warning-title,
.warning-modal .announcement-text.dark-mode #announcement-title,
.warning-modal .announcement-text.dark-mode #alert-title,
.warning-modal .alert-text.dark-mode #disclaimer-title,
.warning-modal .alert-text.dark-mode #warning-title,
.warning-modal .alert-text.dark-mode #announcement-title,
.warning-modal .alert-text.dark-mode #alert-title,
.announcement-modal .disclaimer-text.dark-mode #disclaimer-title,
.announcement-modal .disclaimer-text.dark-mode #warning-title,
.announcement-modal .disclaimer-text.dark-mode #announcement-title,
.announcement-modal .disclaimer-text.dark-mode #alert-title,
.announcement-modal .warning-text.dark-mode #disclaimer-title,
.announcement-modal .warning-text.dark-mode #warning-title,
.announcement-modal .warning-text.dark-mode #announcement-title,
.announcement-modal .warning-text.dark-mode #alert-title,
.announcement-modal .announcement-text.dark-mode #disclaimer-title,
.announcement-modal .announcement-text.dark-mode #warning-title,
.announcement-modal .announcement-text.dark-mode #announcement-title,
.announcement-modal .announcement-text.dark-mode #alert-title,
.announcement-modal .alert-text.dark-mode #disclaimer-title,
.announcement-modal .alert-text.dark-mode #warning-title,
.announcement-modal .alert-text.dark-mode #announcement-title,
.announcement-modal .alert-text.dark-mode #alert-title,
.alert-modal .disclaimer-text.dark-mode #disclaimer-title,
.alert-modal .disclaimer-text.dark-mode #warning-title,
.alert-modal .disclaimer-text.dark-mode #announcement-title,
.alert-modal .disclaimer-text.dark-mode #alert-title,
.alert-modal .warning-text.dark-mode #disclaimer-title,
.alert-modal .warning-text.dark-mode #warning-title,
.alert-modal .warning-text.dark-mode #announcement-title,
.alert-modal .warning-text.dark-mode #alert-title,
.alert-modal .announcement-text.dark-mode #disclaimer-title,
.alert-modal .announcement-text.dark-mode #warning-title,
.alert-modal .announcement-text.dark-mode #announcement-title,
.alert-modal .announcement-text.dark-mode #alert-title,
.alert-modal .alert-text.dark-mode #disclaimer-title,
.alert-modal .alert-text.dark-mode #warning-title,
.alert-modal .alert-text.dark-mode #announcement-title,
.alert-modal .alert-text.dark-mode #alert-title {
  color: white;
}
.disclaimer-modal button,
.warning-modal button,
.announcement-modal button,
.alert-modal button {
  font-size: 15px;
  font-weight: 400;
}
.disclaimer-modal.dark-mode,
.warning-modal.dark-mode,
.announcement-modal.dark-mode,
.alert-modal.dark-mode {
  background: #333;
}
.disclaimer-modal.dark-mode .disclaimer-text #disclaimer-desc,
.warning-modal.dark-mode .disclaimer-text #disclaimer-desc,
.announcement-modal.dark-mode .disclaimer-text #disclaimer-desc,
.alert-modal.dark-mode .disclaimer-text #disclaimer-desc {
  color: #b3b3b3;
}
.disclaimer-modal.dark-mode #disclaimer-title,
.disclaimer-modal.dark-mode #warning-title,
.disclaimer-modal.dark-mode #announcement-title,
.disclaimer-modal.dark-mode #alert-title,
.warning-modal.dark-mode #disclaimer-title,
.warning-modal.dark-mode #warning-title,
.warning-modal.dark-mode #announcement-title,
.warning-modal.dark-mode #alert-title,
.announcement-modal.dark-mode #disclaimer-title,
.announcement-modal.dark-mode #warning-title,
.announcement-modal.dark-mode #announcement-title,
.announcement-modal.dark-mode #alert-title,
.alert-modal.dark-mode #disclaimer-title,
.alert-modal.dark-mode #warning-title,
.alert-modal.dark-mode #announcement-title,
.alert-modal.dark-mode #alert-title {
  color: #fff;
}
.disclaimer-modal.dark-mode #warning-desc,
.disclaimer-modal.dark-mode #alert-desc,
.disclaimer-modal.dark-mode #announcement-desc,
.warning-modal.dark-mode #warning-desc,
.warning-modal.dark-mode #alert-desc,
.warning-modal.dark-mode #announcement-desc,
.announcement-modal.dark-mode #warning-desc,
.announcement-modal.dark-mode #alert-desc,
.announcement-modal.dark-mode #announcement-desc,
.alert-modal.dark-mode #warning-desc,
.alert-modal.dark-mode #alert-desc,
.alert-modal.dark-mode #announcement-desc {
  color: #d8d8d8;
}
.disclaimer-modal ul li::marker,
.warning-modal ul li::marker,
.announcement-modal ul li::marker,
.alert-modal ul li::marker {
  font-size: 10px;
}