.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.portrait .generate-password {
  margin: 24px 24px 12px;
}
.portrait .generate-password.in-tab {
  margin: 0;
  max-width: 360px;
  max-height: 618px;
  height: 100%;
}

#data-body-paneui.portrait .generate-password {
  margin: 0;
}

.generate-password {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}
.generate-password.in-tab {
  max-width: 360px;
  max-height: 618px;
  height: 100%;
}
.generate-password .newUi,
.generate-password .header-extension-tab {
  padding: 20px 20px 12px;
}
.generate-password .header-content-scripts {
  padding: 16px 16px 12px;
}
.generate-password .generate-password-header {
  height: 24px;
  margin-bottom: 24px;
}
.generate-password .generate-password-content {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
}
.generate-password .generate-password-content .password-editor {
  width: 100%;
}
.generate-password .generate-password-buttons {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}
.generate-password .generate-password-buttons.content-scripts {
  position: unset;
  padding: 20px;
  width: 100%;
}
.generate-password .generate-password-buttons.content-scripts.change-password {
  padding: 16px;
  width: 100%;
  -moz-box-pack: justify;
       justify-content: space-between;
  -moz-box-orient: unset;
  -moz-box-direction: unset;
       flex-direction: unset;
}
.generate-password .generate-password-buttons.content-scripts.in-tab {
  width: 360px;
}
.generate-password .generate-password-buttons button {
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.generate-password .generate-password-buttons button#accept-id:hover, .generate-password .generate-password-buttons button#use-id:hover {
  background-color: #e6b300 !important;
}
.generate-password .generate-password-buttons button#cancel-id:hover {
  background-color: #d8d8d8 !important;
}
.generate-password .generate-password-buttons button#cancel-id-dark:hover {
  background-color: #333 !important;
}
.generate-password .generate-password-buttons button#copy-id:hover {
  background-color: #f0f0f0;
  color: #054b91;
  text-decoration: underline;
}
.high-contrast-mode .generate-password .generate-password-buttons button#copy-id:hover {
  color: ButtonText;
  text-decoration: none;
}
.generate-password .generate-password-buttons button#copy-id-dark:hover {
  background-color: #565656;
  text-decoration: underline;
}
.high-contrast-mode .generate-password .generate-password-buttons button#copy-id-dark:hover {
  color: ButtonText;
  text-decoration: none;
}
.generate-password .generate-password-buttons button.create-new {
  color: black;
  background: #f2f2f2;
  border: none;
  border-radius: 8px;
  font-family: Outfit-SemiBold, sans-serif;
  width: 100%;
}
.generate-password .generate-password-buttons button.create-new.change-password {
  width: 131px;
  height: 36px;
}
.generate-password .generate-password-buttons button.copy-password {
  background: none;
  border: none !important;
  font-family: Outfit, sans-serif;
  height: 40px;
  border-radius: 8px;
  color: #1b74da;
}
.generate-password .generate-password-buttons button.copy-password.high-contrast-link-text {
  color: LinkText !important;
}

.generate-password-content-password-controls {
  padding: 8px 20px 20px;
  -moz-box-flex: 5;
       flex-grow: 5;
  overflow-y: auto;
  overflow-x: hidden;
}
.generate-password-content-password-controls.content-scripts {
  padding: 4px 16px 16px;
  max-height: 392px;
}
.generate-password-content-password-controls.content-scripts.change-password {
  max-height: 312px;
}
.generate-password-content-password-controls.content-scripts.generate-pin {
  height: 392px;
}
.generate-password-content-password-controls.content-scripts.extension-tab {
  padding: 8px 20px 20px;
  max-height: 400px;
}

#data-body-paneui .generate-password-content-password-controls {
  max-height: 400px;
}

.generated-password-history .history-search {
  border-radius: 8px;
  height: 40px;
  padding: 0 !important;
  background: #f0f0f0;
  display: -moz-box;
  display: flex;
  margin: 16px 8px;
  -moz-box-align: center;
       align-items: center;
}
.generated-password-history .history-search.focused, .generated-password-history .history-search:focus-visible {
  outline: 2px solid #054b91;
}
.generated-password-history .history-search input {
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent !important;
}
.generated-password-history .history-search input::-webkit-input-placeholder {
  color: #565656;
  opacity: 1;
}
.generated-password-history .history-search input::-moz-placeholder {
  color: #565656;
  opacity: 1;
}
.generated-password-history .history-search input:-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
.generated-password-history .history-search input::-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
.generated-password-history .history-search input::placeholder {
  color: #565656;
  opacity: 1;
}
.generated-password-history .history-search.high-contrast-border.focused, .generated-password-history .history-search.high-contrast-border:focus-visible {
  outline: 2px solid Highlight;
}
.generated-password-history .history-results {
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  height: 418px;
}
.generated-password-history .history-results .history-item {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  padding: 12px 8px;
  width: 352px !important;
  border-bottom: 1px solid #d8d8d8;
}
.generated-password-history .history-results .history-item .icon-controls {
  display: -moz-box;
  display: flex;
  position: absolute;
  right: 2px;
}
.generated-password-history .history-results .history-item .icon-controls .tooltip {
  height: 24px;
  cursor: pointer;
}
.generated-password-history .history-results .history-item .icon-controls svg {
  width: 24px;
  visibility: hidden;
}
.generated-password-history .history-results .history-item.hiddenBorderBottom {
  border-bottom: none;
}
.generated-password-history .history-results .history-item:hover, .generated-password-history .history-results .history-item:focus-within {
  border-radius: 8px;
  background-color: #f0f0f0;
  border-bottom: none;
}
.generated-password-history .history-results .history-item:hover .details .password, .generated-password-history .history-results .history-item:focus-within .details .password {
  width: 254px;
}
.generated-password-history .history-results .history-item:hover .icon-controls svg, .generated-password-history .history-results .history-item:focus-within .icon-controls svg {
  visibility: visible;
}
.generated-password-history .history-results .history-item .details {
  width: 100%;
}
.generated-password-history .history-results .history-item .details .password {
  font-family: "PT Mono", monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: black;
  word-wrap: break-word;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.generated-password-history .history-results .history-item .details .password .num {
  color: #054b91;
}
.generated-password-history .history-results .history-item .details .password .specialChar {
  color: #ce021b;
}
.generated-password-history .history-results .history-item .details .url {
  color: #565656;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 270px;
}
.generated-password-history .history-results .history-item .details .timestamp {
  color: #565656;
}

.dark-mode .generated-password-history .history-search {
  background: #3d3d3d !important;
}
.dark-mode .generated-password-history .history-search.focused, .dark-mode .generated-password-history .history-search:focus-visible {
  outline: 2px solid #48b6ff;
}
.dark-mode .generated-password-history .history-search svg path {
  fill: #b3b3b3 !important;
}
.dark-mode .generated-password-history .history-search input::-webkit-input-placeholder {
  opacity: 1;
}
.dark-mode .generated-password-history .history-search input::-moz-placeholder {
  opacity: 1;
}
.dark-mode .generated-password-history .history-search input:-ms-input-placeholder {
  opacity: 1;
}
.dark-mode .generated-password-history .history-search input::-ms-input-placeholder {
  opacity: 1;
}
.dark-mode .generated-password-history .history-search input::placeholder {
  opacity: 1;
}
.dark-mode .generated-password-history .history-item:focus-within,
.dark-mode .generated-password-history .history-item:hover {
  background-color: #404040 !important;
}
.dark-mode .generated-password-history input {
  color: white !important;
  outline: none !important;
}
.dark-mode .generated-password-history .timestamp,
.dark-mode .generated-password-history .url {
  color: #b3b3b3 !important;
}
.dark-mode .generated-password-history .password {
  color: white !important;
}
.dark-mode .generated-password-history svg path {
  fill: white !important;
}