.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

#add-new-record.high-contrast-mode > .form-container .record-autofill-toggle .md-toggle keeper-input[checked=false] ~ label,
#add-new-record.high-contrast-mode > .form-container .record-autosubmit-toggle .md-toggle keeper-input[checked=false] ~ label {
  border: 1px solid ButtonText;
}
#add-new-record.high-contrast-mode > .form-container .record-autofill-toggle .md-toggle-checked keeper-input[checked=true] ~ label,
#add-new-record.high-contrast-mode > .form-container .record-autosubmit-toggle .md-toggle-checked keeper-input[checked=true] ~ label {
  border: 1px solid ButtonText;
}
#add-new-record.high-contrast-mode > .form-container .record-autofill-toggle:focus-visible,
#add-new-record.high-contrast-mode > .form-container .record-autosubmit-toggle:focus-visible {
  border: 2px solid Highlight;
}
#add-new-record.high-contrast-mode > .form-container .button-container button:focus-visible {
  border: 2px solid Highlight !important;
}

#add-new-record.dark-mode > .form-container .record-autofill-toggle,
#add-new-record.dark-mode > .form-container .record-autosubmit-toggle {
  color: white;
}
#add-new-record.dark-mode > .form-container .record-autofill-toggle .md-toggle-checked keeper-input[checked=true] ~ label,
#add-new-record.dark-mode > .form-container .record-autosubmit-toggle .md-toggle-checked keeper-input[checked=true] ~ label {
  background-color: #64dc16;
}
#add-new-record.dark-mode > .form-container .record-autofill-toggle:focus-visible,
#add-new-record.dark-mode > .form-container .record-autosubmit-toggle:focus-visible {
  border: 2px solid rgb(72, 182, 255);
}
#add-new-record.dark-mode > .form-container .button-container button:focus-visible {
  border: 2px solid rgb(72, 182, 255) !important;
}

#add-new-record.rtl > .form-container .record-autofill-toggle .md-toggle,
#add-new-record.rtl > .form-container .record-autosubmit-toggle .md-toggle {
  -moz-transform: translateX(7px);
   -ms-transform: translateX(7px);
       transform: translateX(7px);
  padding-left: 0;
  padding-right: 20px;
}

#add-new-record {
  gap: 24px;
}
#add-new-record > .feature-callout-banner {
  margin-top: 24px;
}
#add-new-record > .form-container {
  width: 360px;
}
@media screen and (height <= 540px) {
  #add-new-record > .form-container .folder-dropdown-field-container.v2 .dropdown-container {
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
  }
  #add-new-record > .form-container .folder-dropdown-field-container.v2 .dropdown-field-options-container {
    position: static;
  }
}
@media screen and (540px < height <= 600px) {
  #add-new-record > .form-container .folder-dropdown-field-container.v2 .dropdown-container {
    height: 320px;
  }
}
#add-new-record > .form-container .record-title {
  gap: 8px;
}
#add-new-record > .form-container .record-title .record-title-icon {
  flex-basis: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--dileniation-gray-d8d8d8, #d8d8d8);
  background: var(--white-fff, #fff);
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
}
#add-new-record > .form-container .record-title .record-title-icon .favicon {
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
#add-new-record > .form-container .record-autofill-toggle,
#add-new-record > .form-container .record-autosubmit-toggle {
  border-radius: 4px;
  height: initial;
  min-height: 24px;
  flex-shrink: 0;
}
#add-new-record > .form-container .record-autofill-toggle .md-toggle,
#add-new-record > .form-container .record-autofill-toggle .md-toggle-checked,
#add-new-record > .form-container .record-autosubmit-toggle .md-toggle,
#add-new-record > .form-container .record-autosubmit-toggle .md-toggle-checked {
  padding-right: 0;
  padding-left: 20px;
}
#add-new-record > .form-container .record-autofill-toggle:focus-visible,
#add-new-record > .form-container .record-autosubmit-toggle:focus-visible {
  outline: none;
  border: 2px solid #054b91;
}
#add-new-record > .form-container .button-container button.primary-btn {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #ffc700;
  cursor: pointer;
  font-size: 15px;
  flex-shrink: 0;
  font-weight: 400;
  font-family: Outfit, sans-serif;
  border: none;
}
.dark-mode #add-new-record > .form-container .button-container button.primary-btn {
  border: none;
}
.high-contrast-mode #add-new-record > .form-container .button-container button.primary-btn {
  border: 1px solid ButtonBorder;
}
#add-new-record > .form-container .button-container button.primary-btn.disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
  color: #888;
}
.dark-mode #add-new-record > .form-container .button-container button.primary-btn.disabled {
  background-color: #f0f0f0;
}
.dark-mode #add-new-record > .form-container .button-container button.primary-btn.disabled {
  color: #888;
}
.high-contrast-mode #add-new-record > .form-container .button-container button.primary-btn.disabled {
  color: GrayText;
}
.high-contrast-mode #add-new-record > .form-container .button-container button.primary-btn.disabled {
  border-color: GrayText;
}
#add-new-record > .form-container .button-container button.primary-btn.disabled:hover {
  background-color: #f0f0f0;
}
.dark-mode #add-new-record > .form-container .button-container button.primary-btn.disabled:hover {
  background-color: #f0f0f0;
}
#add-new-record > .form-container .button-container button.primary-btn:hover {
  background-color: #e6b300;
}
#add-new-record > .form-container .button-container button.primary-btn:focus-visible {
  outline: none;
  border: 2px solid #054b91;
}