.flex {
  display: -moz-box;
  display: flex;
}

.flex-row {
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
}

.flex-col {
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}

.gap-4-px {
  gap: 4px;
}

.gap-8-px {
  gap: 8px;
}

.gap-16-px {
  gap: 16px;
}

.gap-24-px {
  gap: 24px;
}

.gap-32-px {
  gap: 32px;
}

.items-center {
  -moz-box-align: center;
       align-items: center;
}

.items-start {
  -moz-box-align: start;
       align-items: flex-start;
}

.justify-center {
  -moz-box-pack: center;
       justify-content: center;
}

.justify-between {
  -moz-box-pack: justify;
       justify-content: space-between;
}

.justify-start {
  -moz-box-pack: start;
       justify-content: flex-start;
}

.justify-end {
  -moz-box-pack: end;
       justify-content: flex-end;
}

.self-stretch {
  align-self: stretch;
}

.self-center {
  align-self: center;
}