#data-body-paneui .outfit-title-extra-large-b,
.disclaimer-modal .outfit-title-extra-large-b,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-title-extra-large-b,
.announcement-modal .outfit-title-extra-large-b,
.generate-password .outfit-title-extra-large-b,
.alert-modal .outfit-title-extra-large-b,
.sort-menu .outfit-title-extra-large-b,
#container .outfit-title-extra-large-b {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-style: normal;
  font-weight: 500;
}
#data-body-paneui .outfit-title-extra-large,
.disclaimer-modal .outfit-title-extra-large,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-title-extra-large,
.announcement-modal .outfit-title-extra-large,
.generate-password .outfit-title-extra-large,
.alert-modal .outfit-title-extra-large,
.sort-menu .outfit-title-extra-large,
#container .outfit-title-extra-large {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 20px;
  line-height: 32px;
}
#data-body-paneui .outfit-title-large,
.disclaimer-modal .outfit-title-large,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-title-large,
.announcement-modal .outfit-title-large,
.generate-password .outfit-title-large,
.alert-modal .outfit-title-large,
.sort-menu .outfit-title-large,
#container .outfit-title-large {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
#data-body-paneui .outfit-title-medium,
.disclaimer-modal .outfit-title-medium,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-title-medium,
.announcement-modal .outfit-title-medium,
.generate-password .outfit-title-medium,
.alert-modal .outfit-title-medium,
.sort-menu .outfit-title-medium,
#container .outfit-title-medium {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
#data-body-paneui .outfit-title-small-a,
.disclaimer-modal .outfit-title-small-a,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-title-small-a,
.announcement-modal .outfit-title-small-a,
.generate-password .outfit-title-small-a,
.alert-modal .outfit-title-small-a,
.sort-menu .outfit-title-small-a,
#container .outfit-title-small-a {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
#data-body-paneui .outfit-title-small-b,
.disclaimer-modal .outfit-title-small-b,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-title-small-b,
.announcement-modal .outfit-title-small-b,
.generate-password .outfit-title-small-b,
.alert-modal .outfit-title-small-b,
.sort-menu .outfit-title-small-b,
#container .outfit-title-small-b {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
#data-body-paneui .outfit-body-large,
.disclaimer-modal .outfit-body-large,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-body-large,
.announcement-modal .outfit-body-large,
.generate-password .outfit-body-large,
.alert-modal .outfit-body-large,
.sort-menu .outfit-body-large,
#container .outfit-body-large {
  font-family: Outfit, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
#data-body-paneui .outfit-body-medium,
.disclaimer-modal .outfit-body-medium,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-body-medium,
.announcement-modal .outfit-body-medium,
.generate-password .outfit-body-medium,
.alert-modal .outfit-body-medium,
.sort-menu .outfit-body-medium,
#container .outfit-body-medium {
  font-family: Outfit, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
#data-body-paneui .outfit-body-medium-short,
.disclaimer-modal .outfit-body-medium-short,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-body-medium-short,
.announcement-modal .outfit-body-medium-short,
.generate-password .outfit-body-medium-short,
.alert-modal .outfit-body-medium-short,
.sort-menu .outfit-body-medium-short,
#container .outfit-body-medium-short {
  font-family: Outfit, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
#data-body-paneui .outfit-body-small-tall,
.disclaimer-modal .outfit-body-small-tall,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-body-small-tall,
.announcement-modal .outfit-body-small-tall,
.generate-password .outfit-body-small-tall,
.alert-modal .outfit-body-small-tall,
.sort-menu .outfit-body-small-tall,
#container .outfit-body-small-tall {
  font-family: Outfit, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
#data-body-paneui .outfit-body-small,
.disclaimer-modal .outfit-body-small,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-body-small,
.announcement-modal .outfit-body-small,
.generate-password .outfit-body-small,
.alert-modal .outfit-body-small,
.sort-menu .outfit-body-small,
#container .outfit-body-small {
  font-family: Outfit, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
#data-body-paneui .outfit-label,
.disclaimer-modal .outfit-label,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-label,
.announcement-modal .outfit-label,
.generate-password .outfit-label,
.alert-modal .outfit-label,
.sort-menu .outfit-label,
#container .outfit-label {
  font-family: Outfit, sans-serif;
  font-size: 13px;
  line-height: 20px;
}
#data-body-paneui .outfit-label-small,
.disclaimer-modal .outfit-label-small,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-label-small,
.announcement-modal .outfit-label-small,
.generate-password .outfit-label-small,
.alert-modal .outfit-label-small,
.sort-menu .outfit-label-small,
#container .outfit-label-small {
  font-family: Outfit, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
#data-body-paneui .outfit-label-tiny,
.disclaimer-modal .outfit-label-tiny,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .outfit-label-tiny,
.announcement-modal .outfit-label-tiny,
.generate-password .outfit-label-tiny,
.alert-modal .outfit-label-tiny,
.sort-menu .outfit-label-tiny,
#container .outfit-label-tiny {
  font-family: Outfit, sans-serif;
  font-size: 11px;
  line-height: 17px;
}
#data-body-paneui .secret-masked-large,
.disclaimer-modal .secret-masked-large,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .secret-masked-large,
.announcement-modal .secret-masked-large,
.generate-password .secret-masked-large,
.alert-modal .secret-masked-large,
.sort-menu .secret-masked-large,
#container .secret-masked-large {
  font-family: KeeperSecret, monospace;
  font-size: 20px;
  line-height: 24px;
}
#data-body-paneui .secret-masked-medium,
.disclaimer-modal .secret-masked-medium,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .secret-masked-medium,
.announcement-modal .secret-masked-medium,
.generate-password .secret-masked-medium,
.alert-modal .secret-masked-medium,
.sort-menu .secret-masked-medium,
#container .secret-masked-medium {
  font-family: KeeperSecret, monospace;
  font-size: 15px;
  line-height: 24px;
}
#data-body-paneui .mono-large,
.disclaimer-modal .mono-large,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .mono-large,
.announcement-modal .mono-large,
.generate-password .mono-large,
.alert-modal .mono-large,
.sort-menu .mono-large,
#container .mono-large {
  font-family: Roboto-Mono, monospace;
  font-size: 20px;
  line-height: 24px;
}
#data-body-paneui .mono-medium,
.disclaimer-modal .mono-medium,
.disclaimer-modal .disclaimer-text #disclaimer-desc .warning-modal .mono-medium,
.announcement-modal .mono-medium,
.generate-password .mono-medium,
.alert-modal .mono-medium,
.sort-menu .mono-medium,
#container .mono-medium {
  font-family: Roboto-Mono, monospace;
  font-size: 15px;
  line-height: 24px;
}