.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.passkey-icon {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
  width: 32px;
  height: 32px;
  background: #1b74da;
  border-radius: 8px;
  flex-shrink: 0;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: center;
       justify-content: center;
}
.passkey-icon svg path {
  fill: white;
}

.dice-size {
  width: 24px;
}

.dice-position {
  position: absolute !important;
  right: -72px;
}