.row-dice-eyeball-icon {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: justify;
       justify-content: space-between;
}