.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

#container.classic .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-classic ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-classic ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-classic ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-classic ~ keeper-extension-content .themed-background-light {
  background-color: rgba(27, 116, 218, 0.08);
}
#container.classic .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-classic ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-classic ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-classic ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-classic ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(27, 116, 218, 0.08);
}

#container.red_and_blue .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-red_and_blue ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-red_and_blue ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-red_and_blue ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-red_and_blue ~ keeper-extension-content .themed-background-light {
  background-color: rgba(173, 21, 57, 0.08);
}
#container.red_and_blue .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-red_and_blue ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-red_and_blue ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-red_and_blue ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-red_and_blue ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(173, 21, 57, 0.08);
}

#container.phoenix .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-phoenix ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-phoenix ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-phoenix ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-phoenix ~ keeper-extension-content .themed-background-light {
  background-color: rgba(151, 57, 0, 0.08);
}
#container.phoenix .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-phoenix ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-phoenix ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-phoenix ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-phoenix ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(151, 57, 0, 0.08);
}

#container.aluminum .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-aluminum ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-aluminum ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-aluminum ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-aluminum ~ keeper-extension-content .themed-background-light {
  background-color: rgba(47, 47, 47, 0.08);
}
#container.aluminum .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-aluminum ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-aluminum ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-aluminum ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-aluminum ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(47, 47, 47, 0.08);
}

#container.deep_ocean .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-deep_ocean ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-deep_ocean ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-deep_ocean ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-deep_ocean ~ keeper-extension-content .themed-background-light {
  background-color: rgba(40, 82, 144, 0.08);
}
#container.deep_ocean .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-deep_ocean ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-deep_ocean ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-deep_ocean ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-deep_ocean ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(40, 82, 144, 0.08);
}

#container.flame .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-flame ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-flame ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-flame ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-flame ~ keeper-extension-content .themed-background-light {
  background-color: rgba(137, 66, 82, 0.08);
}
#container.flame .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-flame ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-flame ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-flame ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-flame ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(137, 66, 82, 0.08);
}

#container.blue_and_green .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-blue_and_green ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-blue_and_green ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-blue_and_green ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-blue_and_green ~ keeper-extension-content .themed-background-light {
  background-color: rgba(0, 106, 101, 0.08);
}
#container.blue_and_green .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-blue_and_green ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-blue_and_green ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-blue_and_green ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-blue_and_green ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(0, 106, 101, 0.08);
}

#container.glam .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-glam ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-glam ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-glam ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-glam ~ keeper-extension-content .themed-background-light {
  background-color: rgba(133, 82, 137, 0.08);
}
#container.glam .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-glam ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-glam ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-glam ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-glam ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(133, 82, 137, 0.08);
}

#container.green .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-green ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-green ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-green ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-green ~ keeper-extension-content .themed-background-light {
  background-color: rgba(6, 102, 24, 0.08);
}
#container.green .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-green ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-green ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-green ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-green ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(6, 102, 24, 0.08);
}

#container.burgundy .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-burgundy ~ div .themed-background-light,
#keeper-extension keeper-header.keeper-theme-burgundy ~ div .themed-background-light,
#keeper-extension .keeper-header.keeper-theme-burgundy ~ keeper-extension-content .themed-background-light,
#keeper-extension keeper-header.keeper-theme-burgundy ~ keeper-extension-content .themed-background-light {
  background-color: rgba(66, 40, 88, 0.08);
}
#container.burgundy .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-burgundy ~ div .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-burgundy ~ div .themed-hover:hover,
#keeper-extension .keeper-header.keeper-theme-burgundy ~ keeper-extension-content .themed-hover:hover,
#keeper-extension keeper-header.keeper-theme-burgundy ~ keeper-extension-content .themed-hover:hover {
  background-color: rgba(66, 40, 88, 0.08);
}