.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.focus-none:focus, .focus-none:focus-visible {
  outline: none;
}

button.truncate-button span.ButtonContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  background-color: #191919;
  border: 1px solid #565656;
}

.wifirt-dropdown-field-container {
  gap: 12px;
}
.wifirt-dropdown-field-container.error .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  border-width: 2px;
  border-style: solid;
  border-color: #ce021b;
}
.dark-mode .wifirt-dropdown-field-container.error .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  border-color: #ff7361;
}
.high-contrast-mode .wifirt-dropdown-field-container.error .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  border-color: Highlight;
}
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-folder,
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-shared-folder,
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-multiple-folder {
  flex-shrink: 0;
}
.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-folder path,
.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-shared-folder path,
.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-multiple-folder path {
  fill: #d8d8d8 !important;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-folder path,
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-shared-folder path,
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-multiple-folder path {
  fill: CanvasText !important;
}
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-vault {
  flex-shrink: 0;
}
.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-vault path {
  fill: #fff;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .keeper-iconbutton-vault path {
  fill: CanvasText !important;
}
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .dropdown-container .option-container {
  cursor: pointer;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .dropdown-container .option-container:focus-visible {
  border: none !important;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .dropdown-container .option-container:focus-visible {
  outline: 2px solid Highlight !important;
}
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
}
.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  background-color: #333;
}
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder .option {
  width: -moz-calc(100% - 24px);
  width: calc(100% - 24px);
}
.wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder .option .text {
  width: 100%;
  color: #000;
}
.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder .option .text {
  color: #fff;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder .option .text {
  color: CanvasText;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder:focus-visible {
  border: none !important;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder:focus-visible {
  outline: 2px solid Highlight !important;
}
.dark-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder .keeper-iconbutton-dropdown-arrow path {
  fill: #fff;
}
.high-contrast-mode .wifirt-dropdown-field-container .dropdown-field-container.wifirt-dropdown-field .dropdown-field-options-container .option-container.placeholder .keeper-iconbutton-dropdown-arrow path {
  fill: CanvasText !important;
}
.wifirt-dropdown-field-container .error-container {
  gap: 8px;
}
.wifirt-dropdown-field-container .error-container .keeper-iconbutton-error {
  flex-basis: 24px;
  flex-shrink: 0;
}
.wifirt-dropdown-field-container .error-container .keeper-iconbutton-error path {
  fill: #ce021b;
}
.dark-mode .wifirt-dropdown-field-container .error-container .keeper-iconbutton-error path {
  fill: #ff7361 !important;
}
.high-contrast-mode .wifirt-dropdown-field-container .error-container .keeper-iconbutton-error path {
  fill: Highlight !important;
}
.wifirt-dropdown-field-container .error-container span.text {
  color: #ce021b;
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-align: start;
}
.dark-mode .wifirt-dropdown-field-container .error-container span.text {
  color: #ff7361 !important;
}
.high-contrast-mode .wifirt-dropdown-field-container .error-container span.text {
  color: Highlight !important;
}

.wifirt-dropdown-field-container.v2 {
  margin-bottom: 24px;
}
.wifirt-dropdown-field-container.v2 .dropdown-container {
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wifirt-dropdown-field-container.v2 .dropdown-container > div {
  height: 100%;
}
.wifirt-dropdown-field-container.v2 .dropdown-container > div.moveDown .current-item {
  z-index: 0;
}
.wifirt-dropdown-field-container.v2 .dropdown-container > div.moveUp .current-item {
  z-index: 1;
}
.wifirt-dropdown-field-container.v2 .dropdown-container > div.moveUp.progress .current-item {
  -moz-transform: translateX(100%);
   -ms-transform: translateX(100%);
       transform: translateX(100%);
  -moz-transition: transform 0.3s ease-in, -moz-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -moz-transform 0.3s ease-in;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container {
  padding: 8px;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container {
  background-color: #333;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header {
  padding-bottom: 8px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 8px;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header {
  border-bottom: 1px solid #565656;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div {
  width: 100%;
  gap: 4px;
  cursor: pointer;
  border-radius: 8px;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div:focus {
  outline: none;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div:focus-visible {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #054b91;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 2px;
  outline-color: #054b91;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div:focus-visible {
  outline-color: rgb(72, 182, 255);
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div:focus-visible {
  outline-color: Highlight;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div:focus-visible {
  outline-color: rgb(72, 182, 255);
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div:focus-visible {
  outline-color: Highlight;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div .keeper-iconbutton-back-arrow-2 {
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 4px;
}
.rtl .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div .keeper-iconbutton-back-arrow-2 {
  -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
       transform: rotate(180deg);
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div .keeper-iconbutton-back-arrow-2:focus {
  outline: none;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div .keeper-iconbutton-back-arrow-2:focus-visible {
  outline: 2px solid #054b91;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div .keeper-iconbutton-back-arrow-2:focus-visible {
  outline: 2px solid rgb(72, 182, 255);
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .dropdown-item-container-header div .keeper-iconbutton-back-arrow-2:focus-visible {
  outline: 2px solid Highlight;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  color: #000;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .text {
  color: #fff;
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .text {
  color: CanvasText;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item {
  cursor: pointer;
  padding: 8px;
  height: 40px;
  border-radius: 8px;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item:focus-visible {
  z-index: 1;
  outline: 2px solid #054b91;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item:focus-visible {
  outline: 2px solid rgb(72, 182, 255);
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item:focus-visible {
  outline: 2px solid Highlight;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.rtl .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right {
  -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
       transform: rotate(180deg);
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right:focus {
  outline: none;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right:focus-visible {
  outline: 2px solid #054b91;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right:focus-visible {
  outline: 2px solid rgb(72, 182, 255);
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right:focus-visible {
  outline: 2px solid Highlight;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right path {
  fill: #000;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right path {
  fill: #fff;
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-item-container .folder-item .keeper-iconbutton-chevron-right path {
  fill: CanvasText;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container {
  height: 60px;
  padding: 12px 16px;
  gap: 8px;
  border-top: 1px solid #d8d8d8;
  z-index: 2;
  background-color: #fff;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container {
  border-top: 1px solid #565656;
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container {
  border-top: 1px solid CanvasText;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container {
  background-color: #333;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container button {
  width: 70px;
  height: 36px;
  border-radius: 8px;
  font-family: Outfit, sans-serif;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  border: none;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container button {
  border: none;
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container button {
  border: 1px solid ButtonText !important;
}
.wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container button:focus {
  outline: none;
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-container .dropdown-button-container button:focus-visible {
  outline: 2px solid Highlight;
}
.wifirt-dropdown-field-container.v2 .dropdown-item {
  cursor: pointer;
  padding: 0px 8px 0px 8px;
  height: 24px;
  border-radius: 8px;
  -moz-box-align: start;
       align-items: start;
  margin-bottom: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wifirt-dropdown-field-container.v2 .dropdown-item.last-item {
  margin-bottom: 0px;
}
.wifirt-dropdown-field-container.v2 .dropdown-item:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-item:hover {
  background-color: #565656;
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-item:hover {
  background-color: none;
}
.wifirt-dropdown-field-container.v2 .dropdown-item:focus-visible {
  z-index: 1;
  outline: 2px solid #054b91;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-item:focus-visible {
  outline: 2px solid rgb(72, 182, 255);
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-item:focus-visible {
  outline: 2px solid Highlight;
}
.wifirt-dropdown-field-container.v2 .dropdown-item path,
.wifirt-dropdown-field-container.v2 .dropdown-item rect {
  fill: #000;
}
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-item path,
.dark-mode .wifirt-dropdown-field-container.v2 .dropdown-item rect {
  fill: #fff;
}
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-item path,
.high-contrast-mode .wifirt-dropdown-field-container.v2 .dropdown-item rect {
  fill: CanvasText;
}