.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

@-moz-keyframes keeper-tumble-die {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes keeper-tumble-die {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
.high-contrast-mode .input-field-container.password .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter {
  background: Highlight !important;
}
.high-contrast-mode .input-field-container.password .password-field-container .password-strength-container p {
  color: GrayText !important;
}
.high-contrast-mode .input-field-container.password .input-field-dice-icon-container .keeper-iconbutton-dice:focus-visible {
  border: 2px solid Highlight !important;
}

.dark-mode .input-field-container.password .password-field-container .password-strength-container .password-strength-bar {
  background: #404040 !important;
}
.dark-mode .input-field-container.password .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.strong {
  background: #64dc16 !important;
}
.dark-mode .input-field-container.password .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.medium, .dark-mode .input-field-container.password .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.fair {
  background: #ff8a00 !important;
}
.dark-mode .input-field-container.password .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.weak {
  background: #ff7361 !important;
}
.dark-mode .input-field-container.password .password-field-container .password-strength-container p {
  color: #b3b3b3 !important;
}
.dark-mode .input-field-container.password .input-field-dice-icon-container .keeper-iconbutton-dice:focus-visible {
  border: 2px solid rgb(72, 182, 255) !important;
}

.input-field-container.password .password-field-dice-container {
  gap: 12px;
}
.input-field-container.password .password-field-dice-container .password-field-container {
  -moz-box-flex: 1;
       flex-grow: 1;
  gap: 8px;
}
.input-field-container.password .password-field-dice-container .password-field-container .input-field input::-webkit-input-placeholder {
  letter-spacing: 0;
  font-weight: 400;
  font-family: Outfit, sans-serif;
}
.input-field-container.password .password-field-dice-container .password-field-container .input-field input::-moz-placeholder {
  letter-spacing: 0;
  font-weight: 400;
  font-family: Outfit, sans-serif;
}
.input-field-container.password .password-field-dice-container .password-field-container .input-field input:-ms-input-placeholder {
  letter-spacing: 0;
  font-weight: 400;
  font-family: Outfit, sans-serif;
}
.input-field-container.password .password-field-dice-container .password-field-container .input-field input::-ms-input-placeholder {
  letter-spacing: 0;
  font-weight: 400;
  font-family: Outfit, sans-serif;
}
.input-field-container.password .password-field-dice-container .password-field-container .input-field input::placeholder {
  letter-spacing: 0;
  font-weight: 400;
  font-family: Outfit, sans-serif;
}
.input-field-container.password .password-field-dice-container .password-field-container .input-field input[type=text] {
  font-family: Roboto-Mono, monospace;
  font-weight: 500;
}
.input-field-container.password .password-field-dice-container .password-field-container .input-field input[type=password] {
  letter-spacing: 2px;
  font-weight: bold;
  font-family: initial;
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container {
  -moz-box-flex: 1;
       flex-grow: 1;
  gap: 4px;
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container .password-strength-bar {
  height: 4px;
  background: #f0f0f0;
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter {
  height: 100%;
  width: 0;
  -moz-transition: width 1s, background-color 1s;
  transition: width 1s, background-color 1s;
  border-radius: 2px;
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.strong {
  background: -moz-linear-gradient(left, #22c441 0%, #1a9732 100%);
  background: linear-gradient(90deg, #22c441 0%, #1a9732 100%);
  width: 100%;
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.medium {
  width: 75%;
  background: -moz-linear-gradient(left, #ff8a00 0%, #e65c00 100%);
  background: linear-gradient(90deg, #ff8a00 0%, #e65c00 100%);
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.fair {
  width: 50%;
  background: -moz-linear-gradient(left, #ff8a00 0%, #e65c00 100%);
  background: linear-gradient(90deg, #ff8a00 0%, #e65c00 100%);
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container .password-strength-bar .password-strength-bar-meter.weak {
  width: 25%;
  background: -moz-linear-gradient(left, #f33 0%, #ce021b 100%);
  background: linear-gradient(90deg, #f33 0%, #ce021b 100%);
}
.input-field-container.password .password-field-dice-container .password-field-container .password-strength-container p {
  color: #565656;
  font-size: 14px;
  line-height: 20px;
  font-family: Outfit, sans-serif;
}
.input-field-container.password .password-field-dice-container .input-field-dice-icon-container {
  height: 40px;
}
.input-field-container.password .password-field-dice-container .input-field-dice-icon-container .keeper-iconbutton-dice {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 4px;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}
.input-field-container.password .password-field-dice-container .input-field-dice-icon-container .keeper-iconbutton-dice.spin {
  -moz-animation: keeper-tumble-die 0.25s linear;
       animation: keeper-tumble-die 0.25s linear;
}
.input-field-container.password .password-field-dice-container .input-field-dice-icon-container .keeper-iconbutton-dice:focus-visible {
  outline: none;
  border: 2px solid #054b91;
}
.input-field-container.password .privacy-screen-message-container {
  gap: 8px;
}
.input-field-container.password .privacy-screen-message-container .text {
  font-size: 14px;
  color: #565656;
  line-height: 20px;
}