.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.title-field-container {
  -moz-box-flex: 1;
       flex-grow: 1;
}
.title-field-container.error .title-field {
  border-width: 2px;
  border-style: solid;
  border-color: #ce021b;
}
.dark-mode .title-field-container.error .title-field {
  border-color: #ff7361;
}
.high-contrast-mode .title-field-container.error .title-field {
  border-color: Highlight;
}
.title-field-container.error .title-field input::-webkit-input-placeholder {
  color: #ce021b;
}
.title-field-container.error .title-field input::-moz-placeholder {
  color: #ce021b;
}
.title-field-container.error .title-field input:-ms-input-placeholder {
  color: #ce021b;
}
.title-field-container.error .title-field input::-ms-input-placeholder {
  color: #ce021b;
}
.title-field-container.error .title-field input::placeholder {
  color: #ce021b;
}
.dark-mode .title-field-container.error .title-field input::-webkit-input-placeholder {
  color: #ff7361;
}
.dark-mode .title-field-container.error .title-field input::-moz-placeholder {
  color: #ff7361;
}
.dark-mode .title-field-container.error .title-field input:-ms-input-placeholder {
  color: #ff7361;
}
.dark-mode .title-field-container.error .title-field input::-ms-input-placeholder {
  color: #ff7361;
}
.dark-mode .title-field-container.error .title-field input::placeholder {
  color: #ff7361;
}
.high-contrast-mode .title-field-container.error .title-field input::-webkit-input-placeholder {
  color: Highlight;
}
.high-contrast-mode .title-field-container.error .title-field input::-moz-placeholder {
  color: Highlight;
}
.high-contrast-mode .title-field-container.error .title-field input:-ms-input-placeholder {
  color: Highlight;
}
.high-contrast-mode .title-field-container.error .title-field input::-ms-input-placeholder {
  color: Highlight;
}
.high-contrast-mode .title-field-container.error .title-field input::placeholder {
  color: Highlight;
}
.title-field-container .title-field {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  height: 40px;
  padding: 0 16px;
  font-size: 17px;
  -moz-box-flex: 1;
       flex-grow: 1;
  color: #000;
}
.dark-mode .title-field-container .title-field {
  background-color: #191919;
}
.dark-mode .title-field-container .title-field {
  border: 1px solid #565656;
}
.dark-mode .title-field-container .title-field {
  color: #fff;
}
.title-field-container .title-field:has(:focus-visible) {
  border-width: 2px;
  border-style: solid;
  border-color: #054b91;
}
.dark-mode .title-field-container .title-field:has(:focus-visible) {
  border-color: rgb(72, 182, 255);
}
.high-contrast-mode .title-field-container .title-field:has(:focus-visible) {
  border-color: Highlight;
}
.title-field-container .title-field input {
  background-color: #fff;
  font-size: 15px;
  -moz-box-flex: 1;
       flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-family: Outfit, sans-serif;
}
.dark-mode .title-field-container .title-field input {
  background-color: #191919;
}
.title-field-container .title-field input:focus-visible {
  outline: none;
}
.title-field-container .title-field input::-webkit-input-placeholder {
  color: #565656;
}
.title-field-container .title-field input::-moz-placeholder {
  color: #565656;
}
.title-field-container .title-field input:-ms-input-placeholder {
  color: #565656;
}
.title-field-container .title-field input::-ms-input-placeholder {
  color: #565656;
}
.title-field-container .title-field input::placeholder {
  color: #565656;
}
.dark-mode .title-field-container .title-field input::-webkit-input-placeholder {
  color: #b3b3b3;
}
.dark-mode .title-field-container .title-field input::-moz-placeholder {
  color: #b3b3b3;
}
.dark-mode .title-field-container .title-field input:-ms-input-placeholder {
  color: #b3b3b3;
}
.dark-mode .title-field-container .title-field input::-ms-input-placeholder {
  color: #b3b3b3;
}
.dark-mode .title-field-container .title-field input::placeholder {
  color: #b3b3b3;
}
.title-field-container .title-field .title-field-icon-container svg.keeper-iconbutton-triangle-warning {
  width: 24px;
  height: 24px;
}
.title-field-container .title-field .title-field-icon-container svg.keeper-iconbutton-triangle-warning path {
  fill: #ce021b;
}
.dark-mode .title-field-container .title-field .title-field-icon-container svg.keeper-iconbutton-triangle-warning path {
  fill: #ff7361;
}
.high-contrast-mode .title-field-container .title-field .title-field-icon-container svg.keeper-iconbutton-triangle-warning path {
  fill: Highlight;
}