.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

div.keeper-select-usability-password.keeper-input, div.keeper-select-usability-password.keeper-input-password, div.keeper-select-usability, textarea.keeper-input-password,
div.keeper-select-password, textarea.keeper-input,
div.keeper-select {
  font-size: 13px;
  font-family: Outfit, sans-serif;
  line-height: 24px;
  color: black;
  outline: none;
  background-color: transparent;
  height: 44px;
  padding: 0;
  padding-top: 4px;
  display: -moz-box;
  display: flex;
  overflow: hidden;
  border: none;
  width: 100%;
  -moz-transition: height 0.3s ease;
  transition: height 0.3s ease;
  resize: none;
  word-wrap: break-word;
}
div.keeper-select-usability-password.keeper-input::-webkit-input-placeholder, div.keeper-select-usability-password.keeper-input-password::-webkit-input-placeholder, div.keeper-select-usability::-webkit-input-placeholder, textarea.keeper-input-password::-webkit-input-placeholder, div.keeper-select-password::-webkit-input-placeholder, textarea.keeper-input::-webkit-input-placeholder, div.keeper-select::-webkit-input-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
div.keeper-select-usability-password.keeper-input::-moz-placeholder, div.keeper-select-usability-password.keeper-input-password::-moz-placeholder, div.keeper-select-usability::-moz-placeholder, textarea.keeper-input-password::-moz-placeholder, div.keeper-select-password::-moz-placeholder, textarea.keeper-input::-moz-placeholder, div.keeper-select::-moz-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
div.keeper-select-usability-password.keeper-input:-ms-input-placeholder, div.keeper-select-usability-password.keeper-input-password:-ms-input-placeholder, div.keeper-select-usability:-ms-input-placeholder, textarea.keeper-input-password:-ms-input-placeholder, div.keeper-select-password:-ms-input-placeholder, textarea.keeper-input:-ms-input-placeholder, div.keeper-select:-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
div.keeper-select-usability-password.keeper-input::-ms-input-placeholder, div.keeper-select-usability-password.keeper-input-password::-ms-input-placeholder, div.keeper-select-usability::-ms-input-placeholder, textarea.keeper-input-password::-ms-input-placeholder, div.keeper-select-password::-ms-input-placeholder, textarea.keeper-input::-ms-input-placeholder, div.keeper-select::-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
div.keeper-select-usability-password.keeper-input::placeholder, div.keeper-select-usability-password.keeper-input-password::placeholder, div.keeper-select-usability::placeholder, textarea.keeper-input-password::placeholder,
div.keeper-select-password::placeholder, textarea.keeper-input::placeholder,
div.keeper-select::placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
div.adjust-relative-to-border.keeper-select-usability-password.keeper-input, div.adjust-relative-to-border.keeper-select-usability-password.keeper-input-password, div.adjust-relative-to-border.keeper-select-usability, textarea.adjust-relative-to-border.keeper-input-password,
div.adjust-relative-to-border.keeper-select-password, textarea.adjust-relative-to-border.keeper-input,
div.adjust-relative-to-border.keeper-select {
  padding: 10px 12px !important;
  line-height: 20px;
}

div.keeper-select-password.keeper-input-usability-password, div.keeper-select-password.keeper-input-usability, textarea.keeper-input-usability-password,
div.keeper-select-usability-password, textarea.keeper-input-usability,
div.keeper-select-usability {
  font-size: 13px;
  font-family: Outfit, sans-serif;
  line-height: 20px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: #000;
  outline: none;
  background-color: transparent;
  height: 24px;
  overflow: hidden;
  width: 100%;
  -moz-transition: height 0.3s ease;
  transition: height 0.3s ease;
  resize: none;
  word-wrap: break-word;
  border: 1px solid #d8d8d8;
  padding: 8px 12px;
  border-radius: 8px;
}
.record-edit-field-usability.error div.keeper-select-password.keeper-input-usability-password, .record-edit-field-usability.error div.keeper-select-password.keeper-input-usability, .record-edit-field-usability.error textarea.keeper-input-usability-password,
.record-edit-field-usability.error div.keeper-select-usability-password, .record-edit-field-usability.error textarea.keeper-input-usability,
.record-edit-field-usability.error div.keeper-select-usability {
  border-color: #b60000;
}

div.keeper-select-usability-password.keeper-input-password, div.keeper-select-password.keeper-input-usability-password, textarea.keeper-input-usability-password,
div.keeper-select-usability-password, textarea.keeper-input-password,
div.keeper-select-password {
  font-family: Roboto-Mono, "PT Mono", monospace;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 24px;
  color: #000;
}

div.keeper-select-usability, div.keeper-select {
  cursor: pointer;
  position: relative;
}
div.keeper-select-usability ~ .cancel, div.keeper-select ~ .cancel {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  bottom: 11px;
  right: 30px;
}
div.keeper-select-disabled.keeper-select-usability, div.keeper-select-disabled.keeper-select {
  border-color: #bfbfbf;
  opacity: 0.5;
  cursor: inherit;
}
div.keeper-select-disabled.keeper-select-usability ~ div svg path, div.keeper-select-disabled.keeper-select ~ div svg path {
  fill-opacity: 0.5;
}

.keeper-select-usability {
  display: -moz-box;
  display: flex;
  padding: 8px;
  height: 40px;
  text-align: left;
}
.rtl .keeper-select-usability {
  text-align: right;
}
.keeper-select-usability span {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.keeper-select-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.keeper-select-menu {
  position: absolute;
  max-height: 300px;
  overflow: hidden auto;
  font-size: 14px;
  font-family: Outfit, sans-serif;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
.keeper-select-menu .keeper-select-menu-item {
  padding: 7px 16px;
  line-height: 16px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  border-radius: 4px;
  gap: 8px;
  text-align: left;
}
.rtl .keeper-select-menu .keeper-select-menu-item {
  text-align: right;
}
.keeper-select-menu .keeper-select-menu-item .check {
  height: 24px;
  flex-basis: 24px;
  width: 24px;
  margin: 0 8px 0 0;
  position: absolute;
  right: -6px;
}
.rtl .keeper-select-menu .keeper-select-menu-item .check {
  margin: 0 0 0 8px;
  position: absolute;
  left: -8px;
  right: initial;
}
.keeper-select-menu .keeper-select-menu-item .menu-item-description {
  width: -moz-calc(100% - 24px - 8px);
  width: calc(100% - 24px - 8px);
}
.keeper-select-menu .keeper-select-menu-item .menu-item-description .menu-item-title,
.keeper-select-menu .keeper-select-menu-item .menu-item-description .sublabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.keeper-select-menu .keeper-select-menu-item .menu-item-description .sublabel {
  color: #565656;
}
.keeper-select-menu .keeper-select-menu-item .menu-item-description .menu-desc-label {
  margin-left: 8px;
  margin-right: 24px;
  font-size: 14px;
  color: #000;
  padding: 0;
  align-self: center;
  -moz-box-flex: 1;
       flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.keeper-select-menu .keeper-select-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.keeper-rtl .keeper-select-menu .keeper-select-menu-item .check {
  margin: unset;
  right: unset;
  left: 6px;
}

.keeper-select-field-container .selected-item-and-dropdown-arrow {
  border-radius: 8px;
  cursor: pointer;
}
.keeper-select-field-container .selected-item-and-dropdown-arrow.bordered {
  border: 1px solid #d8d8d8;
}
.keeper-select-field-container .selected-item-and-dropdown-arrow .keeper-select-usability {
  border: none;
}