.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.overlayprompt-shadow {
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: inherit;
}

.overlayprompt {
  position: absolute;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-color: white;
  width: 272px;
  min-height: 160px;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
  color: #ffc700;
  border-radius: 4px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-pack: justify;
       justify-content: space-between;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 16px;
  text-align: center;
}
.overlayprompt .prompttitle {
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
  margin-top: 10px;
}
.overlayprompt .promptmessage {
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
  line-height: 1.6;
  margin-top: 8px;
}
.overlayprompt .promptbuttons {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  margin-top: 16px;
}
.overlayprompt .promptbuttons button.promptbutton {
  height: 28px;
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 2px;
  border: none;
  background: #e5e5e5;
  font-family: HelveticaNeue-Medium, Helvetica, Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
}
.overlayprompt .promptbuttons button.promptbutton.confirm {
  background: #ffc700;
}

.dark-mode .overlayprompt {
  background-color: #1f1f1f;
  border: 1px solid #979797 !important;
}
.dark-mode .overlayprompt .prompttitle {
  color: white;
}
.dark-mode .overlayprompt .promptmessage {
  color: white;
}