.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.rtl .countdown-circle {
  margin-left: 20px;
  margin-right: 0;
}
.countdown-circle .base {
  stroke: #b3b3b3;
}
.countdown-circle .progress {
  stroke: #1b74da;
  -moz-transition: stroke-dashoffset 1s linear;
  transition: stroke-dashoffset 1s linear;
}
.countdown-circle .base,
.countdown-circle .progress {
  fill: none;
  stroke-width: 4px;
}