.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.trim-url-toggle-container .trim-url-text {
  color: #565656;
}
.dark-mode .trim-url-toggle-container .trim-url-text {
  color: #b3b3b3;
}
.high-contrast-mode .trim-url-toggle-container .trim-url-text {
  color: CanvasText;
}
.trim-url-toggle-container .keeper-iconbutton-unchecked path {
  fill: #888;
}
.dark-mode .trim-url-toggle-container .keeper-iconbutton-unchecked path {
  fill: #888 !important;
}
.high-contrast-mode .trim-url-toggle-container .keeper-iconbutton-unchecked path {
  fill: CanvasText;
}
.trim-url-toggle-container .keeper-iconbutton-help2 path {
  fill: #565656;
}
.dark-mode .trim-url-toggle-container .keeper-iconbutton-help2 path {
  fill: #b3b3b3 !important;
}
.high-contrast-mode .trim-url-toggle-container .keeper-iconbutton-help2 path {
  fill: CanvasText;
}