.page-container {
  background-image: url("/images/vault-outline.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: flex;
  overflow: auto;
}
.page-container.dark-mode {
  background-image: url("/images/vault-outline-dark-mode.svg");
  background-color: black;
}