.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.high-contrast-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.placeholder .text {
  color: GrayText !important;
}
.high-contrast-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container .option .sublabel {
  color: GrayText !important;
}
.high-contrast-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .placeholder-container:focus-visible,
.high-contrast-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .keeper-iconbutton-cancel:focus-visible {
  border: 2px solid Highlight;
}

.dark-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.placeholder .placeholder-container, .dark-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .placeholder-container {
  background-color: #191919;
  border: 1px solid #565656;
}
.dark-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.placeholder .text {
  color: #b3b3b3 !important;
}
.dark-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .placeholder-container:focus-visible,
.dark-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .keeper-iconbutton-cancel:focus-visible {
  border: 2px solid rgb(72, 182, 255);
}
.dark-mode .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container .option .sublabel {
  font-size: 14px;
  color: #b3b3b3 !important;
}

.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .dropdown-container {
  top: initial;
  bottom: 0;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container {
  border-radius: 8px;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected:focus-visible {
  border: none !important;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container:focus-visible .placeholder-container {
  height: 36px !important;
  border: none !important;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.placeholder, .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected {
  gap: 4px;
  padding: 0;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.placeholder .placeholder-container, .dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .placeholder-container {
  padding: 0 8px 0 16px;
  height: 40px;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container .option .sublabel {
  font-size: 14px;
  color: #565656;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .placeholder-container:focus-visible {
  outline: none;
  border: 2px solid #054b91;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .keeper-iconbutton-cancel {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  border-radius: 4px;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.selected .keeper-iconbutton-cancel:focus-visible {
  outline: none;
  border: 2px solid #054b91;
}
.dropdown-field-container.country-dropdown-field .dropdown-field-options-container .option-container.placeholder .text {
  color: #565656;
}