#debug-app {
  margin: 40px;
  display: block;
}

#info {
  text-align: center;
  cursor: pointer;
  display: -moz-box;
  display: flex;
  height: 20px;
}

* {
  font-size: 16px;
}

#filters {
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0;
}

#filters .filter-checkbox {
  -moz-box-flex: 1;
       flex: 1 0 31%;
  padding: 4px;
  height: 40px;
  border: 1px solid black;
}

.row {
  display: -moz-box;
  display: flex;
}

.align-center {
  -moz-box-align: center;
       align-items: center;
}

.columm {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}

#debug-app #debug-options .row {
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: justify;
       justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #b4b4b5;
}

#filters input[type='checkbox'],
#debug-options input[type='checkbox'] {
  display: none;
}

#debug-options {
  margin: 0 auto;
  width: 400px;
}

#log-container,
#log-controls {
  padding-top: 16px;
}

#filters label,
#debug-options label {
  position: relative;
  display: block;
  height: 12px;
  width: 28px;
  border-radius: 100px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #939393;
}

#filters label::after,
#debug-options label::after {
  position: absolute;
  top: -3px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 21%);
  content: '';
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f4f4f4;
  left: -2px;
}

.log-item {
  border-bottom: 1px solid #b4b4b5;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}

.log-item.error-log {
  border-bottom: 2px solid red;
}

.log-item .toggle {
  display: -moz-box;
  display: flex;
  cursor: pointer;
}

.log-item .viewableData {
  /* word-break: break-all; */
  line-height: 22px;
  font-size: 12px;
  margin: 16px auto;
  background: #f1f1f1;
}

.md-toggle label::after {
  left: -2px;
}

.md-toggle-checked label::after {
  left: 12px !important;
  border: 1px #1a9732 solid;
}

.high-contrast-border-rounded-highlight .md-toggle label::after,
.high-contrast-border-rounded .md-toggle label::after {
  left: 12px !important;
  border: 10px solid black;
}

.high-contrast-border-rounded .md-toggle-checked label::after,
.high-contrast-border-rounded-highlight .md-toggle-checked label::after {
  left: 12px !important;
  border: 10px solid Highlight;
}

.md-toggle-checked label {
  background-color: #1a9732 !important;
}

.md-toggle label:focus {
  border: none;
}

.md-toggle {
  align-self: center;
}

.md-toggle label {
  background: #939393;
}
