.password-rule-list {
  gap: 10px;
  list-style-type: none;
  padding: 0;
}
.password-rule-list li.password-rule-list-item {
  gap: 8px;
}
.password-rule-list li.password-rule-list-item .keeper-iconbutton-check {
  width: 24px;
  height: 24px;
}