.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

div.passkey-field {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #f0f0f0;
  border-radius: 8px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  align-self: stretch;
  padding: 12px 16px;
  gap: 8px;
}
.dark-mode div.passkey-field {
  background: #404040;
}
div.passkey-field div.passkey-field-primary-row {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-align: center;
       align-items: center;
  gap: 12px;
  align-self: stretch;
}
div.passkey-field div.passkey-field-primary-row div.passkey-field-title {
  -moz-box-flex: 1;
       flex-grow: 1;
}
div.passkey-field div.passkey-field-primary-row div.passkey-field-title > div.passkey-field-title-text {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
div.passkey-field div.passkey-field-primary-row div.passkey-field-title > div.passkey-field-date {
  font-size: 14px;
  line-height: 20px;
  color: #565656;
}
.dark-mode div.passkey-field div.passkey-field-primary-row div.passkey-field-title > div.passkey-field-date {
  color: #b3b3b3;
}
div.passkey-field div.passkey-field-primary-row div.passkey-field-button {
  height: 24px;
  width: 24px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 4px;
}
div.passkey-field div.passkey-field-primary-row div.passkey-field-button.expand svg path {
  fill: black;
}
.dark-mode div.passkey-field div.passkey-field-primary-row div.passkey-field-button.expand svg path {
  fill: white;
}
div.passkey-field div.passkey-field-primary-row div.passkey-field-button.edit svg path {
  fill: #ce021b !important;
}
.dark-mode div.passkey-field div.passkey-field-primary-row div.passkey-field-button.edit svg path {
  fill: #ff7361 !important;
}
div.passkey-field div.passkey-field-expanded-rows {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  padding: 0;
  gap: 8px;
  -moz-box-flex: 0;
       flex: none;
  align-self: stretch;
}
div.passkey-field div.passkey-field-expanded-rows div.passkey-field-expanded-row {
  width: 100%;
}
div.passkey-field div.passkey-field-expanded-rows div.passkey-field-expanded-row > div {
  line-height: 20px;
  color: #565656;
}
.dark-mode div.passkey-field div.passkey-field-expanded-rows div.passkey-field-expanded-row > div {
  color: #b3b3b3;
}
div.passkey-field div.passkey-field-expanded-rows div.passkey-field-expanded-row > div:first-child {
  font-size: 14px;
}
div.passkey-field div.passkey-field-expanded-rows div.passkey-field-expanded-row > div:last-child {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}