form {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  gap: 12px;
}

pre {
  white-space: pre-wrap;
}

select[name=frame-url] {
  width: 200px;
}