@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/custom/OutfitKS-Thin.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/custom/OutfitKS-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/custom/OutfitKS-Light.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/custom/OutfitKS-Regular.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/custom/OutfitKS-Medium.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/custom/OutfitKS-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/custom/OutfitKS-Bold.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/custom/OutfitKS-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/custom/OutfitKS-Black.woff2) format("woff2");
}
@font-face {
  font-family: Outfit-SemiBold;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/custom/OutfitKS-Medium.woff2) format("woff2");
}
html {
  background: var(--gradient-blue, radial-gradient(138.46% 138.89% at 1.25% 96.18%, #1b78e0 0%, #004899 100%));
  color: #fff;
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.mock-head {
  margin-bottom: 72px;
  background: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: -moz-box;
  display: flex;
  padding: 16px 95px;
}

.title {
  font-size: 36px;
  height: 55px;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  display: inline;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 56px;
  height: 37px;
  font-family: Outfit, sans-serif;
}

.browser-selected {
  padding: 0 24px;
}

.browser-selector {
  display: -moz-box;
  display: flex;
  padding: 64px;
  -moz-box-pack: center;
       justify-content: center;
  flex-wrap: wrap;
}

.browser {
  padding: 16px;
  margin-right: 16px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #0b4486;
  border-radius: 8px;
  margin-bottom: 16px;
}

.browser-title {
  color: #fff;
  text-align: center;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
}

svg.title-icon-one,
svg.title-icon-two {
  position: relative;
  top: 3px;
  padding: 0 8px;
  height: 24px;
  width: 24px;
}

.animation {
  height: 348px;
}