div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container {
  padding: 20px;
  gap: 20px;
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container .header-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: justify;
       justify-content: space-between;
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container .header-container .icon-and-header {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  gap: 12px;
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container .header-container .icon-and-header .keeper-iconbutton-keeper-icon {
  width: 28px;
  height: 28px;
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container .header-container .icon-and-header p {
  font-family: Overpass, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container .header-container .keeper-iconbutton-cancelx {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container .header-container .keeper-iconbutton-cancelx rect {
  fill: #565656;
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container p {
  color: #000;
  font-family: Overpass, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}
div#keeper-extension-root > #keeper-extension.loginPrompt.loginPromptForcingFunction .prompt-container .keeper-button {
  width: 100%;
}