button.truncate-button span.ButtonContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.details-container .details-header {
  padding: 24px 16px 16px 20px;
}
.dark-mode .details-container .details-header {
  background-color: #262626;
}
.details-container .details-header .actions div.back {
  height: 24px;
  cursor: pointer;
}
.dark-mode .details-container .details-header .actions div.back svg rect {
  fill: #fff;
}
.details-container .details-header .actions div[role=button],
.details-container .details-header .actions button[role=button] {
  min-width: 68px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  border-radius: 8px;
  height: 32px;
  padding: 4px 12px;
  cursor: pointer;
}
.details-container .details-header .actions div[role=button]:focus-visible,
.details-container .details-header .actions button[role=button]:focus-visible {
  outline-offset: 2px;
}
.dark-mode .details-container .details-header .actions div[role=button]:focus-visible,
.dark-mode .details-container .details-header .actions button[role=button]:focus-visible {
  outline: 2px solid #48b6ff;
}
.high-contrast-mode .details-container .details-header .actions div[role=button]:focus-visible,
.high-contrast-mode .details-container .details-header .actions button[role=button]:focus-visible {
  outline: 2px solid CanvasText;
}
.details-container .details-header .actions div[role=button].keeper-blue-button-solid,
.details-container .details-header .actions button[role=button].keeper-blue-button-solid {
  background-color: #1b74da;
  color: #fff;
}
.high-contrast-mode .details-container .details-header .actions div[role=button].keeper-blue-button-solid,
.high-contrast-mode .details-container .details-header .actions button[role=button].keeper-blue-button-solid {
  border: 1px solid ButtonText;
}
.high-contrast-mode .details-container .details-header .actions div[role=button].keeper-blue-button-solid,
.high-contrast-mode .details-container .details-header .actions button[role=button].keeper-blue-button-solid {
  color: ButtonText !important;
}
.details-container .details-header .actions div[role=button].keeper-blue-button-solid:hover,
.details-container .details-header .actions button[role=button].keeper-blue-button-solid:hover {
  background-color: #054b91;
}
.details-container .details-header .actions div[role=button].keeper-blue-button-outline,
.details-container .details-header .actions button[role=button].keeper-blue-button-outline {
  color: #1b74da;
  border: 1px solid #1b74da;
}
.dark-mode .details-container .details-header .actions div[role=button].keeper-blue-button-outline,
.dark-mode .details-container .details-header .actions button[role=button].keeper-blue-button-outline {
  color: #48b6ff;
}
.high-contrast-mode .details-container .details-header .actions div[role=button].keeper-blue-button-outline,
.high-contrast-mode .details-container .details-header .actions button[role=button].keeper-blue-button-outline {
  color: ButtonText !important;
}
.dark-mode .details-container .details-header .actions div[role=button].keeper-blue-button-outline,
.dark-mode .details-container .details-header .actions button[role=button].keeper-blue-button-outline {
  border: 1px solid #48b6ff;
}
.high-contrast-mode .details-container .details-header .actions div[role=button].keeper-blue-button-outline,
.high-contrast-mode .details-container .details-header .actions button[role=button].keeper-blue-button-outline {
  border: 1px solid ButtonText;
}
.details-container .details-header .actions div[role=button].keeper-blue-button-outline:hover,
.details-container .details-header .actions button[role=button].keeper-blue-button-outline:hover {
  background-color: #e8f2fc;
}
.dark-mode .details-container .details-header .actions div[role=button].keeper-blue-button-outline:hover,
.dark-mode .details-container .details-header .actions button[role=button].keeper-blue-button-outline:hover {
  background-color: #404040;
}
.details-container .details-header .share {
  background-color: transparent;
}
.details-container .details-header .share:hover {
  background-color: #404040;
}
.details-container .details-header .share,
.details-container .details-header .autofill-btn {
  height: 32px;
}
.details-container .details-header .options {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 10px;
}
.high-contrast-mode .details-container .details-header .options {
  border: 1px solid ButtonText;
}
.details-container .details-header .options > div {
  height: 32px;
}
.details-container .details-header .options:focus-visible {
  outline-offset: 2px;
}
.dark-mode .details-container .details-header .options:focus-visible {
  outline: 2px solid #48b6ff;
}
.high-contrast-mode .details-container .details-header .options:focus-visible {
  outline: 2px solid CanvasText;
}
.details-container .details-header .options:focus-visible svg {
  background: #f0f0f0;
}
.dark-mode .details-container .details-header .options:focus-visible svg {
  background: #404040;
}
.details-container .details-header .options:hover svg {
  background: #d8d8d8;
}
.dark-mode .details-container .details-header .options:hover svg {
  background: #565656;
}
.details-container .details-header .options svg {
  border-radius: 8px;
  background: #f0f0f0;
}
.dark-mode .details-container .details-header .options svg {
  background: #404040 !important;
}
.high-contrast-mode .details-container .details-header .options svg {
  background: none !important;
}
.high-contrast-mode .details-container .details-header .options svg path {
  fill: ButtonText;
}
.details-container .details-header .record-details-menu {
  background: #fff;
  background-color: #fff;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 280px;
  z-index: 1;
}
.dark-mode .details-container .details-header .record-details-menu {
  background-color: #333;
}
.dark-mode .details-container .details-header .record-details-menu {
  color: #fff;
}
.details-container .details-header .record-details-menu .details-menu-item {
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  gap: 8px;
}
.dark-mode .details-container .details-header .record-details-menu .details-menu-item.delete-trash path {
  fill: #ff7361;
}
.high-contrast-mode .details-container .details-header .record-details-menu .details-menu-item.delete-trash path {
  fill: CanvasText;
}
.details-container .details-header .record-details-menu .details-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dark-mode .details-container .details-header .record-details-menu .details-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.dark-mode .details-container .details-header .record-details-menu .details-menu-item svg path {
  fill: #fff;
}
.high-contrast-mode .details-container .details-header .record-details-menu .details-menu-item svg path {
  fill: CanvasText;
}
.details-container .record-details-pane .folder-view-field .field-value span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
.details-container .record-details-pane .field.otp.v2.invalid-totp-token .totp-top-container .invalid-totp-token-message-container .keeper-iconbutton-circle path {
  fill: #f0f0f0;
}
.dark-mode .details-container .record-details-pane .field.otp.v2.invalid-totp-token .totp-top-container .invalid-totp-token-message-container .keeper-iconbutton-circle path {
  fill: #565656 !important;
}
.high-contrast-mode .details-container .record-details-pane .field.otp.v2.invalid-totp-token .totp-top-container .invalid-totp-token-message-container .keeper-iconbutton-circle path {
  fill: CanvasText;
}