.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.password-text {
  font-family: Roboto-Mono, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: black !important;
  word-wrap: break-word;
  width: 204px;
  overflow: hidden;
}
.password-text .num {
  color: #054b91 !important;
}
.password-text .num.dark {
  color: #48b6ff !important;
}
.password-text .specialChar {
  color: #ce021b !important;
}
.password-text .specialChar.dark {
  color: #ff7361 !important;
}
.password-text.dark {
  color: white !important;
}

#symbol-disabled:hover svg rect {
  fill: #d8d8d8;
}

#symbol-disabled-dark:hover svg rect {
  fill: #333;
}

#symbol-enabled:hover svg rect {
  fill: #054b91;
}

.choice-password {
  padding: 16px 24px 12px;
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
}
.choice-password:hover {
  background-color: #f0f0f0;
}
.choice-password.dark {
  color: white;
}
.choice-password.dark:hover {
  background-color: #565656;
}

.choice-passphrase {
  padding: 12px 24px 16px;
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
}
.choice-passphrase:hover {
  background-color: #f0f0f0;
}
.choice-passphrase.dark {
  color: white;
}
.choice-passphrase.dark:hover {
  background-color: #565656;
}