.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.high-contrast-mode .dropdown-field-container label {
  color: GrayText;
}
.high-contrast-mode .dropdown-field-container .option-container:focus-visible {
  border: 2px solid LinkText;
}

.dark-mode .dropdown-field-container label {
  color: #b3b3b3;
}
.dark-mode .dropdown-field-container .dropdown-container {
  background-color: #191919;
  border: 1px solid #565656;
}
.dark-mode .dropdown-field-container .dropdown-container .option-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.dark-mode .dropdown-field-container .option-container:focus-visible {
  border: 2px solid rgb(72, 182, 255) !important;
  outline: none;
}
.dark-mode .passtype-dropdown .dropdown-container {
  background-color: #333;
}

.dropdown-field-container {
  gap: 4px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.dropdown-field-container * {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.dropdown-field-container.opened .dropdown-field-options-container {
  position: relative;
  z-index: 2;
}
.dropdown-field-container label {
  font-size: 14px;
  line-height: 20px;
  color: #565656;
}
.dropdown-field-container:not(.useCustomScroll) .dropdown-container {
  overflow: hidden overlay;
}
.dropdown-field-container .dropdown-field-alt {
  border-radius: 8px !important;
  width: -webkit-fill-available;
  width: -moz-available;
}
.dropdown-field-container .dropdown-container {
  overflow: hidden;
  min-height: 40px;
  max-height: 120px;
  position: absolute;
  width: 100%;
  top: 0;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 4px;
}
.dropdown-field-container .dropdown-container .option-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.dropdown-field-container .dropdown-field-options-container {
  border-radius: 8px;
}
.dropdown-field-container .option-container {
  min-height: 40px;
  padding: 4px 8px 4px 16px;
  border-radius: 4px;
}
.dropdown-field-container .option-container:focus-visible {
  outline: none;
  border: 2px solid #054b91 !important;
}
.dropdown-field-container .option-container .option {
  gap: 8px;
}
.dropdown-field-container .option-container .option .text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 196px;
}
.dropdown-field-container .option-container .keeper-iconbutton-dropdown-arrow path {
  fill: black;
}
.dropdown-field-container .option-container .keeper-iconbutton-check {
  width: 24px;
  height: 24px;
}

.high-contrast-mode .logout-timer-unit-dropdown-field.dropdown-field-container {
  border: 1px solid ButtonBorder;
}
.high-contrast-mode .logout-timer-unit-dropdown-field.dropdown-field-container:hover {
  border: 1px solid Highlight;
}
.high-contrast-mode .logout-timer-unit-dropdown-field.dropdown-field-container:focus-visible {
  outline: auto;
}
.high-contrast-mode .logout-timer-unit-dropdown-field.dropdown-field-container .dropdown-field-options-container .option-container svg path {
  fill: CanvasText;
}

.dark-mode .logout-timer-unit-dropdown-field.dropdown-field-container.closed {
  border: 1px solid black;
}
.dark-mode .logout-timer-unit-dropdown-field.dropdown-field-container.closed:focus-visible {
  outline: 2px solid rgb(72, 182, 255);
}

.logout-timer-unit-dropdown-field.dropdown-field-container {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #565656;
  background: transparent;
  cursor: pointer;
  height: 40px;
}
.logout-timer-unit-dropdown-field.dropdown-field-container.opened {
  border: none;
}
.logout-timer-unit-dropdown-field.dropdown-field-container:focus-visible {
  outline: 2px solid #054b91;
}
.logout-timer-unit-dropdown-field.dropdown-field-container .dropdown-field-alt {
  width: 100%;
}
.logout-timer-unit-dropdown-field.dropdown-field-container .dropdown-field-alt .option-container {
  padding: 4px 8px 4px 16px;
}
.logout-timer-unit-dropdown-field.dropdown-field-container .dropdown-container {
  overflow-x: initial;
  overflow-y: initial;
  max-height: initial;
  width: 251px;
  left: -90px;
  top: 41px;
}

.landscape .logout-timer-unit-dropdown-field.dropdown-field-container .dropdown-container {
  width: 200px;
  top: 39px;
}