.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

div#keeper-extension-root > #keeper-extension.recordEditPrompt ~ .overlayalert.dark-mode .multiple-folder-overlay-alert .body-container .messages-container p.text {
  color: #f0f0f0;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .record-edit-container .record-edit .record-edit-content .password-editor .password-editor-field .password-editor-input-container.password-editor-border {
  border-color: #d8d8d8;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .record-edit-container .keeper-button-inactive-full-width {
  color: #000 !important;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .record-edit-container .save.disabled {
  border-color: GrayText;
  color: GrayText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .record-edit-field-usability textarea.keeper-input-usability {
  border-color: CanvasText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-dropdown-field-container.v2 .dropdown-container .dropdown-item-container-header .keeper-iconbutton-back-arrow-2 path,
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-dropdown-field-container.v2 .dropdown-container .dropdown-item-container-header .keeper-iconbutton-back-arrow-2 g,
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-dropdown-field-container.v2 .dropdown-container .dropdown-item-container-header .keeper-iconbutton-back-arrow-2 rect {
  fill: CanvasText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-selector-field.error .record-edit-field-content span > div > div[class^=keeper-select] {
  border: 2px solid LinkText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-selector-field.error + .error-container .keeper-iconbutton-error path {
  fill: LinkText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-selector-field.error + .error-container span.text {
  color: LinkText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.rtl .folder-selector-field + .error-container span.text {
  text-align: right;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode keeper-button.keeper-button-inactive-full-width.dark {
  color: black !important;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-dropdown-field-container.v2.error .dropdown-field-container .dropdown-field-options-container .option-container.placeholder {
  border: 2px solid #ff7361;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-dropdown-field-container.v2 .dropdown-field-container label {
  color: #b3b3b3;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-dropdown-field-container.v2 .dropdown-field-container .dropdown-field-options-container .option-container.placeholder {
  border: 1px solid #d8d8d8;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-dropdown-field-container.v2 .dropdown-container .dropdown-item-container-header .keeper-iconbutton-back-arrow-2 path,
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-dropdown-field-container.v2 .dropdown-container .dropdown-item-container-header .keeper-iconbutton-back-arrow-2 g,
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-dropdown-field-container.v2 .dropdown-container .dropdown-item-container-header .keeper-iconbutton-back-arrow-2 rect {
  fill: white;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-dropdown-field-container.v2 .dropdown-button-container button.cancel {
  color: #fff;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-selector-field [class^=keeper-select] svg ~ span {
  color: white;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-selector-field + .error-container .keeper-iconbutton-error path {
  fill: #ff7361;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-selector-field + .error-container span.text {
  color: #ff7361;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-dropdown-field-container.v2 {
  margin-bottom: 16px;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-dropdown-field-container.v2 label {
  display: -moz-box;
  display: flex;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-dropdown-field-container.v2 .dropdown-field-options-container .option-container.placeholder span.text {
  display: -moz-box;
  display: flex;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-dropdown-field-container.v2 .dropdown-container span.text {
  display: -moz-box;
  display: flex;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field [class^=keeper-select].keeper-select-disabled {
  cursor: pointer;
  opacity: 1;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field [class^=keeper-select].keeper-select-disabled ~ div svg path {
  fill-opacity: 1;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field.error {
  margin-bottom: 12px;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field.error .record-edit-field-content span > div > div[class^=keeper-select] {
  border: 2px solid #ce021b;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: start;
       justify-content: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container .keeper-iconbutton-error {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container .keeper-iconbutton-error path {
  fill: #ce021b;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container span.text {
  color: #ce021b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt ~ .overlayalert.default {
  width: 374px;
  height: 625px;
  border-radius: 8px;
  left: 10px;
  top: 10px;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .overlay-shadow.folder-selector-dropdown-overlay-shadow {
  z-index: 1;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .record-edit-container .save.disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
  color: #888;
}