.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.keeper-extension-simple {
  display: -moz-box;
  display: flex;
  padding: 20px;
  gap: 20px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}
.keeper-extension-simple .keeper-extension-simple-message {
  font-size: 15px;
  line-height: 24px;
}
.keeper-extension-simple .keeper-button {
  background-color: #ffc700 !important;
  width: 100% !important;
}