div#keeper-extension-root > #keeper-extension.helpPasswordChangePrompt .prompt-container > .keeper-record-field-login {
  width: 278px;
}
div#keeper-extension-root > #keeper-extension.helpPasswordChangePrompt .prompt-container > .keeper-record-field-login > .keeper-record-chooser > .keeper-list {
  width: 278px;
}