.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

#search-root #search {
  width: 100%;
}

#search {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  padding: 0 24px;
  position: relative;
}
#search.promptWindow {
  margin: 8px;
  padding: unset;
}
#search.promptWindow input {
  padding: 6px 24px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  background: initial;
  font-size: 14px;
  border-radius: initial;
  height: initial;
}
#search.promptWindow input:focus {
  border-bottom-color: #1b74da;
}
#search.promptWindow .search-input-icon {
  margin-left: 12px;
  height: 24px;
  width: 24px;
}
#search.promptWindow .search-input-icon.close {
  right: 0;
}
#search.collapsed {
  margin: 0;
  border: none;
}
#search.collapsed input {
  height: 0;
  width: 0;
  padding: 0;
  border: 0;
}
#search input {
  font-family: Outfit, sans-serif;
  font-size: 15px;
  border: 2px solid transparent;
  border-radius: 8px;
  color: black;
  background: #f0f0f0;
  -moz-box-flex: 1;
       flex: 1;
  height: 40px;
  -moz-transition: width 1s;
  transition: width 1s;
  padding: 0 40px;
}
.high-contrast-mode #search input {
  border: 2px solid CanvasText;
}
#search input::-webkit-input-placeholder {
  color: #565656;
  opacity: 1;
}
#search input::-moz-placeholder {
  color: #565656;
  opacity: 1;
}
#search input:-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
#search input::-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
#search input::placeholder {
  color: #565656;
  opacity: 1;
}
#search input:focus {
  outline: none;
  border-color: #054b91;
}
#search .search-input-icon {
  position: absolute;
  height: 24px;
  width: 24px;
}
#search .search-input-icon:first-child {
  margin-left: 12px;
}
#search .search-input-icon.close {
  right: 32px;
}
#search .search-input-icon.close-generated-history {
  right: 10px;
}
.dark-mode #search .search-input-icon svg path {
  fill: #b3b3b3;
}

.rtl #search.promptWindow input {
  padding: 6px 0 0 24px;
}
.rtl #search .search-input-icon.close {
  left: 18px;
  right: inherit;
}

keeperlist .search-input-icon {
  position: relative;
  left: 0;
}

.dark-mode #search input {
  color: white;
}
.dark-mode #search input::-webkit-input-placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.dark-mode #search input::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.dark-mode #search input:-ms-input-placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.dark-mode #search input::-ms-input-placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.dark-mode #search input::placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.dark-mode #search input:focus {
  outline: none;
  border: 2px solid rgb(72, 182, 255);
}