/**
 *
 */

.loader {
  position: relative;
  margin: 0 10px 5px 0;
  width: 56px;
}

.circular {
  -moz-animation: rotate 2s linear infinite;
       animation: rotate 2s linear infinite;
  height: 100%;
  -moz-transform-origin: center center;
   -ms-transform-origin: center center;
       transform-origin: center center;
  width: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -moz-animation:
    dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
       animation:
    dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-moz-keyframes color {
  100%,
  0% {
    stroke: rgb(252 198 1 / 100%);
  }
  /*
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
  */
}

@keyframes color {
  100%,
  0% {
    stroke: rgb(252 198 1 / 100%);
  }
  /*
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
  */
}
