.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.field {
  position: relative;
  display: -moz-box;
  display: flex;
  margin-top: 10px;
  white-space: pre-wrap;
  width: 100%;
  -moz-box-align: center;
       align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
}
.field .value {
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 16px;
  margin-right: 8px;
  width: 100%;
  color: #000;
}
.field .value.themed-text {
  font-size: 13px;
  color: #1b74da;
  margin-bottom: -5px;
  -moz-box-align: center;
       align-items: center;
}
.field .value.themed-text svg {
  bottom: 4px;
  position: relative;
}
.field .label:not(.cvv) {
  margin-bottom: 2px !important;
}