.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.multiple-folder-overlay-alert .keeper-iconbutton-info {
  width: 32px;
  height: 32px;
}
.multiple-folder-overlay-alert .keeper-iconbutton-info path {
  fill: #1b74da;
}
.dark-mode .multiple-folder-overlay-alert .keeper-iconbutton-info path {
  fill: #48b6ff;
}
.high-contrast-mode .multiple-folder-overlay-alert .keeper-iconbutton-info path {
  fill: CanvasText;
}
.multiple-folder-overlay-alert .body-container .messages-container h1 {
  font-weight: 500;
}
.multiple-folder-overlay-alert .body-container .button-container {
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  gap: 8px;
}
.multiple-folder-overlay-alert .body-container .button-container .button {
  font-size: 15px;
  height: 40px;
}
.multiple-folder-overlay-alert .body-container .button-container .button.later {
  border: none;
}