.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.keeper-rtl #popup-back-button-container {
  margin-left: 164px !important;
  margin-right: 0 !important;
}

.keeper-mode-selector .keeper-active {
  border-bottom: 2px solid #1b74da;
}

.keeper-mode-selector .keeper-inactive {
  border-bottom: 1px solid #d8d8d8;
}