@font-face {
  font-family: KeeperSecret;
  src: url(/fonts/custom/keepersecret.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;

  /* Entire range except for whitespace (U+0020) */
  unicode-range: U+0000-001F, U+0021-10FFFF;
}

.keeper-secret-masked {
  font-family: KeeperSecret, monospace;
  font-size: 15px;
  line-height: 24px;
}

.keeper-secret {
  font-family: Roboto-Mono, monospace;
  font-size: 15px;
  line-height: 24px;
}
