@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 100;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-Thin.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 200;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-Light.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-Medium.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 700;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 800;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 900;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-Black.woff2) format('woff2');
}

/* 
 * Here for backwards compatibility, where "Outfit-SemiBold" is explicitly used
 * and yes, it's confusingly named SemiBold, but it's actually Medium (500)
 */
@font-face {
  font-family: Outfit-SemiBold;
  font-style: normal;
  font-weight: 500;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/custom/OutfitKS-Medium.woff2) format('woff2');
}
