/* overpass-100 - latin-ext_latin */
@font-face {
  font-family: 'Overpass-100';
  font-style: normal;
  font-weight: 100;
  src:
    local('Overpass Thin'),
    local('Overpass-Thin'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-100.woff) format('woff'); /* Modern Browsers */
}
/* overpass-100italic - latin-ext_latin */
@font-face {
  font-family: 'Overpass-100-Italic';
  font-style: italic;
  font-weight: 100;
  src:
    local('Overpass Thin Italic'),
    local('Overpass-ThinItalic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-100italic.woff) format('woff'); /* Modern Browsers */
}
/* overpass-200 - latin-ext_latin */
@font-face {
  font-family: 'Overpas-200';
  font-style: normal;
  font-weight: 200;
  src:
    local('Overpass ExtraLight'),
    local('Overpass-ExtraLight'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-200.woff) format('woff'); /* Modern Browsers */
}
/* overpass-200italic - latin-ext_latin */
@font-face {
  font-family: 'Overpass-200-Italic';
  font-style: italic;
  font-weight: 200;
  src:
    local('Overpass ExtraLight Italic'),
    local('Overpass-ExtraLightItalic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-200italic.woff) format('woff'); /* Modern Browsers */
}

/* overpass-300italic - latin-ext_latin */
@font-face {
  font-family: 'Overpass-300-Italic';
  font-style: italic;
  font-weight: 300;
  src:
    local('Overpass Light Italic'),
    local('Overpass-LightItalic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-300italic.woff) format('woff'); /* Modern Browsers */
}
/* overpass-300 - latin-ext_latin */
@font-face {
  font-family: 'Overpass-300';
  font-style: normal;
  font-weight: 300;
  src:
    local('Overpass Light'),
    local('Overpass-Light'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-300.woff) format('woff'); /* Modern Browsers */
}

/* overpass-italic - latin-ext_latin */
@font-face {
  font-family: Overpass-Italic;
  font-style: italic;
  font-weight: 500;
  src:
    local('Overpass Italic'),
    local('Overpass-Italic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-italic.woff) format('woff'); /* Modern Browsers */
}
/* Overpass - latin-ext_latin */
@font-face {
  font-family: Overpass;
  font-style: normal;
  font-weight: 500;
  src:
    local('Overpass Regular'),
    local('Overpass'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-regular.woff) format('woff'); /* Modern Browsers */
}
/* overpass-600 - latin-ext_latin */
@font-face {
  font-family: Overpass-SemiBold;
  font-style: normal;
  font-weight: 600;
  src:
    local('Overpass SemiBold'),
    local('Overpass-SemiBold'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-600.woff) format('woff'); /* Modern Browsers */
}
/* overpass-600italic - latin-ext_latin */
@font-face {
  font-family: Overpass-SemiBold-Italic;
  font-style: italic;
  font-weight: 600;
  src:
    local('Overpass SemiBold Italic'),
    local('Overpass-SemiBoldItalic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-600italic.woff) format('woff'); /* Modern Browsers */
}
/* overpass-700 - latin-ext_latin */
@font-face {
  font-family: Overpass-Bold;
  font-style: normal;
  font-weight: 700;
  src:
    local('Overpass Bold'),
    local('Overpass-Bold'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-700.woff) format('woff'); /* Modern Browsers */
}
/* overpass-800 - latin-ext_latin */
@font-face {
  font-family: Overpass-SuperBold;
  font-style: normal;
  font-weight: 800;
  src:
    local('Overpass ExtraBold'),
    local('Overpass-ExtraBold'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-800.woff) format('woff'); /* Modern Browsers */
}
/* overpass-800italic - latin-ext_latin */
@font-face {
  font-family: Overpass-SuperBold-Italic;
  font-style: italic;
  font-weight: 800;
  src:
    local('Overpass ExtraBold Italic'),
    local('Overpass-ExtraBoldItalic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-800italic.woff) format('woff'); /* Modern Browsers */
}
/* overpass-700italic - latin-ext_latin */
@font-face {
  font-family: Overpass-Bold-Italic;
  font-style: italic;
  font-weight: 700;
  src:
    local('Overpass Bold Italic'),
    local('Overpass-BoldItalic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-700italic.woff) format('woff'); /* Modern Browsers */
}
/* overpass-900italic - latin-ext_latin */
@font-face {
  font-family: Overpass-Bertha-Italic;
  font-style: italic;
  font-weight: 900;
  src:
    local('Overpass Black Italic'),
    local('Overpass-BlackItalic'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-900italic.woff) format('woff'); /* Modern Browsers */
}
/* overpass-900 - latin-ext_latin */
@font-face {
  font-family: Overpass-Bertha;
  font-style: normal;
  font-weight: 900;
  src:
    local('Overpass Black'),
    local('Overpass-Black'),
    url(/fonts/custom/overpass-v4-latin-ext_latin-900.woff) format('woff'); /* Modern Browsers */
}
/* mono 500 */
@font-face {
  font-family: Roboto-Mono;
  font-style: normal;
  font-weight: 500;
  src:
    local(Roboto-Mono),
    local('Roboto Mono'),
    url(/fonts/custom/RobotoMono-Regular.ttf) format('woff'); /* Modern Browsers */
}
