.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

div#keeper-extension-root > #keeper-extension.errorPrompt.high-contrast-mode .prompt-container .header-container .keeper-iconbutton-close path {
  fill: ButtonText;
}

div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container {
  padding: 20px;
}
div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container .header-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  gap: 12px;
  -moz-box-pack: justify;
       justify-content: space-between;
  -moz-box-align: center;
       align-items: center;
}
div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container .header-container .icon-and-header {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  gap: 12px;
  -moz-box-align: center;
       align-items: center;
}
div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container .header-container .icon-and-header h1 {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container .header-container .icon-and-header .keeper-iconbutton-keeper-icon {
  width: 24px;
  height: 24px;
}
div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container .header-container .keeper-iconbutton-close {
  cursor: pointer;
}
div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container p.text {
  color: #565656;
  /* BE/Body/Small 400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
div#keeper-extension-root > #keeper-extension.errorPrompt .prompt-container .keeper-button {
  width: 100%;
}