#device-approval {
  overflow-y: auto;
  display: -moz-box;
  display: flex;
  padding: 8px 32px;
  background-color: #191919;
  height: 544px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  color: white;
}
#device-approval #device-approval-message {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  text-align: center;
  color: #d8d8d8;
  width: 312px;
  margin-bottom: 24px;
  align-self: center;
}
#device-approval #send-email-button,
#device-approval #send-email-button2,
#device-approval #send-keeper-push {
  margin-bottom: 16px;
}

#twofactorcode {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  padding-top: 8px;
  background-color: #191919;
  color: white;
}
#twofactorcode .title-font-color {
  color: #d8d8d8;
}
#twofactorcode .two-factor-message {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  text-align: center;
  color: #d8d8d8;
  margin-top: -16px;
  margin-bottom: 16px;
}
#twofactorcode input {
  /* this is for making the outline appear from design */
  margin: -2px;
  margin-bottom: 0 !important;
  border: #191919 2px solid;
}
#twofactorcode .title {
  font-size: 13px;
}
#twofactorcode select {
  height: 28px;
  font-size: 14px;
  margin-top: 16px;
  outline: none;
  width: 100%;
}
#twofactorcode .deviceApproval {
  -moz-box-align: center;
       align-items: center;
}
#twofactorcode .help-info {
  -moz-box-align: center;
       align-items: center;
}
#twofactorcode .help-info .icon {
  margin-top: 10px;
  margin-left: 4px;
  opacity: 0.4;
  font-size: 16px;
}
#twofactorcode .help-info .help {
  margin-top: 10px;
  margin-left: 4px;
  opacity: 0.4;
}

#keeper-push-sent,
#keeper-request-block {
  overflow-y: auto;
  padding: 8px 24px 0;
  text-align: center;
  color: #fff;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  font-size: 15px;
  font-family: Outfit, sans-serif;
  width: 100%;
}

#keeper-request-block #keeper-approve-request {
  margin-top: 16px;
  margin-bottom: 13px;
}
#keeper-request-block #keeper-approve-request-title {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-family: Outfit-SemiBold, sans-serif;
}
#keeper-request-block #keeper-approve-request-icon {
  margin: 0 auto 12px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
#keeper-request-block #keeper-deny-request {
  margin-top: 24px;
  margin-bottom: 32px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  text-align: center;
}
#keeper-request-block #keeper-deny-request-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 24px;
}
#keeper-request-block #keeper-deny-request-icon {
  margin-bottom: 12px;
}
#keeper-request-block #keeper-deny-request-message {
  font-family: Outfit, sans-serif;
  font-size: 15px;
  margin-bottom: 24px;
}
#keeper-request-block .keeper-time-out-request {
  text-align: center;
  margin-bottom: 15px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
}
#keeper-request-block .keeper-time-out-request-title {
  margin-bottom: 24px;
}
#keeper-request-block .keeper-time-out-request-message {
  font-size: 15px;
  color: #d8d8d8;
  margin-bottom: 24px;
}

.keeper-time-out-request-icon {
  margin: 0 auto 12px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 12px;
}

#keeper-push-sent #keeper-push-sent-title {
  display: -moz-inline-box;
  display: inline-flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  margin-bottom: 8px;
}
#keeper-push-sent #keeper-push-sent-title-message {
  margin-right: 8px;
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 20px;
  line-height: 32px;
}
#keeper-push-sent #keeper-push-sent-description {
  margin-bottom: 30px;
  color: #d8d8d8;
}
#keeper-push-sent #keeper-push-sent-title-icon {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}
#keeper-push-sent #keeper-push-sent-title-icon .help-description {
  position: absolute;
  height: 20px;
  width: 20px;
}
#keeper-push-sent #keeper-push-sent-title-icon .help {
  opacity: 0.4;
  font-size: 20px;
}
#keeper-push-sent #keeper-push-loading-icon .dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
}
#keeper-push-sent #keeper-push-waiting-message {
  margin-top: 30px;
  margin-bottom: 24px;
  color: #d8d8d8;
}
#keeper-push-sent #keeper-push-need-help {
  margin-bottom: 4px;
  color: #d8d8d8;
}
#keeper-push-sent #keeper-push-need-help-description {
  line-height: 24px;
  color: #d8d8d8;
}
#keeper-push-sent [tooltip].tooltip-left::after {
  width: 280px;
  height: 92px;
  white-space: pre-wrap;
  background: #fff;
  text-align: left;
  color: #000;
  right: -48px;
  padding: 16px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}