#loading_overlay {
  z-index: 2147483647;
}

#loading {
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2147483647;
}
#loading .loader {
  position: relative;
  margin: 0 auto;
  width: 30px;
}
#loading .loader::before {
  content: "";
  display: block;
  padding-top: 100%;
}
#loading .loader .circular {
  -moz-animation: rotate 2s linear infinite;
       animation: rotate 2s linear infinite;
  height: 100%;
  -moz-transform-origin: center center;
   -ms-transform-origin: center center;
       transform-origin: center center;
  width: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
}
#loading .loader .circular .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
       animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-moz-keyframes color {
  100%, 0% {
    stroke: #666;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #666;
  }
}