.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

#login {
  overflow-y: auto;
  padding: 0 24px;
  background-color: #191919;
  height: 544px;
}
#login * > label {
  color: #d8d8d8;
}
#login.mpreentry.landscape {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
}
#login.mpreentry.landscape input,
#login.mpreentry.landscape #actionable-buttons,
#login.mpreentry.landscape #yourAdminRequires {
  width: 312px !important;
}
#login #authenticationRequired {
  text-align: center;
}
#login #login-with-a-different-account {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 24px;
  color: #48b6ff;
  cursor: pointer;
  background: none;
  border: none;
}
#login #need-help-root {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
}
#login #need-help-root .need-help-container {
  display: -moz-box;
  display: flex;
  margin-bottom: 46px;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  cursor: pointer;
}
#login #need-help-root .need-help-container .high-contrast-border-rounded-padleft8 {
  border: 1px solid Highlight;
  border-radius: 8px;
  padding-left: 8px;
}
#login #need-help-root .need-help-container .need-help-container-arrow {
  background-size: 20px;
  height: 20px;
  width: 20px;
}
#login #need-help-root .need-help-items {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 221px;
  height: 94px;
  left: 82px;
  top: 392px;
  background: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
#login #need-help-root .need-help-items .need-help-item {
  height: 39px;
  display: -moz-box;
  display: flex;
  margin-top: 2px;
  width: 100%;
  -moz-box-align: center;
       align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 16px;
}
#login .ssoPage #the-multi-login-dropdown {
  top: 263px;
}
#login input.full,
#login div.full {
  width: -moz-calc(100% + 4px);
  width: calc(100% + 4px);
}
#login .login-field {
  color: white;
  padding-top: 8px;
  margin-bottom: 24px;
  font-size: 15px;
}
#login input:not([type=checkbox], [type=radio]).rollup {
  border: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
#login input {
  color: #000;
  background-color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 15px;
  height: 40px;
}
#login input:focus {
  outline: none;
}
#login input::-webkit-input-placeholder {
  color: #565656;
  opacity: 1;
}
#login input::-moz-placeholder {
  color: #565656;
  opacity: 1;
}
#login input:-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
#login input::-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
#login input::placeholder {
  color: #565656;
  opacity: 1;
}
#login input:focus-visible {
  outline: 2px solid #48b6ff !important;
  outline-offset: 2px;
}
#login input:-moz-ui-invalid {
  box-shadow: none;
}
#login #email-verification-code #verification-header {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  color: white;
  font-family: Outfit-SemiBold, sans-serif;
}
#login .email-address-input-group {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  background-color: white;
  border-radius: 8px;
  height: 100%;
}
#login .email-address-input-group:focus-visible {
  outline: 2px solid #48b6ff !important;
  outline-offset: 2px;
}
#login .email-address-input-group.arrow-showing {
  /* this is for making the outline appear from design */
  margin: -2px;
  border: #191919 2px solid;
}
#login .email-address-input-group.arrow-showing .dropdown-button {
  cursor: pointer;
}
#login .email-address-input-group.arrow-showing:focus-visible {
  outline: 2px solid #48b6ff !important;
  outline-offset: 2px;
}
#login .email-address-input-group.arrow-showing input {
  padding: 8px 0 8px 16px;
  border-radius: 8px;
  border-width: 0;
  margin: 0;
  height: 40px;
}
#login .email-address-input-group.arrow-showing input:focus-visible {
  outline: 0 solid #48b6ff !important;
}
#login .start_sso .inner-border {
  color: white;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  border: 1px solid white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  min-width: 209px;
  width: auto;
  padding: 0 16px;
  height: 40px;
  max-width: 336px;
  border-radius: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#login #sso-choice-dropdown {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 276px;
  height: 136px;
  left: 53px;
  bottom: 114px;
  background: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-family: Outfit-SemiBold, sans-serif;
}
#login #sso-choice-dropdown .desc {
  color: #565656;
}
#login #sso-choice-dropdown .sso-choice-item {
  padding: 12px 0 12px 12px;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
#login #sso-choice-dropdown .sso-choice-item:first-child {
  margin-bottom: 2px;
}
#login #sso-choice-dropdown .sso-choice-item .desc {
  color: #565656;
}
#login #sso-choice-dropdown .sso-choice-item .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
#login #sso-choice-dropdown .sso-choice-item:hover {
  background: #f0f0f0;
}
#login .actions {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#login .actions button.vault,
#login .actions button.upgrade {
  -moz-box-flex: 1;
       flex-grow: 1;
}
#login .email-container label,
#login label[for=master-password] {
  color: white;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 3px;
  opacity: 0.7;
}
#login #remember_email {
  color: white;
  cursor: pointer;
}
#login .account_upsell {
  color: #ffc700;
  margin: 20px 0;
  cursor: pointer;
}
#login .account_upsell.high-contrast-underline,
#login .high-contrast-underline {
  text-decoration: underline;
}
#login .email-container-locked {
  display: block;
}
#login select[name=expire_days] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
#login #gov-cloud-message {
  text-align: center;
  color: white;
}
#login #gov-cloud-message #gov-cloud-message-header {
  margin-top: 16px;
  font-family: Outfit-SemiBold, sans-serif;
}
#login #gov-cloud-message #gov-cloud-message-body {
  font-size: 13px;
  line-height: 19px;
}
#login .email-address-input-group.has-error {
  outline: 2px solid #ff7361 !important;
  border: #191918 2px solid !important;
  margin: -2px !important;
}
#login .error {
  color: #ff7361;
  white-space: pre-line;
  font-size: 14px;
  font-family: Outfit, sans-serif;
  line-height: 18px;
  width: 100%;
  position: relative;
  top: 4px;
  display: -moz-box;
  display: flex;
}
#login .error .message {
  width: 300px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 20px;
}
#login .error svg {
  margin-right: 8px;
}
#login .error .login-error-modal {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  row-gap: 8px;
  color: black;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 16px;
}
#login #tfa-below-text {
  color: #d8d8d8;
}
#login #tfa-below-text .tfa-below-text-header {
  margin-top: 16px;
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 15px;
}
#login #tfa-below-text .tfa-below-text-body {
  font-size: 14px;
}
#login #tfa-below-text.row.column {
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  text-align: center;
  -moz-box-align: center;
       align-items: center;
}
#login #email-verification-code {
  padding: 0;
  color: white;
}
#login #email-verification-code #email-verification-code-desc {
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 16px;
  text-align: center;
}

.has-error {
  outline: 2px solid #ff7361 !important;
  outline-offset: 2px;
}

.auth-error {
  color: #ff7361;
  white-space: pre-line;
  font-size: 14px;
  font-family: Outfit, sans-serif;
  line-height: 18px;
  width: 100%;
  display: -moz-box;
  display: flex;
}
.auth-error .message {
  width: 300px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 20px;
}
.auth-error svg {
  margin-right: 8px;
}
.auth-error .login-error-modal {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  row-gap: 8px;
  color: black;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 16px;
}

#remember-me-container {
  display: -moz-box;
  display: flex;
  cursor: pointer;
  margin: 16px 0;
  -moz-box-align: center;
       align-items: center;
}
#remember-me-container .checkbox {
  height: 24px;
  margin-right: 10px;
}
#remember-me-container .screen-title {
  margin-bottom: 24px;
}

#the-multi-login-dropdown {
  position: absolute;
  width: 336px;
  z-index: 3;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  top: 207px;
  right: 24px;
  overflow: hidden;
}
#the-multi-login-dropdown .the-entries {
  align-self: center;
  background-color: #fff;
  border-radius: 4px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  width: 100%;
  cursor: pointer;
  z-index: 999;
  -moz-box-align: center;
       align-items: center;
  height: 40px;
  padding-left: 12px;
}
#the-multi-login-dropdown .the-entries.selected .username {
  width: 186px !important;
}
#the-multi-login-dropdown .the-entries#add-entry {
  -moz-box-pack: start;
       justify-content: flex-start;
}
#the-multi-login-dropdown .the-entries#add-entry .add-icon:hover {
  background: #ebebeb;
}
#the-multi-login-dropdown .the-entries#add-entry .add-button {
  margin-left: 8px;
}
#the-multi-login-dropdown .the-entries:hover {
  background: #ebebeb;
}
#the-multi-login-dropdown .the-entries .close-icon {
  text-align: right;
  display: -moz-box;
  display: flex;
  -moz-box-pack: end;
       justify-content: flex-end;
  -moz-box-align: center;
       align-items: center;
}
#the-multi-login-dropdown .the-entries .close-icon:hover {
  background: #ebebeb;
}
#the-multi-login-dropdown .the-entries .username {
  width: 216px;
  margin-left: 8px;
}
#the-multi-login-dropdown .the-entries .username:hover {
  text-overflow: revert;
}
#the-multi-login-dropdown #the-multi-login-dropdown-user-block::-webkit-scrollbar {
  width: 11px !important;
}
#the-multi-login-dropdown #the-multi-login-dropdown-user-block.scroll {
  overflow: auto;
  max-height: 300px;
}