.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

#search-root {
  display: -moz-box;
  display: flex;
  background: #fff;
  margin-top: 24px;
  -moz-box-pack: center;
       justify-content: center;
  height: 48px;
  margin-bottom: 16px;
}
#search-root .sort-by-icon[tooltip]::after {
  font-size: 15px;
  line-height: 19px;
  border-radius: 8px;
  bottom: unset;
  top: 34px;
  right: -5px;
}

#menu {
  margin: 0 16px;
  margin-bottom: 16px;
}
#menu > .setting:hover {
  background-color: #f0f0f0;
}
#menu .setting {
  height: 48px;
  cursor: pointer;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  border-radius: 8px;
  padding: 0 8px;
  font-size: 15px;
}
#menu .setting:focus-visible {
  border-radius: 8px;
}
#menu .logout {
  color: #ce021b;
}