#sso {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}
#sso label {
  color: #d8d8d8;
}
#sso input {
  margin-top: 4px;
}
#sso .ssoactions {
  display: -moz-box;
  display: flex;
  margin-top: 24px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}

#cancelSSO {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 40px;
}