.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.focus-none:focus, .focus-none:focus-visible {
  outline: none;
}

.start-login form {
  width: 316px;
}
.start-login label {
  color: #d8d8d8;
  font-size: 14px;
  line-height: 20px;
}
.start-login input#email {
  font-size: 15px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  height: initial;
}
.start-login #the-multi-login-dropdown {
  top: 208px;
  right: 22px;
  width: 316px;
}
.start-login #region-selector {
  position: absolute;
  bottom: 124px;
}
.start-login .account-upsell {
  position: absolute;
  bottom: 16px;
  font-size: 15px;
}

.start-login-email-container {
  border-radius: 8px;
  border: none;
  background: white;
  color: black;
  height: 40px;
}
.start-login-email-container:has(input:focus) {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 2px;
  outline-color: #054b91;
}
.dark-mode .start-login-email-container:has(input:focus) {
  outline-color: rgb(72, 182, 255);
}
.high-contrast-mode .start-login-email-container:has(input:focus) {
  outline-color: Highlight;
}
@media (forced-colors: active) {
  .start-login-email-container {
    border: 1px solid ButtonBorder;
  }
}

#data-body-paneui.image-bg {
  background-image: url("/images/biometric-login.png");
  background-size: 364px 580px;
  background-color: #191919 !important;
}
#data-body-paneui.image-bg #header {
  background: none;
}
#data-body-paneui.image-bg .loggedout-body {
  background: none;
}