[tooltip] {
  position: relative;
}
[tooltip]::before {
  content: "";
  height: 0;
  opacity: 0;
  position: absolute;
  -moz-transition: opacity 0s;
  transition: opacity 0s;
  width: 0;
  z-index: 2;
  border-bottom: 8px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  /* defaults to bottom-right */
  bottom: -10px;
  right: 25%;
}
[tooltip]::after {
  background: #000;
  border-radius: 8px;
  color: #fff;
  content: attr(tooltip);
  /* BE/Body/Small 400 */
  font-family: Outfit, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  height: 36px;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  -moz-transition: opacity 0s;
  transition: opacity 0s;
  white-space: nowrap;
  z-index: 2;
  /* defaults to bottom-right */
  bottom: -6px;
  left: 0;
}
[tooltip]:hover::before, [tooltip]:hover::after {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -moz-transition-delay: 0.5s;
       transition-delay: 0.5s;
}
[tooltip]:hover::before.tooltip-left::before, [tooltip]:hover::after.tooltip-left::before {
  left: 25%;
  right: initial;
}
[tooltip].tooltip-full::after {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  padding: 8px 16px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  max-width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: wrap;
}
[tooltip].tooltip-left::after {
  left: initial;
  right: -6px;
}
[tooltip].tooltip-top::before {
  border-bottom: initial;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
  bottom: initial;
  top: -6px;
}
[tooltip].tooltip-top::after {
  bottom: initial;
  top: -42px;
}
[tooltip].tooltip-bottom::before {
  top: 100%;
}
[tooltip].tooltip-bottom::after {
  top: -moz-calc(100% + 8px);
  top: calc(100% + 8px);
}
[tooltip].tooltip-center::before, [tooltip].tooltip-center::after {
  left: 50%;
  -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
       transform: translateX(-50%);
}
[tooltip].tooltip-fullleft::before {
  border-bottom: 5px solid transparent;
  border-left: 8px solid #000;
  border-right: initial;
  border-top: 5px solid transparent;
  bottom: initial;
  left: initial;
  right: 100%;
  top: 7px;
}
[tooltip].tooltip-fullleft::after {
  left: initial;
  right: 36px;
}
[tooltip].close-icon-tooltip.tooltip-fullleft::after {
  left: initial;
  right: 32px;
}
[tooltip].tooltip-fullright::before {
  border-bottom: 5px solid transparent;
  border-left: initial;
  border-right: 8px solid #000;
  border-top: 5px solid transparent;
  bottom: initial;
  left: 100%;
  right: initial;
  top: 7px;
}
[tooltip].tooltip-fullright::after {
  left: 32px;
  /* assumes a 24px wide hover target */
  right: initial;
}
[tooltip].tooltip-round::before {
  border-top-color: black;
  border-top-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-color: black;
  left: 2px;
}
[tooltip].tooltip-round::after {
  background: black;
  color: white;
  font-family: Outfit, sans-serif;
  line-height: 18px;
  padding: 6.5px 16px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.high-contrast-mode [tooltip]::before {
  border-left: 5px solid HighlightText;
  border-right: 5px solid HighlightText;
}
.high-contrast-mode [tooltip]::after {
  background: HighlightText;
  color: CanvasText;
}