.toast-message-container {
  width: 320px;
  position: absolute;
  bottom: 16px;
  right: 12px;
  min-height: 48px;
  background: #333;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  -moz-box-pack: justify;
       justify-content: space-between;
  opacity: 0;
  -moz-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
.toast-message-container.fade-in {
  opacity: 1;
}
.toast-message-container.fade-out {
  opacity: 0;
}
.rtl ~ .toast-message-container {
  direction: rtl;
}
.high-contrast-mode ~ .toast-message-container {
  border: 1px solid CanvasText;
  background: Canvas;
}
.toast-message-container .toast-icon-message {
  gap: 8px;
}
.toast-message-container .toast-icon-message .keeper-iconbutton-check-circle path {
  fill: white;
}
.toast-message-container .toast-icon-message p.text {
  color: #fff;
  font-size: 15px;
}
.toast-message-container .keeper-iconbutton-cancel path {
  fill: white;
}