div#keeper-extension-root #keeper-extension.dark-mode nav.keeper-record-type-navigator a svg path {
  fill: white !important;
}

nav.keeper-record-type-navigator {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: space-evenly;
       justify-content: space-evenly;
  -moz-box-align: center;
       align-items: center;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 34px;
}
nav.keeper-record-type-navigator a {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: center;
       justify-content: center;
  flex-basis: 33.3333333333%;
  cursor: pointer;
  height: 100%;
  -moz-box-align: center;
       align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
nav.keeper-record-type-navigator a svg {
  width: 20px;
  height: 20px;
}
nav.keeper-record-type-navigator a svg path {
  fill: #666;
}
nav.keeper-record-type-navigator a.active svg path {
  fill: #111;
}