.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.password-editor.form-filler {
  margin-bottom: 16px;
}
.password-editor .password-editor-title {
  font-size: 14px;
  color: #565656;
}
.password-editor .password-editor-title-usability {
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #565656;
  margin-bottom: 4px;
}
.password-editor .password-editor-field {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-pack: justify;
       justify-content: space-between;
}
.password-editor .password-editor-field > div:nth-child(1) {
  margin-right: 12px;
  -moz-box-flex: 1;
       flex-grow: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  -moz-box-align: center;
       align-items: center;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container.hide-input textarea {
  font-size: 32px;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-containertextarea::-webkit-input-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-containertextarea::-moz-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-containertextarea:-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-containertextarea::-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-containertextarea::placeholder {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Outfit, sans-serif;
  opacity: 1;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container.password-editor-border {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 7px;
}
.error .password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container .keeper-input {
  border-bottom-color: #b60000;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container.grey .input {
  color: #999;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container .eyeball {
  margin-right: 8px;
  flex-shrink: 0;
}
.password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container .eyeball.rtl {
  margin-right: unset;
  margin-left: 8px;
}
.password-editor .password-editor-field .password-editor-icon {
  display: -moz-box;
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}
.password-editor .password-editor-field .password-editor-icon-usability {
  cursor: pointer;
  right: 10px;
  top: 8px;
  height: 24px;
  width: 24px;
}
.password-editor .password-editor-field .password-editor-icon-usability.dice .spin {
  -moz-animation: keeper-tumble-die 0.25s linear;
       animation: keeper-tumble-die 0.25s linear;
  -moz-animation-iteration-count: infinite;
       animation-iteration-count: infinite;
}
.password-editor .password-editor-field .password-editor-icon.eyeball {
  margin: 0 12px 0 0;
}
.password-editor .password-editor-field .password-editor-icon.copy {
  margin-left: 12px;
}
.password-editor .password-editor-field .password-editor-icon.dice .spin {
  -moz-animation: keeper-tumble-die 0.25s linear;
       animation: keeper-tumble-die 0.25s linear;
  -moz-animation-iteration-count: infinite;
       animation-iteration-count: infinite;
}
.password-editor .password-editor-background {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 12px 16px;
}
.password-editor .password-editor-background.dark {
  background-color: #333;
}
.password-editor .password-editor-background.high-contrast {
  border: 1px solid CanvasText;
}
.password-editor .password-editor-options.form-filler {
  margin-top: 16px;
}
.password-editor .password-editor-options .password-editor-length .password-editor-length-label {
  color: #565656;
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.password-editor .password-editor-options .password-editor-length .password-editor-length-label.rtl {
  text-align: right;
}
.password-editor .password-editor-options .password-editor-length .range-input-container {
  margin: 10px 0;
}
.password-editor .password-editor-options .password-editor-length input[type=range] {
  background: -moz-linear-gradient(left, #09559a 0%, #09559a 50%, #d9d9d9 50%, #d9d9d9 100%);
  background: linear-gradient(to right, #09559a 0%, #09559a 50%, #d9d9d9 50%, #d9d9d9 100%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 4px;
  margin: 0;
  width: 100%;
  bottom: 3px;
  position: relative;
}
.high-contrast-mode .password-editor .password-editor-options .password-editor-length input[type=range] {
  accent-color: ButtonText;
}
.password-editor .password-editor-options .password-editor-length input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
}
.password-editor .password-editor-options .password-editor-length input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
  border: none;
}
.password-editor .password-editor-options .password-editor-checkboxes-passphrases {
  flex-wrap: wrap;
}
.password-editor .password-editor-options .password-editor-checkboxes-passphrases.limit-width {
  width: 177px;
}
.password-editor .password-editor-options .password-editor-checkboxes {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  -moz-box-align: center;
       align-items: center;
}
.password-editor .password-editor-options .password-editor-checkboxes .div-passphrases {
  height: 40px;
}
.password-editor .password-editor-options .password-editor-checkboxes div {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  cursor: pointer;
  height: 24px;
}
.password-editor .password-editor-options .password-editor-checkboxes div .disabled-checkbox {
  pointer-events: none;
  opacity: 0.5;
}
.password-editor .password-editor-options .password-editor-checkboxes div .password-editor-checkbox-label {
  color: #000;
  font-size: 15px;
  margin: 5px 4px 5px 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.password-editor .password-editor-options .password-editor-checkboxes div .password-editor-checkbox-label-passphrases {
  margin: 5px 4px !important;
}

.password-strength {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 4px;
  margin-top: 8px;
}
.password-strength .password-strength-meter {
  border-radius: 2px;
  height: 100%;
  -moz-transition: width 1s, background-color 1s;
  transition: width 1s, background-color 1s;
}

.password-strength-label {
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
  color: #565656;
}

.password-strength-label-generate-password {
  font-family: Outfit, sans-serif;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 20px;
  margin: 2px 4px 0;
  color: #565656;
}
.password-strength-label-generate-password.dark {
  color: #b3b3b3;
}

.password-type {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  -moz-box-align: center;
       align-items: center;
}
.password-type .sort-wrap {
  cursor: pointer;
  display: -moz-inline-box;
  display: inline-flex;
  -moz-box-align: center;
       align-items: center;
  height: 32px;
  margin-left: 12px;
  padding-left: 8px;
  border-radius: 8px;
  width: auto !important;
  z-index: 4;
}

.password-choice-type {
  border: 1px solid #d8d8d8;
  border-radius: 8px !important;
  padding: 0 8px 0 12px !important;
}
.password-choice-type.rtl {
  padding: 0 12px 0 8px !important;
  margin-left: 0 !important;
}
.password-choice-type.high-contrast {
  border: 1px solid ButtonText;
  color: ButtonText;
}
.password-choice-type.high-contrast.disabled {
  border: 1px solid GrayText;
  color: GrayText;
}
.password-choice-type.high-contrast.disabled svg path {
  fill: GrayText;
}
.password-choice-type:hover {
  background-color: #f0f0f0;
}
.password-choice-type.dark {
  background-color: #333;
  border: 1px solid #404040;
}
.password-choice-type.dark:hover {
  background-color: #565656;
}
.password-choice-type.dark.disabled {
  background-color: #333;
}
.password-choice-type.disabled {
  pointer-events: none;
  background-color: #f0f0f0;
  color: #888;
}

.password-choices-container {
  padding: 8px;
  position: absolute;
  top: 205px;
  left: 158px;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  background-color: #fff;
  width: 180px;
  z-index: 51;
}
.password-choices-container.useLandscapeMode {
  top: 70px;
  left: 390px;
}
.password-choices-container.rtl {
  left: 28px;
}
.password-choices-container.high-contrast {
  border: 1px solid CanvasText;
}
.password-choices-container.content-scripts {
  left: 188px;
}
.password-choices-container.content-scripts.change-password {
  left: 113px;
}
.password-choices-container.content-scripts.in-tab {
  left: 168px;
  font-size: 14px;
}
.password-choices-container.content-scripts.in-tab.rtl {
  left: 34px;
}

.keeper-rtl .password-editor .password-editor-field > div:nth-child(1) {
  margin-right: 0;
  margin-left: 12px;
}
.keeper-rtl .password-editor .password-editor-field > div:nth-child(1) .password-editor-input-container .eyeball {
  margin-right: 0;
  margin-left: 8px;
}

@-moz-keyframes keeper-tumble-die {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes keeper-tumble-die {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
.passtype-dropdown .dropdown-container {
  width: 180px !important;
  right: 0px;
  top: 35px !important;
}
.passtype-dropdown .option-container {
  font-family: "Outfit";
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-radius: 8px !important;
}
.passtype-dropdown .option-container:not(.choice-password):not(.choice-passphrase) {
  height: 32px;
  min-height: 32px !important;
}
.passtype-dropdown .option-container:not(.choice-password):not(.choice-passphrase):focus-visible {
  border: none;
  outline: 2px solid #054b91 !important;
}