.privacy-screen {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  width: 100%;
  margin-top: 5px;
}
.privacy-screen .privacy-screen-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.privacy-screen .privacy-screen-icon path {
  fill: #565656;
}
.privacy-screen .privacy-screen-icon[tooltip]::after {
  width: 248px;
  white-space: pre-line;
  padding: 16px;
  top: unset;
  height: auto;
  bottom: 30px;
}
.privacy-screen .privacy-screen-icon[tooltip].tooltip-bottom::after {
  top: 32px !important;
  height: 100px !important;
}
.privacy-screen .privacy-screen-icon[tooltip].tooltip-left::after {
  right: -20px;
}
.privacy-screen .privacy-screen-icon[tooltip].tooltip-right::after {
  left: -20px;
}
.privacy-screen .privacy-screen-message {
  color: #565656;
}
#records .record .field .privacy-screen path {
  fill: #565656;
}

.dark-mode .privacy-screen .privacy-screen-message {
  color: white !important;
}
.dark-mode .privacy-screen .privacy-screen-icon path {
  fill: white !important;
}