.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.record-edit-header {
  display: -moz-box;
  display: flex;
  gap: 8px;
}
.record-edit-header button.save {
  color: #000;
}
.high-contrast-mode .record-edit-header button.save,
.high-contrast-mode .record-edit-header button.cancel {
  border: 1px solid ButtonText !important;
}
.record-edit-header .three-dots {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0 4px !important;
  align-content: center;
  border-radius: 8px;
  background-color: #f0f0f0;
}
.dark-mode .record-edit-header .three-dots {
  background-color: #404040;
}
.high-contrast-mode .record-edit-header .three-dots {
  background-color: none;
}
.high-contrast-mode .record-edit-header .three-dots {
  border: 1px solid ButtonText;
}
.record-edit-header .three-dots svg {
  margin-top: 2px;
}
.record-edit-header .three-dots svg path {
  fill: #000;
}
.dark-mode .record-edit-header .three-dots svg path {
  fill: #fff;
}
.high-contrast-mode .record-edit-header .three-dots svg path {
  fill: ButtonText;
}
.record-edit-header .menu {
  background: #fff;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 280px;
  z-index: 1;
}
.record-edit-header .menu.dark-mode {
  background: #333;
}
.record-edit-header .menu.dark-mode .item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.record-edit-header .menu .item {
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  gap: 8px;
}
.record-edit-header .menu .item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.record-edit.cs-edit {
  overflow-x: hidden;
  padding: 16px 0;
}
.record-edit.ba-edit {
  overflow-x: hidden;
  padding: 24px 9px 24px 24px;
}
.record-edit .record-edit-content {
  padding: 0 4px;
}
.record-edit .record-edit-content .record-saved-row .record-saved-icon {
  text-align: center;
  max-height: 60px;
}
.record-edit .record-edit-content .record-saved-row .record-saved-icon svg {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  width: 100%;
}
.record-edit .record-edit-content .record-saved-row span.text {
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: "Outfit-SemiBold", sans-serif;
}
.record-edit .record-edit-content .favicon-label {
  display: -moz-inline-box;
  display: inline-flex;
  margin-bottom: 8px;
}
.record-edit .record-edit-content .favicon-label img {
  height: 16px;
  width: 16px;
}
.record-edit .record-edit-content .favicon-label span {
  font-size: 13px;
  margin-left: 8px;
  font-family: Outfit-SemiBold, sans-serif;
}
.record-edit .record-edit-content .folder-selector-field .selected-item-and-dropdown-arrow .keeper-iconbutton-dropdown-arrow path {
  fill: #000;
}
.dark-mode .record-edit .record-edit-content .folder-selector-field .selected-item-and-dropdown-arrow .keeper-iconbutton-dropdown-arrow path {
  fill: #fff;
}
.record-edit .record-edit-content .record-edit-field {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: justify;
       justify-content: space-between;
  border-bottom: 1px solid #aaa;
  max-width: 336px;
}
.record-edit .record-edit-content .record-edit-field .copy[tooltip].tooltip-left::after {
  right: -2px !important;
  cursor: pointer;
}
.record-edit .record-edit-content .record-edit-field-usability {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: justify;
       justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content {
  position: relative;
  -moz-box-flex: 1;
       flex-grow: 1;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  -moz-box-align: center;
       align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #565656;
  margin-bottom: 5px;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-title {
  display: -moz-box;
  display: flex;
  color: #565656;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-info {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  font-size: 14px;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-info svg {
  margin: 0 1px;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-info svg path {
  fill: #323232;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-field-title,
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .keeper-input {
  display: -moz-box;
  display: flex;
}
.record-edit .record-edit-content .record-edit-field-usability .eyeball {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 48px;
  top: 31px;
  cursor: pointer;
}
.record-edit .record-edit-content .record-edit-field:last-child {
  margin-bottom: 16px;
}
.record-edit .record-edit-content .record-edit-field.error {
  margin-bottom: 8px;
  border-bottom-color: #b60000;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content {
  position: relative;
  -moz-box-flex: 1;
       flex-grow: 1;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
  -moz-box-align: center;
       align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #565656;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-title {
  display: -moz-box;
  display: flex;
  color: #565656;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-info {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  font-size: 14px;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-info svg {
  margin: 0 1px;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-info svg path {
  fill: #323232;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-field-title,
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .keeper-input {
  display: -moz-box;
  display: flex;
}
.record-edit .record-edit-content .record-edit-field .eyeball {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.record-edit .record-edit-content .record-edit-field.phone {
  border-bottom: none;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
       justify-content: space-between;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) .keeper-input {
  border-bottom: 1px solid #aaa;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) .keeper-input:first-child {
  flex-basis: 48%;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) .keeper-input:last-child {
  flex-basis: 48%;
}
.record-edit .record-edit-content .record-edit-field.passkey {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  border-bottom: none;
}
.record-edit .field-error {
  color: #ce021b;
  margin-top: -4px;
  margin-bottom: 24px;
  -moz-box-align: center;
       align-items: center;
  display: -moz-box;
  display: flex;
}
.record-edit .field-error svg {
  margin-right: 8px;
  fill: #ce021b;
}
.record-edit .custom-field-editor input {
  border-bottom: 1px solid var(--ksjsui-border);
}
.record-edit .custom-field-editor input:focus {
  border-bottom-color: var(--ksjsui-secondary);
}

.custom-field-label-editor-dialog input:focus {
  outline: 2px solid var(--ksjsui-ring);
  outline-offset: -1px;
}
.custom-field-label-editor-dialog > button:last-child {
  display: none;
}

.keeper-rtl .record-edit .record-edit-content .record-edit-field-usability .eyeball,
.rtl .record-edit .record-edit-content .record-edit-field-usability .eyeball {
  right: unset !important;
  left: 48px !important;
}

.dark-mode .record-edit .record-edit-field.error {
  border-bottom-color: #ff7361;
}
.dark-mode .record-edit .field-error {
  color: #ff7361;
}
.dark-mode .record-edit .field-error svg.triangleWarning path {
  fill: #ff7361;
}