.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.scan-failed-alert .keeper-iconbutton-error-outline path {
  fill: #ce021b;
}
.dark-mode .scan-failed-alert .keeper-iconbutton-error-outline path {
  fill: #ff7361;
}
.scan-failed-alert .body-container .button-container {
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  gap: 12px;
}
.scan-failed-alert .body-container .button-container .keeper-button {
  width: 100%;
  flex-basis: 40px;
}
.scan-failed-alert .body-container .button-container .keeper-button:nth-child(2) {
  background-color: transparent;
  color: #1b74da;
}
.dark-mode .scan-failed-alert .body-container .button-container .keeper-button:nth-child(2) {
  color: #48b6ff;
}
.high-contrast-mode .scan-failed-alert .body-container .button-container .keeper-button:nth-child(2) {
  color: ButtonText;
}
.scan-failed-alert .body-container .button-container .keeper-button:nth-child(2):hover {
  background-color: #f0f0f0;
  text-decoration: underline;
}
.dark-mode .scan-failed-alert .body-container .button-container .keeper-button:nth-child(2):hover {
  background-color: #565656;
}