.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.selection-none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#qrcanvas {
  border-radius: 17.697px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.qr-code-field-qol {
  position: relative;
  border-top: 1px solid transparent !important;
  -moz-transition: 0.25s padding ease;
  transition: 0.25s padding ease;
  text-align: initial;
  padding: 12px !important;
  border-radius: 8px !important;
  width: 320px;
}
.qr-code-field-qol.ltr {
  border: 1px solid #1b74da !important;
  border-radius: 4px;
  background-color: #e8f2fc;
  padding: 0 4px;
}
.qr-code-field-qol.ltr .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%231b74da%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 0;
  opacity: 1;
}
.qr-code-field-qol.ltr .qol-copy.clicked {
  -moz-animation: copied-slide-normal-copy 1.6s;
       animation: copied-slide-normal-copy 1.6s;
}
.qr-code-field-qol.ltr .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%231b74da%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: -24px;
  opacity: 0;
}
.qr-code-field-qol.ltr .qol-copied.clicked {
  -moz-animation: copied-slide-normal-copied 1.6s;
       animation: copied-slide-normal-copied 1.6s;
}
.qr-code-field-qol.ltr:has(.tt-content) {
  border: 1px solid #1b74da !important;
  border-radius: 4px;
  background-color: #e8f2fc;
  padding: 0 4px;
}
.qr-code-field-qol.ltr:has(.tt-content) .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%231b74da%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 0;
  opacity: 1;
}
.qr-code-field-qol.ltr:has(.tt-content) .qol-copy.clicked {
  -moz-animation: copied-slide-normal-copy 1.6s;
       animation: copied-slide-normal-copy 1.6s;
}
.qr-code-field-qol.ltr:has(.tt-content) .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%231b74da%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: -24px;
  opacity: 0;
}
.qr-code-field-qol.ltr:has(.tt-content) .qol-copied.clicked {
  -moz-animation: copied-slide-normal-copied 1.6s;
       animation: copied-slide-normal-copied 1.6s;
}
.qr-code-field-qol.ltr > span:not(.keeper-otp) {
  margin-right: 24px;
}
.qr-code-field-qol.ltr svg path {
  fill: #1b74da;
}
.qr-code-field-qol.rtl {
  border: 1px solid #1b74da !important;
  border-radius: 4px;
  background-color: #e8f2fc;
  padding: 0 4px;
}
.qr-code-field-qol.rtl .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%231b74da%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
  opacity: 1;
}
.qr-code-field-qol.rtl .qol-copy.clicked {
  -moz-animation: copied-slide-rtl-copy 1.6s;
       animation: copied-slide-rtl-copy 1.6s;
}
.qr-code-field-qol.rtl .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%231b74da%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: -24px;
  opacity: 0;
}
.qr-code-field-qol.rtl .qol-copied.clicked {
  -moz-animation: copied-slide-rtl-copied 1.6s;
       animation: copied-slide-rtl-copied 1.6s;
}
.qr-code-field-qol.rtl:has(.tt-content) {
  border: 1px solid #1b74da !important;
  border-radius: 4px;
  background-color: #e8f2fc;
  padding: 0 4px;
}
.qr-code-field-qol.rtl:has(.tt-content) .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%231b74da%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
  opacity: 1;
}
.qr-code-field-qol.rtl:has(.tt-content) .qol-copy.clicked {
  -moz-animation: copied-slide-rtl-copy 1.6s;
       animation: copied-slide-rtl-copy 1.6s;
}
.qr-code-field-qol.rtl:has(.tt-content) .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%231b74da%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: -24px;
  opacity: 0;
}
.qr-code-field-qol.rtl:has(.tt-content) .qol-copied.clicked {
  -moz-animation: copied-slide-rtl-copied 1.6s;
       animation: copied-slide-rtl-copied 1.6s;
}
.qr-code-field-qol.rtl > span:not(.keeper-otp) {
  margin-left: 24px;
}
.qr-code-field-qol.rtl svg path {
  fill: #1b74da;
}
.qr-code-field-qol.ltr-dark-mode {
  border: 1px solid #48b6ff !important;
  border-radius: 4px;
  background-color: #08355a;
  padding: 0 4px;
}
.qr-code-field-qol.ltr-dark-mode .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%2348b6ff%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 0;
  opacity: 1;
}
.qr-code-field-qol.ltr-dark-mode .qol-copy.clicked {
  -moz-animation: copied-slide-normal-dark-copy 1.6s;
       animation: copied-slide-normal-dark-copy 1.6s;
}
.qr-code-field-qol.ltr-dark-mode .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%2348b6ff%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: -24px;
  opacity: 0;
}
.qr-code-field-qol.ltr-dark-mode .qol-copied.clicked {
  -moz-animation: copied-slide-normal-dark-copied 1.6s;
       animation: copied-slide-normal-dark-copied 1.6s;
}
.qr-code-field-qol.ltr-dark-mode:has(.tt-content) {
  border: 1px solid #48b6ff !important;
  border-radius: 4px;
  background-color: #08355a;
  padding: 0 4px;
}
.qr-code-field-qol.ltr-dark-mode:has(.tt-content) .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%2348b6ff%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 0;
  opacity: 1;
}
.qr-code-field-qol.ltr-dark-mode:has(.tt-content) .qol-copy.clicked {
  -moz-animation: copied-slide-normal-dark-copy 1.6s;
       animation: copied-slide-normal-dark-copy 1.6s;
}
.qr-code-field-qol.ltr-dark-mode:has(.tt-content) .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%2348b6ff%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: -24px;
  opacity: 0;
}
.qr-code-field-qol.ltr-dark-mode:has(.tt-content) .qol-copied.clicked {
  -moz-animation: copied-slide-normal-dark-copied 1.6s;
       animation: copied-slide-normal-dark-copied 1.6s;
}
.qr-code-field-qol.ltr-dark-mode > span:not(.keeper-otp) {
  margin-right: 24px;
}
.qr-code-field-qol.ltr-dark-mode svg path {
  fill: #48b6ff;
}
.qr-code-field-qol.rtl-dark-mode {
  border: 1px solid #48b6ff !important;
  border-radius: 4px;
  background-color: #08355a;
  padding: 0 4px;
}
.qr-code-field-qol.rtl-dark-mode .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%2348b6ff%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
  opacity: 1;
}
.qr-code-field-qol.rtl-dark-mode .qol-copy.clicked {
  -moz-animation: copied-slide-rtl-dark-copy 1.6s;
       animation: copied-slide-rtl-dark-copy 1.6s;
}
.qr-code-field-qol.rtl-dark-mode .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%2348b6ff%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: -24px;
  opacity: 0;
}
.qr-code-field-qol.rtl-dark-mode .qol-copied.clicked {
  -moz-animation: copied-slide-rtl-dark-copied 1.6s;
       animation: copied-slide-rtl-dark-copied 1.6s;
}
.qr-code-field-qol.rtl-dark-mode:has(.tt-content) {
  border: 1px solid #48b6ff !important;
  border-radius: 4px;
  background-color: #08355a;
  padding: 0 4px;
}
.qr-code-field-qol.rtl-dark-mode:has(.tt-content) .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%2348b6ff%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
  opacity: 1;
}
.qr-code-field-qol.rtl-dark-mode:has(.tt-content) .qol-copy.clicked {
  -moz-animation: copied-slide-rtl-dark-copy 1.6s;
       animation: copied-slide-rtl-dark-copy 1.6s;
}
.qr-code-field-qol.rtl-dark-mode:has(.tt-content) .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%2348b6ff%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: -24px;
  opacity: 0;
}
.qr-code-field-qol.rtl-dark-mode:has(.tt-content) .qol-copied.clicked {
  -moz-animation: copied-slide-rtl-dark-copied 1.6s;
       animation: copied-slide-rtl-dark-copied 1.6s;
}
.qr-code-field-qol.rtl-dark-mode > span:not(.keeper-otp) {
  margin-left: 24px;
}
.qr-code-field-qol.rtl-dark-mode svg path {
  fill: #48b6ff;
}
.qr-code-field-qol.ltr-high-contrast {
  border: 1px solid HighlightText !important;
  border-radius: 4px;
  background-color: Highlight;
  padding: 0 4px;
}
.qr-code-field-qol.ltr-high-contrast > span {
  mix-blend-mode: difference;
}
.qr-code-field-qol.ltr-high-contrast .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 0;
  opacity: 1;
}
.qr-code-field-qol.ltr-high-contrast .qol-copy.clicked {
  -moz-animation: copied-slide-normal-hc-copy 1.6s;
       animation: copied-slide-normal-hc-copy 1.6s;
}
.qr-code-field-qol.ltr-high-contrast .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%23000%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: -24px;
  opacity: 0;
}
.qr-code-field-qol.ltr-high-contrast .qol-copied.clicked {
  -moz-animation: copied-slide-normal-hc-copied 1.6s;
       animation: copied-slide-normal-hc-copied 1.6s;
}
.qr-code-field-qol.ltr-high-contrast:has(.tt-content) {
  border: 1px solid HighlightText !important;
  border-radius: 4px;
  background-color: Highlight;
  padding: 0 4px;
}
.qr-code-field-qol.ltr-high-contrast:has(.tt-content) .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 0;
  opacity: 1;
}
.qr-code-field-qol.ltr-high-contrast:has(.tt-content) .qol-copy.clicked {
  -moz-animation: copied-slide-normal-hc-copy 1.6s;
       animation: copied-slide-normal-hc-copy 1.6s;
}
.qr-code-field-qol.ltr-high-contrast:has(.tt-content) .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%23000%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: -24px;
  opacity: 0;
}
.qr-code-field-qol.ltr-high-contrast:has(.tt-content) .qol-copied.clicked {
  -moz-animation: copied-slide-normal-hc-copied 1.6s;
       animation: copied-slide-normal-hc-copied 1.6s;
}
.qr-code-field-qol.ltr-high-contrast > span:not(.keeper-otp) {
  margin-right: 24px;
}
.qr-code-field-qol.ltr-high-contrast svg path {
  fill: #000;
}
.qr-code-field-qol.rtl-high-contrast {
  border: 1px solid HighlightText !important;
  border-radius: 4px;
  background-color: Highlight;
  padding: 0 4px;
}
.qr-code-field-qol.rtl-high-contrast > span {
  mix-blend-mode: difference;
}
.qr-code-field-qol.rtl-high-contrast .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
  opacity: 1;
}
.qr-code-field-qol.rtl-high-contrast .qol-copy.clicked {
  -moz-animation: copied-slide-rtl-hc-copy 1.6s;
       animation: copied-slide-rtl-hc-copy 1.6s;
}
.qr-code-field-qol.rtl-high-contrast .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%23000%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: -24px;
  opacity: 0;
}
.qr-code-field-qol.rtl-high-contrast .qol-copied.clicked {
  -moz-animation: copied-slide-rtl-hc-copied 1.6s;
       animation: copied-slide-rtl-hc-copied 1.6s;
}
.qr-code-field-qol.rtl-high-contrast:has(.tt-content) {
  border: 1px solid HighlightText !important;
  border-radius: 4px;
  background-color: Highlight;
  padding: 0 4px;
}
.qr-code-field-qol.rtl-high-contrast:has(.tt-content) .qol-copy {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16%201H4C2.9%201%202%201.9%202%203V17H4V3H16V1ZM19%205H8C6.9%205%206%205.9%206%207V21C6%2022.1%206.9%2023%208%2023H19C20.1%2023%2021%2022.1%2021%2021V7C21%205.9%2020.1%205%2019%205ZM8%2021H19V7H8V21Z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
  opacity: 1;
}
.qr-code-field-qol.rtl-high-contrast:has(.tt-content) .qol-copy.clicked {
  -moz-animation: copied-slide-rtl-hc-copy 1.6s;
       animation: copied-slide-rtl-hc-copy 1.6s;
}
.qr-code-field-qol.rtl-high-contrast:has(.tt-content) .qol-copied {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2227%22%20viewBox%3D%220%200%2026%2027%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M9.99991%2016.1698L5.82991%2011.9998L4.40991%2013.4098L9.99991%2018.9998L21.9999%206.99984L20.5899%205.58984L9.99991%2016.1698Z%22%20fill%3D%22%23000%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: -24px;
  opacity: 0;
}
.qr-code-field-qol.rtl-high-contrast:has(.tt-content) .qol-copied.clicked {
  -moz-animation: copied-slide-rtl-hc-copied 1.6s;
       animation: copied-slide-rtl-hc-copied 1.6s;
}
.qr-code-field-qol.rtl-high-contrast > span:not(.keeper-otp) {
  margin-left: 24px;
}
.qr-code-field-qol.rtl-high-contrast svg path {
  fill: #000;
}
.landscape .qr-code-field-qol {
  width: 280px;
}