.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.overlayalert.fadeAway.text-with-icon {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: center;
       align-items: center;
  gap: 12px;
  height: unset;
  max-height: unset;
}
.overlayalert.fadeAway.text-with-icon [class^=keeper-iconbutton-] {
  width: 24px;
  height: 24px;
}
.overlayalert.fadeAway.text-with-icon [class^=keeper-iconbutton-] path {
  fill: #ffc700;
}
.overlayalert.fadeAway.text-with-icon .text {
  color: #fff;
}
.overlayalert.fadeAway.text-with-icon.record-deletion, .overlayalert.fadeAway.text-with-icon.snapshot-success {
  padding: 24px;
  width: unset;
  gap: 8px;
}
.overlayalert.fadeAway.text-with-icon.high-contrast-mode [class^=keeper-iconbutton-] path {
  fill: CanvasText;
}