body {
  margin: auto;
  padding: 0;
  font-family: Outfit, sans-serif;
}

.header {
  overflow: hidden;
  padding: 0 10px;
  background-color: black;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 5%;
}

#svgLogo {
  width: 128px;
  height: 37px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: black;
  height: 75px;
  color: white;
  text-align: center;
  -moz-box-align: center;
       align-items: center;
}

.footer-middle {
  display: inline-block;
  margin-left: 15%;
}

.footer-right {
  float: right;
  margin-right: 5%;
}

.footer-middle ul a {
  text-decoration: none;
}

.footer-middle ul a svg {
  height: 21px;
  width: 21px;
  margin-left: 15px;
  margin-top: 10px;
}

#copyright {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 25px;
}

#json {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 12px;
}
