.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

#keeper-extension.passkeyCreate .keeper-header,
#keeper-extension.passkeyGet .keeper-header {
  background-image: initial !important;
  display: -moz-box;
  display: flex;
  -moz-box-align: start;
       align-items: start;
  padding: 20px !important;
  gap: 16px;
  height: auto !important;
  min-height: 68px !important;
}
#keeper-extension.passkeyCreate .keeper-header.bottom-border,
#keeper-extension.passkeyGet .keeper-header.bottom-border {
  box-shadow: inset 0 -1px 0 #d8d8d8;
}
#keeper-extension.passkeyCreate .keeper-header .passkey-header,
#keeper-extension.passkeyGet .keeper-header .passkey-header {
  display: -moz-box;
  display: flex;
  gap: 16px;
  -moz-box-align: start;
       align-items: start;
}
#keeper-extension.passkeyCreate .keeper-header .passkey-header svg,
#keeper-extension.passkeyGet .keeper-header .passkey-header svg {
  height: 28px;
  width: 28px;
  flex-shrink: 0;
}
#keeper-extension.passkeyCreate .keeper-header #passkey-header-title,
#keeper-extension.passkeyGet .keeper-header #passkey-header-title {
  font-family: Outfit-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
#keeper-extension.passkeyCreate .keeper-header .keeper-logo,
#keeper-extension.passkeyGet .keeper-header .keeper-logo {
  display: none;
}
#keeper-extension.passkeyCreate .keeper-header .keeper-close,
#keeper-extension.passkeyGet .keeper-header .keeper-close {
  border-radius: 4px;
}
#keeper-extension.passkeyCreate .keeper-header .keeper-close svg path,
#keeper-extension.passkeyGet .keeper-header .keeper-close svg path {
  fill: #565656 !important;
}
#keeper-extension.passkeyCreate *:focus-visible.focus-visible,
#keeper-extension.passkeyGet *:focus-visible.focus-visible {
  outline: 2px solid #054b91;
  outline-offset: 2px;
}

#keeper-extension.passkeyCreate.dark-mode,
#keeper-extension.passkeyGet.dark-mode {
  background: #262626 !important;
}
#keeper-extension.passkeyCreate.dark-mode .keeper-header,
#keeper-extension.passkeyGet.dark-mode .keeper-header {
  background: initial !important;
}
#keeper-extension.passkeyCreate.dark-mode .keeper-header.bottom-border,
#keeper-extension.passkeyGet.dark-mode .keeper-header.bottom-border {
  box-shadow: inset 0 -1px 0 #404040;
}
#keeper-extension.passkeyCreate.dark-mode .keeper-header .keeper-close svg path,
#keeper-extension.passkeyGet.dark-mode .keeper-header .keeper-close svg path {
  fill: #b3b3b3 !important;
}
#keeper-extension.passkeyCreate.dark-mode *:focus-visible.focus-visible,
#keeper-extension.passkeyGet.dark-mode *:focus-visible.focus-visible {
  outline-color: #48b6ff;
}

#keeper-extension.passkeyCreateSuccess,
#keeper-extension.passkeyGetSuccess {
  background: black;
}
#keeper-extension.passkeyCreateSuccess .passkey-success,
#keeper-extension.passkeyGetSuccess .passkey-success {
  display: -moz-box;
  display: flex;
  gap: 12px;
  padding: 16px;
  -moz-box-align: center;
       align-items: center;
}
#keeper-extension.passkeyCreateSuccess .passkey-success svg,
#keeper-extension.passkeyGetSuccess .passkey-success svg {
  flex-shrink: 0;
}
#keeper-extension.passkeyCreateSuccess .passkey-success span,
#keeper-extension.passkeyGetSuccess .passkey-success span {
  color: white;
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 15px;
  line-height: 24px;
  -moz-box-flex: 1;
       flex-grow: 1;
}
#keeper-extension.passkeyCreateSuccess .passkey-success .keeper-close,
#keeper-extension.passkeyGetSuccess .passkey-success .keeper-close {
  border-radius: 4px;
}
#keeper-extension.passkeyCreateSuccess .passkey-success .keeper-close svg path,
#keeper-extension.passkeyGetSuccess .passkey-success .keeper-close svg path {
  fill: white !important;
}
#keeper-extension.passkeyCreateSuccess *:focus-visible.focus-visible,
#keeper-extension.passkeyGetSuccess *:focus-visible.focus-visible {
  outline: 2px solid #48b6ff;
}

.passkey-prompt-content {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  padding: 0 20px 20px;
  gap: 20px;
}

.passkey-record-item {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-align: center;
       align-items: center;
  padding: 12px;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}
.dark-mode .passkey-record-item {
  border: 1px solid #404040;
}
.passkey-record-item.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.dark-mode .passkey-record-item.shadow {
  background: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.passkey-record-item div[role=button] {
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.passkey-record-item div.edit {
  border-radius: 4px;
}
.passkey-record-item div.edit svg path {
  fill: black;
}
.dark-mode .passkey-record-item div.edit svg path {
  fill: white;
}
.passkey-record-item svg {
  flex-shrink: 0;
}

.passkey-record-item-info {
  -moz-box-flex: 1;
       flex-grow: 1;
  max-width: 226px;
}
.passkey-record-item-info div.passkey-info-title {
  font-size: 16px;
  font-family: Outfit-SemiBold, sans-serif;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}
.dark-mode .passkey-record-item-info div.passkey-info-title {
  color: #fff;
}
.passkey-record-item-info div.passkey-info-username {
  display: -moz-box;
  display: flex;
  gap: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #565656;
}
.dark-mode .passkey-record-item-info div.passkey-info-username {
  color: #b3b3b3;
}
.passkey-record-item-info div.passkey-info-username span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.passkey-record-item-info div.passkey-info-username svg {
  flex-shrink: 0;
}
.passkey-record-item-info div.passkey-info-username svg path {
  fill: #565656;
}
.dark-mode .passkey-record-item-info div.passkey-info-username svg path {
  fill: #b3b3b3;
}

.passkey-record-editor {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  align-self: stretch;
  gap: 24px;
  max-height: 376px;
  overflow-y: auto;
  padding: 4px;
  margin: -4px;
}
.passkey-record-editor input,
.passkey-record-editor textarea {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  font-family: Outfit, sans-serif;
  font-size: 15px;
  -moz-box-flex: 1;
       flex-grow: 1;
  resize: none;
}
.passkey-record-editor input::-webkit-input-placeholder, .passkey-record-editor textarea::-webkit-input-placeholder {
  color: #565656;
  opacity: 1;
}
.passkey-record-editor input::-moz-placeholder, .passkey-record-editor textarea::-moz-placeholder {
  color: #565656;
  opacity: 1;
}
.passkey-record-editor input:-ms-input-placeholder, .passkey-record-editor textarea:-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
.passkey-record-editor input::-ms-input-placeholder, .passkey-record-editor textarea::-ms-input-placeholder {
  color: #565656;
  opacity: 1;
}
.passkey-record-editor input::placeholder,
.passkey-record-editor textarea::placeholder {
  color: #565656;
  opacity: 1;
}
.dark-mode .passkey-record-editor input::-webkit-input-placeholder, .dark-mode .passkey-record-editor textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}
.dark-mode .passkey-record-editor input::-moz-placeholder, .dark-mode .passkey-record-editor textarea::-moz-placeholder {
  color: #b3b3b3;
}
.dark-mode .passkey-record-editor input:-ms-input-placeholder, .dark-mode .passkey-record-editor textarea:-ms-input-placeholder {
  color: #b3b3b3;
}
.dark-mode .passkey-record-editor input::-ms-input-placeholder, .dark-mode .passkey-record-editor textarea::-ms-input-placeholder {
  color: #b3b3b3;
}
.dark-mode .passkey-record-editor input::placeholder,
.dark-mode .passkey-record-editor textarea::placeholder {
  color: #b3b3b3;
}
.dark-mode .passkey-record-editor input,
.dark-mode .passkey-record-editor textarea {
  border: 1px solid #d8d8d8;
  color: white;
  background: #262626;
}

.passkey-record-editor-title {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-align: end;
       align-items: flex-end;
  padding: 0;
  gap: 8px;
  align-self: stretch;
}
.passkey-record-editor-title input {
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 17px;
  line-height: 24px;
  height: 40px;
}

.passkey-record-editor-passkey {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  align-self: stretch;
  margin-top: -8px;
}
.passkey-record-editor-passkey .passkey-field .passkey-field-title .passkey-field-title-text {
  color: #000;
}
.dark-mode .passkey-record-editor-passkey .passkey-field .passkey-field-title .passkey-field-title-text {
  color: #fff;
}

.passkey-record-editor-notes {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  padding: 0;
  gap: 4px;
  align-self: stretch;
}
.passkey-record-editor-notes label {
  font-size: 14px;
  line-height: 20px;
  color: #565656;
}
.dark-mode .passkey-record-editor-notes label {
  color: #b3b3b3;
}
.passkey-record-editor-notes textarea {
  align-self: stretch;
  line-height: 19px;
  height: 39px;
}

.passkey-choices {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
}
.passkey-choices .passkey-choices-list-container {
  padding: 0 20px;
  align-self: stretch;
}
.passkey-choices .passkey-prompt-buttons {
  padding: 20px;
}
.passkey-choices .passkey-prompt-buttons.top-border {
  box-shadow: inset 0 1px 0 #d8d8d8;
}
.dark-mode .passkey-choices .passkey-prompt-buttons.top-border {
  box-shadow: inset 0 1px 0 #404040;
}
.passkey-choices .passkey-choices-list {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  gap: 4px;
  max-height: 332px;
  overflow-y: auto;
  align-self: stretch;
  overscroll-behavior-y: none;
  padding: 4px 12px;
  margin: -4px -12px;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
@supports (overflow-y: overlay) {
  .passkey-choices .passkey-choices-list {
    overflow-y: overlay;
  }
}
.passkey-choices .passkey-choices-list.top-is-clipped {
  padding-top: 0;
  margin-top: 0;
}
.passkey-choices .passkey-choices-list.bottom-is-clipped {
  padding-bottom: 0;
  margin-bottom: 0;
}
.passkey-choices .passkey-choices-list::-webkit-scrollbar {
  width: 8px !important;
}
.passkey-choices .passkey-choices-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
}
.dark-mode .passkey-choices .passkey-choices-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.windows .passkey-choices .passkey-choices-list {
  scrollbar-width: thin;
}
.dark-mode .passkey-choices .passkey-choices-list {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
.passkey-choices .passkey-choices-item {
  border-radius: 8px;
  align-self: stretch;
  cursor: pointer;
}
.passkey-choices .passkey-choices-item .passkey-record-item {
  box-shadow: initial;
}
.passkey-choices .passkey-choices-item .passkey-record-item:hover {
  background: #f0f0f0;
}
.dark-mode .passkey-choices .passkey-choices-item .passkey-record-item:hover {
  background: #404040;
}
.passkey-choices .passkey-choices-item-content {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-align: center;
       align-items: center;
  gap: 12px;
  height: 44px;
}
.passkey-choices .passkey-choices-item-icon {
  background: #fff;
}
.passkey-choices .passkey-choices-item-icon > svg path {
  fill: #1b74da;
}
.passkey-choices .passkey-choices-item-info {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-align: start;
       align-items: flex-start;
  padding: 0;
  -moz-box-flex: 0;
       flex: none;
  -moz-box-flex: 1;
       flex-grow: 1;
}
.passkey-choices .passkey-choices-item-info > div:first-child {
  height: 24px;
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.passkey-choices .passkey-choices-item-info > div:last-child {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #565656;
  mix-blend-mode: normal;
}

.login-svg-container {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  background: #fff;
  flex-shrink: 0;
}
.login-svg-container > svg {
  position: absolute;
  inset: 20%;
}

.passkey-prompt-buttons {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
  -moz-box-pack: justify;
       justify-content: space-between;
  align-self: stretch;
  gap: 12px;
}
.passkey-prompt-buttons button {
  border-radius: 8px;
  font-size: 15px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
.passkey-prompt-buttons button:first-child {
  font-family: Outfit-SemiBold, sans-serif;
  background: #ffc700;
  padding: 2px 16px;
  height: 44px;
  color: #000;
}
.passkey-prompt-buttons button:first-child:hover {
  background: #e6b300;
}
.passkey-prompt-buttons button:nth-child(2) {
  font-family: Outfit, sans-serif;
  height: 32px;
  padding: 4px 8px;
  color: #1b74da;
  background: transparent;
}
.dark-mode .passkey-prompt-buttons button:nth-child(2) {
  color: #48b6ff !important;
}

.passkey-record-select {
  align-self: stretch;
}
.passkey-record-select .passkey-record-select-control {
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #f0f0f0;
  align-self: stretch;
  font-family: Outfit-SemiBold, sans-serif;
  font-size: 15px;
  cursor: pointer;
}
.passkey-record-select .passkey-record-select-control:focus-within:not(.isOpen) {
  outline: 2px solid #054b91 !important;
  outline-offset: 2px;
}
.dark-mode .passkey-record-select .passkey-record-select-control:focus-within:not(.isOpen) {
  outline-color: #48b6ff !important;
}
.dark-mode .passkey-record-select .passkey-record-select-control {
  background: #404040;
}
.passkey-record-select .passkey-record-select-value-container {
  color: #000;
  padding: 0 16px;
}
.dark-mode .passkey-record-select .passkey-record-select-value-container {
  color: #fff;
}
.passkey-record-select .passkey-record-select-indicators-container {
  padding: 8px;
}
.passkey-record-select .passkey-record-select-indicators-container path {
  fill: black;
}
.dark-mode .passkey-record-select .passkey-record-select-indicators-container path {
  fill: white;
}
.passkey-record-select .passkey-record-select-menu {
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 4px;
  cursor: pointer;
  padding: 8px;
}
.dark-mode .passkey-record-select .passkey-record-select-menu {
  background: #262626;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list {
  overscroll-behavior-y: none;
  padding: 5px;
  margin: -5px;
  scrollbar-color: transparent transparent;
}
@supports (overflow-y: overlay) {
  .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list {
    overflow-y: overlay;
  }
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list::-webkit-scrollbar {
  width: 8px !important;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border: none !important;
}
.windows .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list {
  scrollbar-width: thin;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list:hover, .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list.isScrolling {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list:hover::-webkit-scrollbar-thumb, .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list.isScrolling::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list:hover::-webkit-scrollbar-thumb, .dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list.isScrolling::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list:hover, .dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-menu-list.isScrolling {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-group-divider {
  padding: 8px;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-group-divider > div {
  height: 1px;
  background: #d8d8d8;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-group-divider > div {
  background: #565656;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option:hover {
  background: #f0f0f0;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-option:hover {
  background: #404040;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option.focused {
  outline: 2px solid #054b91;
  outline-offset: 2px;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-option.focused {
  outline-color: #48b6ff;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option svg.check {
  flex-shrink: 0;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option svg.check path {
  fill: black;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-option svg.check path {
  fill: white;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option.create-new-record {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  padding: 8px;
  gap: 8px;
  height: 40px;
  border-radius: 8px;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option.create-new-record svg.add-circle {
  flex-shrink: 0;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option.create-new-record svg.add-circle path {
  fill: #1b74da;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-option.create-new-record svg.add-circle path {
  fill: #48b6ff;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-select-option.create-new-record span {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: #1b74da;
  -moz-box-flex: 1;
       flex-grow: 1;
}
.dark-mode .passkey-record-select .passkey-record-select-menu .passkey-record-select-option.create-new-record span {
  color: #48b6ff;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-item {
  border: none;
  padding: 8px;
}
.passkey-record-select .passkey-record-select-menu .passkey-record-item .passkey-info-title {
  font-size: 15px;
}

div.passkey-error {
  font-size: 15px;
  line-height: 24px;
  color: #000;
}
.dark-mode div.passkey-error {
  color: #fff;
}