.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptGSE.dark-mode .container .text {
  color: #fff;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptGSE.dark-mode .container .keeper-iconbutton-close path {
  fill: #fff;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptGSE.high-contrast-mode .keeper-iconbutton-close path {
  fill: CanvasText;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptGSE .container {
  padding: 12px;
  gap: 8px;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptGSE .container .text {
  font-size: 14px;
  color: #565656;
  line-height: 20px;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptGSE .container .keeper-iconbutton-close {
  cursor: pointer;
  flex-shrink: 0;
}

div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction.high-contrast-mode .container .header-container .keeper-iconbutton-cancelx rect {
  fill: CanvasText;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction.dark-mode .container .header-container .icon-and-header .text {
  color: #fff;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction.dark-mode .container .header-container .keeper-iconbutton-cancelx rect {
  fill: #fff;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction.dark-mode .container .text {
  color: #fff;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container {
  padding: 20px;
  gap: 20px;
  height: initial;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container .header-container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: justify;
       justify-content: space-between;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container .header-container .icon-and-header {
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
       flex-direction: row;
  gap: 12px;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container .header-container .icon-and-header .keeper-iconbutton-keeper-icon {
  width: 28px;
  height: 28px;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container .header-container .icon-and-header p.text {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container .header-container .keeper-iconbutton-cancelx {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container .header-container .keeper-iconbutton-cancelx rect {
  fill: #565656;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container p.text {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.addToKeeperPromptForcingFunction .container .keeper-button {
  width: 100%;
  height: 44px;
}

div#keeper-extension-root > #keeper-extension.addToKeeperPrompt {
  padding: 12px 16px;
  box-shadow: none !important;
  background-color: transparent !important;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.dark-mode .container {
  background: #000;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.high-contrast-mode {
  border: none !important;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt.high-contrast-mode .container {
  border: 1px solid CanvasText;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt .container {
  height: 64px;
  padding: 12px 16px;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt .container .keeper-button {
  width: 100%;
  height: 100%;
  gap: 8px;
  background-color: #ffc700;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt .container .keeper-button:hover {
  background-color: #e6b300;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt .container .keeper-button:focus-visible {
  width: -moz-calc(100% + 4px);
  width: calc(100% + 4px);
  height: -moz-calc(100% + 4px);
  height: calc(100% + 4px);
  outline: 2px solid #054b91;
  border: 2px solid #fff;
  -moz-transform: translate(-2px, -2px);
   -ms-transform: translate(-2px, -2px);
       transform: translate(-2px, -2px);
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt .container .keeper-button .keeper-iconbutton-keeper-icon {
  width: 24px;
  height: 24px;
}
div#keeper-extension-root > #keeper-extension.addToKeeperPrompt .container .keeper-button .text {
  color: #000;
  text-align: center;
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}