.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.rtl .password-and-passphrase-alert .body-container .messages-container .password-rule-list-container {
  text-align: right;
}

.dark-mode .password-and-passphrase-alert .keeper-iconbutton-triangle-warning {
  width: 32px;
  height: 32px;
}
.dark-mode .password-and-passphrase-alert .keeper-iconbutton-triangle-warning path {
  fill: #ff7361;
}
.dark-mode .password-and-passphrase-alert .body-container .messages-container .password-rule-list-container {
  color: #b3b3b3;
}

.password-and-passphrase-alert .keeper-iconbutton-triangle-warning {
  width: 32px;
  height: 32px;
}
.password-and-passphrase-alert .keeper-iconbutton-triangle-warning path {
  fill: #ce021b;
}
.password-and-passphrase-alert .body-container .messages-container h1 {
  font-family: Outfit-SemiBold, sans-serif;
}
.password-and-passphrase-alert .body-container .messages-container .password-rule-list-container {
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #565656;
}
.password-and-passphrase-alert .body-container .messages-container .password-rule-list-container ul li::marker {
  font-size: 10px;
}
.password-and-passphrase-alert .body-container .button-container {
  font-size: 15px;
  font-weight: bold;
}