.label-d8 {
  color: #d8d8d8;
}

.subtext {
  color: #888888;
}
.dark-mode .subtext {
  color: #b3b3b3;
}

.totp-edit-field.existing {
  gap: 12px;
}
.totp-edit-field.existing .field.otp {
  width: 100%;
}
.totp-edit-field.existing .delete {
  width: 24px;
  height: 24px;
  -moz-transform: translateY(12px);
   -ms-transform: translateY(12px);
       transform: translateY(12px);
  cursor: pointer;
}
.totp-edit-field.existing .delete svg path {
  fill: #000;
}
.dark-mode .totp-edit-field.existing .delete svg path {
  fill: #b3b3b3;
}
.high-contrast-mode .totp-edit-field.existing .delete svg path {
  fill: CanvasText;
}

.totp-edit-field.empty-manual {
  gap: 14px;
}
.totp-edit-field.empty-manual .manual-entry-input {
  gap: 4px;
  width: 100%;
}
.totp-edit-field.empty-manual .manual-entry-input label,
.totp-edit-field.empty-manual .manual-entry-input input {
  color: #565656;
  color: #565656;
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.dark-mode .totp-edit-field.empty-manual .manual-entry-input label,
.dark-mode .totp-edit-field.empty-manual .manual-entry-input input {
  color: #b3b3b3;
}
.totp-edit-field.empty-manual .manual-entry-input label {
  font-size: 14px;
}
.totp-edit-field.empty-manual .manual-entry-input .input-container {
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #d8d8d8;
}
.dark-mode .totp-edit-field.empty-manual .manual-entry-input .input-container {
  border-bottom: 1px solid #565656;
}
.totp-edit-field.empty-manual .manual-entry-input .input-container.mouse-down:has(input:focus-visible) {
  outline: none;
  border-bottom: 1px solid #1b74da;
}
.dark-mode .totp-edit-field.empty-manual .manual-entry-input .input-container.mouse-down:has(input:focus-visible) {
  border-bottom: 1px solid #48b6ff;
}
.high-contrast-mode .totp-edit-field.empty-manual .manual-entry-input .input-container.mouse-down:has(input:focus-visible) {
  border-bottom: 1px solid Highlight;
}
.totp-edit-field.empty-manual .manual-entry-input .input-container:has(input:focus-visible):not(.mouse-down) {
  border-radius: 8px;
  outline: 2px solid #054b91;
}
.dark-mode .totp-edit-field.empty-manual .manual-entry-input .input-container:has(input:focus-visible):not(.mouse-down) {
  outline: 2px solid #48b6ff;
}
.high-contrast-mode .totp-edit-field.empty-manual .manual-entry-input .input-container:has(input:focus-visible):not(.mouse-down) {
  outline: 2px solid Highlight;
}
.totp-edit-field.empty-manual .manual-entry-input .input-container input {
  background-color: rgba(0, 0, 0, 0);
  height: 24px;
  width: 100%;
  font-size: 15px;
  border: none;
  padding: 0;
}
.totp-edit-field.empty-manual .manual-entry-input .input-container input:focus-visible {
  outline: none;
}
.totp-edit-field.empty-manual .qr-code-scanner-border {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid #565656;
}
.dark-mode .totp-edit-field.empty-manual .qr-code-scanner-border {
  border: 2px solid #fff;
}
.high-contrast-mode .totp-edit-field.empty-manual .qr-code-scanner-border {
  border: 2px solid CanvasText;
}
.totp-edit-field.empty-manual .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner {
  cursor: pointer;
}
.totp-edit-field.empty-manual .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner path {
  fill: #565656;
}
.dark-mode .totp-edit-field.empty-manual .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner path {
  fill: #fff;
}
.high-contrast-mode .totp-edit-field.empty-manual .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner path {
  fill: CanvasText;
}

.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip {
  gap: 4px;
  cursor: pointer;
  position: relative;
}
.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code {
  gap: 8px;
}
.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code .qr-code-scanner-border {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #1b74da;
}
.dark-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code .qr-code-scanner-border {
  border: 1px solid #48b6ff;
}
.high-contrast-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code .qr-code-scanner-border {
  border: 1px solid ButtonText;
}
.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner {
  width: 24px;
  height: 24px;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}
.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner path {
  fill: #1b74da;
}
.dark-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner path {
  fill: #48b6ff;
}
.high-contrast-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code .qr-code-scanner-border .keeper-iconbutton-qr-code-scanner path {
  fill: ButtonText;
}
.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code span.text {
  color: #1b74da;
  font-family: Outfit, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}
.dark-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code span.text {
  color: #48b6ff;
}
.high-contrast-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .scan-2fa-code span.text {
  color: ButtonText;
}
.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .keeper-iconbutton-help-outline {
  width: 24px;
  height: 24px;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}
.totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .keeper-iconbutton-help-outline path {
  fill: #565656;
}
.dark-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .keeper-iconbutton-help-outline path {
  fill: #fff;
}
.high-contrast-mode .totp-edit-field.empty-scan .scan-2fa-code-with-tooltip .keeper-iconbutton-help-outline path {
  fill: CanvasText;
}
.totp-edit-field.empty-scan .keeper-iconbutton-keyboard {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.totp-edit-field.empty-scan .keeper-iconbutton-keyboard path {
  fill: #565656;
}
.dark-mode .totp-edit-field.empty-scan .keeper-iconbutton-keyboard path {
  fill: #fff;
}
.high-contrast-mode .totp-edit-field.empty-scan .keeper-iconbutton-keyboard path {
  fill: CanvasText;
}