#generate-password > .form-container .generate-password {
  -moz-box-pack: justify;
       justify-content: space-between;
}
#generate-password .row {
  display: -moz-box;
  display: flex;
}

.overlayalert.fadeAway.text-with-icon {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  gap: 12px;
}
.overlayalert.fadeAway.text-with-icon.dark-mode {
  border: 1px solid #979797 !important;
  background: #1f1f1f !important;
}
.overlayalert.fadeAway.text-with-icon [class^=keeper-iconbutton-] {
  width: 24px;
  height: 24px;
}